In [234]:
import pandas as pd
import numpy as np

In [235]:
hebrew = pd.read_csv("hebrew/English_Hebrew.csv")
hebrew_data = pd.read_csv("hebrew/English_Hebrew_data.csv")
subject_info = pd.read_excel("hebrew/English_Hebrew_data_2.xls")

In [236]:
hebrew_data["gender"] = subject_info["gender"][:40].astype(int)
hebrew_data["age"] = subject_info["age"][:40].astype(int)

In [237]:
is_eng = []
for i,term in hebrew.iterrows():
    if term[0] == term[3]:
        is_eng.append(True)
    else:
        is_eng.append(False)

In [238]:
hebrew["is_eng"] = is_eng

In [239]:
hebrew

,item,type,definition,gloss,language,choices,itemID,complexity_category,is_eng
0,baa baa,Sounds,baa baa,baa baa,Eng,comprehension/production,item_1,NaN,True
1,מה מה,Sounds,מה מה,baa baa,Heb,comprehension/production,item_2,NaN,False
2,בזז...,Sounds,בזז...,baa baa,Heb,comprehension/production,item_3,NaN,False
3,choo choo,Sounds,choo choo,choo choo,Eng,comprehension/production,item_4,NaN,True
4,ציק ציק צאק,Sounds,ציק ציק צאק,choo choo,Heb,comprehension/production,item_5,NaN,False
...,...,...,...,...,...,...,...,...,...
1306,because,Connecting Words,because,because,universal,comprehension/production,item_1307,NaN,True
1307,but,Connecting Words,but,but,universal,comprehension/production,item_1308,NaN,True
1308,if,Connecting Words,if,if,universal,comprehension/production,item_1309,NaN,True
1309,so,Connecting Words,so,so,universal,comprehension/production,item_1310,NaN,True
1310,then,Connecting Words,then,then,universal,comprehension/production,item_1311,NaN,True

In [240]:
english_terms = hebrew[hebrew["is_eng"] == True]
# english_terms
english_terms_id = english_terms["itemID"].to_list()
# english_terms_id

In [241]:
id_to_term = dict(zip(english_terms.itemID,english_terms.item))

In [242]:
keep_columns = list(hebrew_data.columns)
keep_columns = keep_columns[:1]+english_terms_id+keep_columns[-2:]
## these columns are not found in the general data set because some child are missing some entries
missing = ['item_1278', 'item_1266', 'item_1022', 'item_1294', 'item_1122', 'item_1236', 'item_1263', 'item_1166', 'item_1068', 'item_1109', 'item_1187', 'item_1089', 'item_1071', 'item_1216', 'item_1167', 'item_1285', 'item_1072', 'item_1027', 'item_1302', 'item_1183', 'item_1297', 'item_1202', 'item_1063', 'item_1103', 'item_1112', 'item_1238', 'item_1032', 'item_1064', 'item_1300', 'item_1220', 'item_1099', 'item_1240', 'item_1307', 'item_1034', 'item_1118', 'item_1095', 'item_1310', 'item_1128', 'item_1080', 'item_1299', 'item_1005', 'item_1147', 'item_1082', 'item_1053', 'item_1196', 'item_1256', 'item_1270', 'item_1084', 'item_1303', 'item_1017', 'item_1309', 'item_1174', 'item_1235', 'item_1041', 'item_1121', 'item_1127', 'item_1181', 'item_1286', 'item_1258', 'item_1268', 'item_1153', 'item_1045', 'item_1305', 'item_1283', 'item_1100', 'item_1117', 'item_1247', 'item_1179', 'item_1163', 'item_1155', 'item_1296', 'item_1066', 'item_1231', 'item_1108', 'item_1178', 'item_1244', 'item_1001', 'item_1291', 'item_1157', 'item_1142', 'item_1264', 'item_1293', 'item_1290', 'item_1111', 'item_1207', 'item_1136', 'item_1051', 'item_1009', 'item_1260', 'item_1093', 'item_1176', 'item_1282', 'item_1161', 'item_1298', 'item_1055', 'item_1280', 'item_1139', 'item_1015', 'item_1104', 'item_1295', 'item_1129', 'item_1114', 'item_1211', 'item_1173', 'item_1007', 'item_1199', 'item_1057', 'item_1287', 'item_1239', 'item_1308', 'item_1061', 'item_1213', 'item_1230', 'item_1115', 'item_1233', 'item_1171', 'item_1029', 'item_1185', 'item_1292', 'item_1242', 'item_1085', 'item_1254', 'item_1188', 'item_1092', 'item_1126', 'item_1074', 'item_1227', 'item_1222', 'item_1024', 'item_1180', 'item_1169', 'item_1245', 'item_1087', 'item_1091', 'item_1249', 'item_1039', 'item_1252', 'item_1205', 'item_1145', 'item_1301', 'item_1124', 'item_1144', 'item_1223', 'item_1140', 'item_1076', 'item_1191', 'item_1097', 'item_1162', 'item_1193', 'item_1265', 'item_1272', 'item_1160', 'item_1106', 'item_1133', 'item_1150', 'item_1225', 'item_1119', 'item_1289', 'item_1209', 'item_1078', 'item_1047', 'item_1219', 'item_1131', 'item_1228', 'item_1065', 'item_1250', 'item_1020', 'item_1218', 'item_1306', 'item_1189', 'item_1279', 'item_1116', 'item_1037', 'item_1275', 'item_1274', 'item_1003', 'item_1069', 'item_1304', 'item_1164', 'item_1311', 'item_1195', 'item_1011']
keep_columns = [x for x in keep_columns if x not in missing]
len(keep_columns)

489

In [243]:
items_from_id = [id_to_term[a] for a in keep_columns[1:-2]]

In [244]:
## run this only once, not sure what went wrong but if ran > once more columns will be added
hebrew_data = hebrew_data[keep_columns]
len(hebrew_data.columns)

489

In [245]:
hebrew_data

,Child,item_1,item_4,item_7,item_10,item_12,item_15,item_17,item_19,item_21,...,item_984,item_986,item_990,item_992,item_994,item_996,item_998,item_999,gender,age
0,Child1,produce,NaN,produce,NaN,produce,produce,NaN,NaN,NaN,...,NaN,comprehend,NaN,NaN,NaN,NaN,NaN,NaN,2,24
1,Child2,produce,produce,NaN,comprehend,produce,produce,NaN,produce,NaN,...,NaN,comprehend,comprehend,comprehend,comprehend,comprehend,NaN,NaN,1,26
2,Child3,produce,produce,comprehend,produce,produce,produce,produce,produce,produce,...,comprehend,comprehend,produce,comprehend,comprehend,comprehend,comprehend,comprehend,1,24
3,Child4,produce,produce,comprehend,comprehend,comprehend,produce,produce,comprehend,produce,...,comprehend,comprehend,comprehend,comprehend,comprehend,comprehend,comprehend,comprehend,1,24
4,Child5,produce,produce,produce,produce,produce,produce,produce,produce,produce,...,comprehend,produce,comprehend,comprehend,comprehend,comprehend,comprehend,comprehend,2,36
5,Child6,produce,produce,produce,produce,produce,produce,produce,produce,produce,...,NaN,NaN,produce,produce,produce,produce,produce,produce,2,36
6,Child7,comprehend,produce,produce,comprehend,produce,produce,produce,produce,produce,...,comprehend,produce,comprehend,comprehend,comprehend,comprehend,comprehend,comprehend,2,34
7,Child8,comprehend,comprehend,produce,produce,produce,produce,produce,comprehend,produce,...,comprehend,comprehend,comprehend,produce,comprehend,comprehend,comprehend,comprehend,1,34
8,Child9,produce,produce,produce,comprehend,produce,produce,produce,produce,produce,...,comprehend,comprehend,comprehend,comprehend,comprehend,comprehend,produce,comprehend,1,29
9,Child10,NaN,NaN,NaN,NaN,produce,produce,produce,NaN,produce,...,produce,NaN,produce,NaN,NaN,NaN,NaN,produce,1,26
10,Child11,NaN,NaN,produce,NaN,produce,NaN,produce,NaN,produce,...,produce,produce,produce,produce,produce,produce,NaN,produce,2,32
11,Child12,produce,comprehend,comprehend,comprehend,produce,produce,produce,produce,produce,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,comprehend,2,32
12,Child13,NaN,comprehend,NaN,comprehend,produce,produce,comprehend,NaN,comprehend,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,32
13,Child14,NaN,comprehend,NaN,comprehend,produce,produce,NaN,comprehend,NaN,...,NaN,NaN,comprehend,comprehend,NaN,NaN,NaN,NaN,2,36
14,Child15,NaN,NaN,NaN,NaN,produce,produce,NaN,produce,NaN,...,NaN,produce,produce,produce,comprehend,NaN,NaN,produce,2,34
15,Child16,produce,produce,produce,produce,produce,produce,produce,produce,produce,...,produce,produce,produce,produce,produce,produce,produce,produce,2,36
16,Child17,produce,produce,produce,produce,produce,produce,produce,produce,produce,...,comprehend,produce,produce,produce,produce,comprehend,comprehend,produce,1,36
17,Child18,produce,produce,NaN,produce,produce,produce,produce,produce,produce,...,comprehend,produce,produce,produce,comprehend,NaN,NaN,produce,2,31
18,Child19,produce,produce,comprehend,comprehend,produce,produce,produce,produce,comprehend,...,NaN,comprehend,produce,comprehend,comprehend,NaN,NaN,produce,2,32
19,Child20,produce,comprehend,NaN,NaN,produce,produce,comprehend,comprehend,produce,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,34
20,Child21,comprehend,produce,produce,NaN,produce,produce,produce,produce,produce,...,produce,produce,produce,produce,produce,produce,comprehend,produce,1,42
21,Child22,produce,produce,comprehend,produce,produce,produce,produce,produce,produce,...,comprehend,comprehend,produce,produce,produce,comprehend,comprehend,produce,2,35
22,Child23,comprehend,NaN,comprehend,NaN,produce,produce,comprehend,comprehend,comprehend,...,comprehend,produce,produce,produce,produce,NaN,comprehend,comprehend,1,42
23,Child24,comprehend,produce,comprehend,produce,produce,produce,comprehend,produce,comprehend,...,produce,produce,produce,produce,comprehend,comprehend,comprehend,produce,2,32
24,Child25,produce,produce,comprehend,produce,produce,produce,comprehend,produce,produce,...,comprehend,comprehend,comprehend,comprehend,comprehend,comprehend,comprehend,comprehend,1,40
25,Child26,produce,NaN,NaN,NaN,produce,produce,NaN,produce,produce,...,NaN,NaN,NaN,produce,NaN,NaN,NaN,comprehend,1,30
26,Child27,produce,produce,NaN,NaN,produce,produce,produce,produce,produce,...,produce,produce,comprehend,comprehend,comprehend,NaN,comprehend,NaN,1,45
27,Child28,produce,produce,produce,produce,produce,produce,produce,produce,produce,...,produce,produce,produce,produce,produce,produce,produce,produce,1,28
28,Child29,produce,produce,produce,produce,produce,produce,produce,produce,produce,...,produce,produce,produce,produce,produce,produce,produce,produce,2,40
29,Child30,produce,produce,produce,produce,produce,produce,produce,produce,produce,...,comprehend,comprehend,comprehend,comprehend,comprehend,comprehend,comprehend,comprehend,2,41
30,Child31,produce,NaN,produce,produce,produce,produce,produce,produce,produce,...,produce,produce,produce,produce,produce,produce,produce,produce,2,47
31,Child32,NaN,NaN,NaN,produce,produce,produce,NaN,NaN,NaN,...,produce,NaN,produce,produce,produce,NaN,produce,produce,2,42
32,Child33,NaN,produce,produce,produce,produce,produce,NaN,produce,produce,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,43
33,Child34,comprehend,comprehend,comprehend,produce,produce,produce,produce,produce,produce,...,produce,produce,produce,produce,NaN,comprehend,comprehend,produce,1,31
34,Child35,produce,produce,NaN,produce,produce,produce,produce,produce,produce,...,comprehend,comprehend,comprehend,comprehend,comprehend,comprehend,comprehend,comprehend,2,31
35,Child36,produce,produce,NaN,produce,produce,produce,produce,produce,produce,...,produce,produce,produce,produce,produce,NaN,produce,produce,1,45
36,Child37,produce,produce,NaN,produce,produce,produce,produce,produce,produce,...,produce,produce,produce,produce,produce,produce,produce,produce,1,35
37,Child38,produce,NaN,NaN,produce,produce,produce,produce,produce,produce,...,produce,NaN,produce,produce,produce,NaN,NaN,NaN,2,34
38,Child39,produce,produce,produce,produce,produce,produce,produce,produce,produce,...,produce,produce,produce,produce,produce,produce,produce,produce,2,43
39,Child40,produce,NaN,NaN,NaN,produce,produce,produce,produce,produce,...,produce,produce,produce,NaN,produce,NaN,NaN,produce,1,40

In [246]:
len(items_from_id)

486

In [247]:
columns = list(hebrew_data.columns)
hebrew_data.columns = columns[:1]+items_from_id+columns[-2:]
# hebrew_data = hebrew_data[columns[:1]+columns[-2:]+items_from_id]

In [248]:
# hebrew_data = hebrew_data.set_index("Child")

In [254]:
hebrew_data_produce = hebrew_data.replace("produce",1).replace("comprehend",0).fillna(0).replace("missing",np.nan)
hebrew_data_produce

,Child,baa baa,choo choo,cockadoodledoo,grrr,meow,moo,ouch,quack quack,uh oh,...,sweep,swim,take,talk,taste,tear,think,throw,gender,age
0,Child1,1.0,0.0,1.0,0.0,1,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,24
1,Child2,1.0,1.0,0.0,0.0,1,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,26
2,Child3,1.0,1.0,0.0,1.0,1,1.0,1.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,24
3,Child4,1.0,1.0,0.0,0.0,0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,24
4,Child5,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2,36
5,Child6,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,2,36
6,Child7,0.0,1.0,1.0,0.0,1,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2,34
7,Child8,0.0,0.0,1.0,1.0,1,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,34
8,Child9,1.0,1.0,1.0,0.0,1,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,29
9,Child10,0.0,0.0,0.0,0.0,1,1.0,1.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1,26
10,Child11,0.0,0.0,1.0,0.0,1,0.0,1.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,2,32
11,Child12,1.0,0.0,0.0,0.0,1,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,32
12,Child13,0.0,0.0,0.0,0.0,1,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,32
13,Child14,0.0,0.0,0.0,0.0,1,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,36
14,Child15,0.0,0.0,0.0,0.0,1,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,2,34
15,Child16,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2,36
16,Child17,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1,36
17,Child18,1.0,1.0,0.0,1.0,1,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,2,31
18,Child19,1.0,1.0,0.0,0.0,1,1.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2,32
19,Child20,1.0,0.0,0.0,0.0,1,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,34
20,Child21,0.0,1.0,1.0,0.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1,42
21,Child22,1.0,1.0,0.0,1.0,1,1.0,1.0,1.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,2,35
22,Child23,0.0,0.0,0.0,0.0,1,1.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1,42
23,Child24,0.0,1.0,0.0,1.0,1,1.0,0.0,1.0,0.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,2,32
24,Child25,1.0,1.0,0.0,1.0,1,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,40
25,Child26,1.0,0.0,0.0,0.0,1,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,30
26,Child27,1.0,1.0,0.0,0.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,45
27,Child28,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,28
28,Child29,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2,40
29,Child30,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,41
30,Child31,1.0,0.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2,47
31,Child32,0.0,0.0,0.0,1.0,1,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,2,42
32,Child33,0.0,1.0,1.0,1.0,1,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,43
33,Child34,0.0,0.0,0.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1,31
34,Child35,1.0,1.0,0.0,1.0,1,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,31
35,Child36,1.0,1.0,0.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1,45
36,Child37,1.0,1.0,0.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,35
37,Child38,1.0,0.0,0.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,2,34
38,Child39,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2,43
39,Child40,1.0,0.0,0.0,0.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1,40

In [255]:
eg = hebrew_data_produce.groupby("age")
sessions = [eg.get_group(x) for x in eg.groups]

In [264]:
session

,Child,baa baa,choo choo,cockadoodledoo,grrr,meow,moo,ouch,quack quack,uh oh,...,sweep,swim,take,talk,taste,tear,think,throw,gender,age
30,Child31,1.0,0.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2,47

In [272]:
d = {}
for session in sessions:
#     print(session)
    childs = session["Child"].to_list()
    column_name = "age_"+str(session["age"].unique()[0])
    df = session.transpose()[1:-2]
    df["mean"] = df.mean(axis=1)
    df = df.astype(float).round(2)
#     if column_name=="age_34":
#         for i,j in df.iterrows():
#             if j["mean"]<0:
#                 print(i,j)

    d[column_name] = [childs,df["mean"]]

In [273]:
d

{'age_24': [['Child1', 'Child3', 'Child4'],
  baa baa           1.00
  choo choo         0.67
  cockadoodledoo    0.33
  grrr              0.33
  meow              0.67
                    ...
  talk              0.00
  taste             0.00
  tear              0.00
  think             0.00
  throw             0.00
  Name: mean, Length: 486, dtype: float64],
 'age_26': [['Child2', 'Child10'],
  baa baa           0.5
  choo choo         0.5
  cockadoodledoo    0.0
  grrr              0.0
  meow              1.0
                   ...
  talk              0.0
  taste             0.0
  tear              0.0
  think             0.0
  throw             0.5
  Name: mean, Length: 486, dtype: float64],
 'age_28': [['Child28'],
  baa baa           1.0
  choo choo         1.0
  cockadoodledoo    1.0
  grrr              1.0
  meow              1.0
                   ...
  talk              1.0
  taste             1.0
  tear              1.0
  think             1.0
  throw             1.0
  Name: mean, Length: 486, dtype: float64],
 'age_29': [['Child9'],
  baa baa           1.0
  choo choo         1.0
  cockadoodledoo    1.0
  grrr              0.0
  meow              1.0
                   ...
  talk              0.0
  taste             0.0
  tear              0.0
  think             1.0
  throw             0.0
  Name: mean, Length: 486, dtype: float64],
 'age_30': [['Child26'],
  baa baa           1.0
  choo choo         0.0
  cockadoodledoo    0.0
  grrr              0.0
  meow              1.0
                   ...
  talk              1.0
  taste             0.0
  tear              0.0
  think             0.0
  throw             0.0
  Name: mean, Length: 486, dtype: float64],
 'age_31': [['Child18', 'Child34', 'Child35'],
  baa baa           0.67
  choo choo         0.67
  cockadoodledoo    0.00
  grrr              1.00
  meow              1.00
                    ...
  talk              0.67
  taste             0.00
  tear              0.00
  think             0.00
  throw             0.67
  Name: mean, Length: 486, dtype: float64],
 'age_32': [['Child11', 'Child12', 'Child13', 'Child19', 'Child24'],
  baa baa           0.4
  choo choo         0.4
  cockadoodledoo    0.2
  grrr              0.2
  meow              1.0
                   ...
  talk              0.4
  taste             0.2
  tear              0.2
  think             0.0
  throw             0.6
  Name: mean, Length: 486, dtype: float64],
 'age_34': [['Child7', 'Child8', 'Child15', 'Child20', 'Child38'],
  baa baa           0.4
  choo choo         0.2
  cockadoodledoo    0.4
  grrr              0.4
  meow              1.0
                   ...
  talk              0.6
  taste             0.2
  tear              0.0
  think             0.0
  throw             0.2
  Name: mean, Length: 486, dtype: float64],
 'age_35': [['Child22', 'Child37'],
  baa baa           1.0
  choo choo         1.0
  cockadoodledoo    0.0
  grrr              1.0
  meow              1.0
                   ...
  talk              1.0
  taste             1.0
  tear              0.5
  think             0.5
  throw             1.0
  Name: mean, Length: 486, dtype: float64],
 'age_36': [['Child5', 'Child6', 'Child14', 'Child16', 'Child17'],
  baa baa           0.8
  choo choo         0.8
  cockadoodledoo    0.8
  grrr              0.8
  meow              1.0
                   ...
  talk              0.6
  taste             0.6
  tear              0.4
  think             0.4
  throw             0.6
  Name: mean, Length: 486, dtype: float64],
 'age_40': [['Child25', 'Child29', 'Child40'],
  baa baa           1.00
  choo choo         0.67
  cockadoodledoo    0.33
  grrr              0.67
  meow              1.00
                    ...
  talk              0.33
  taste             0.67
  tear              0.33
  think             0.33
  throw             0.67
  Name: mean, Length: 486, dtype: float64],
 'age_41': [['Child30'],
  baa baa           1.0
  choo choo         1.0
  cockadoodledoo    1.0
  grrr              1.0
  meow              1.0
                   ...
  talk              0.0
  taste             0.0
  tear              0.0
  think             0.0
  throw             0.0
  Name: mean, Length: 486, dtype: float64],
 'age_42': [['Child21', 'Child23', 'Child32'],
  baa baa           0.00
  choo choo         0.33
  cockadoodledoo    0.33
  grrr              0.33
  meow              1.00
                    ...
  talk              1.00
  taste             1.00
  tear              0.33
  think             0.33
  throw             0.67
  Name: mean, Length: 486, dtype: float64],
 'age_43': [['Child33', 'Child39'],
  baa baa           0.5
  choo choo         1.0
  cockadoodledoo    1.0
  grrr              1.0
  meow              1.0
                   ...
  talk              0.5
  taste             0.5
  tear              0.5
  think             0.5
  throw             0.5
  Name: mean, Length: 486, dtype: float64],
 'age_45': [['Child27', 'Child36'],
  baa baa           1.0
  choo choo         1.0
  cockadoodledoo    0.0
  grrr              0.5
  meow              1.0
                   ...
  talk              0.5
  taste             0.5
  tear              0.0
  think             0.5
  throw             0.5
  Name: mean, Length: 486, dtype: float64],
 'age_47': [['Child31'],
  baa baa           1.0
  choo choo         0.0
  cockadoodledoo    1.0
  grrr              1.0
  meow              1.0
                   ...
  talk              1.0
  taste             1.0
  tear              1.0
  think             1.0
  throw             1.0
  Name: mean, Length: 486, dtype: float64]}

In [287]:
hebrew_data_produce = hebrew_data_produce.transpose()

In [288]:
for k,v in d.items():
    hebrew_data_produce[k] = [str(v[0])]+list(v[1])+[len(v[0])]+[np.nan]

In [290]:
hebrew_data_produce = hebrew_data_produce.transpose()

In [300]:
hebrew_data_produce = hebrew_data_produce[-16:]
hebrew_data_produce["number of subjects"] = hebrew_data_produce.pop("gender")

In [303]:
hebrew_data_produce.pop("age")
hebrew_data_produce

,Child,baa baa,choo choo,cockadoodledoo,grrr,meow,moo,ouch,quack quack,uh oh,...,stop,sweep,swim,take,talk,taste,tear,think,throw,number of subjects
age_24,"['Child1', 'Child3', 'Child4']",1.0,0.67,0.33,0.33,0.67,1.0,0.67,0.33,0.67,...,0.33,0.0,0.0,0.33,0.0,0.0,0.0,0.0,0.0,3
age_26,"['Child2', 'Child10']",0.5,0.5,0.0,0.0,1.0,1.0,0.5,0.5,0.5,...,0.5,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.5,2
age_28,['Child28'],1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1
age_29,['Child9'],1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
age_30,['Child26'],1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
age_31,"['Child18', 'Child34', 'Child35']",0.67,0.67,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.67,0.33,0.67,0.67,0.67,0.0,0.0,0.0,0.67,3
age_32,"['Child11', 'Child12', 'Child13', 'Child19', '...",0.4,0.4,0.2,0.2,1.0,0.8,0.6,0.6,0.4,...,0.4,0.4,0.4,0.6,0.4,0.2,0.2,0.0,0.6,5
age_34,"['Child7', 'Child8', 'Child15', 'Child20', 'Ch...",0.4,0.2,0.4,0.4,1.0,1.0,0.6,0.6,0.8,...,0.8,0.2,0.4,0.4,0.6,0.2,0.0,0.0,0.2,5
age_35,"['Child22', 'Child37']",1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.5,0.5,1.0,1.0,1.0,0.5,0.5,1.0,2
age_36,"['Child5', 'Child6', 'Child14', 'Child16', 'Ch...",0.8,0.8,0.8,0.8,1.0,1.0,0.8,0.8,0.8,...,0.6,0.2,0.6,0.6,0.6,0.6,0.4,0.4,0.6,5
age_40,"['Child25', 'Child29', 'Child40']",1.0,0.67,0.33,0.67,1.0,1.0,0.67,1.0,1.0,...,0.67,0.67,0.67,0.67,0.33,0.67,0.33,0.33,0.67,3
age_41,['Child30'],1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
age_42,"['Child21', 'Child23', 'Child32']",0.0,0.33,0.33,0.33,1.0,1.0,0.33,0.33,0.33,...,0.67,0.67,0.67,1.0,1.0,1.0,0.33,0.33,0.67,3
age_43,"['Child33', 'Child39']",0.5,1.0,1.0,1.0,1.0,1.0,0.5,1.0,1.0,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,2
age_45,"['Child27', 'Child36']",1.0,1.0,0.0,0.5,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.5,0.5,0.5,0.0,0.5,0.5,2
age_47,['Child31'],1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1

In [305]:
hebrew_data_produce.transpose().to_csv("english_in_hebrew.csv")

In [306]:
hebrew_data_produce.transpose()

,age_24,age_26,age_28,age_29,age_30,age_31,age_32,age_34,age_35,age_36,age_40,age_41,age_42,age_43,age_45,age_47
Child,"['Child1', 'Child3', 'Child4']","['Child2', 'Child10']",['Child28'],['Child9'],['Child26'],"['Child18', 'Child34', 'Child35']","['Child11', 'Child12', 'Child13', 'Child19', '...","['Child7', 'Child8', 'Child15', 'Child20', 'Ch...","['Child22', 'Child37']","['Child5', 'Child6', 'Child14', 'Child16', 'Ch...","['Child25', 'Child29', 'Child40']",['Child30'],"['Child21', 'Child23', 'Child32']","['Child33', 'Child39']","['Child27', 'Child36']",['Child31']
baa baa,1.0,0.5,1.0,1.0,1.0,0.67,0.4,0.4,1.0,0.8,1.0,1.0,0.0,0.5,1.0,1.0
choo choo,0.67,0.5,1.0,1.0,0.0,0.67,0.4,0.2,1.0,0.8,0.67,1.0,0.33,1.0,1.0,0.0
cockadoodledoo,0.33,0.0,1.0,1.0,0.0,0.0,0.2,0.4,0.0,0.8,0.33,1.0,0.33,1.0,0.0,1.0
grrr,0.33,0.0,1.0,0.0,0.0,1.0,0.2,0.4,1.0,0.8,0.67,1.0,0.33,1.0,0.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
taste,0.0,0.0,1.0,0.0,0.0,0.0,0.2,0.2,1.0,0.6,0.67,0.0,1.0,0.5,0.5,1.0
tear,0.0,0.0,1.0,0.0,0.0,0.0,0.2,0.0,0.5,0.4,0.33,0.0,0.33,0.5,0.0,1.0
think,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.5,0.4,0.33,0.0,0.33,0.5,0.5,1.0
throw,0.0,0.5,1.0,0.0,0.0,0.67,0.6,0.2,1.0,0.6,0.67,0.0,0.67,0.5,0.5,1.0
number of subjects,3,2,1,1,1,3,5,5,2,5,3,1,3,2,2,1