In [75]:
import pandas as pd
import sys
import pyreadstat
import glob
import tqdm

In [76]:
## for the instruction file, use one of the files
wave_raw = pd.read_excel("raw/MCDI Spreadsheet W1.xlsx", sheet_name="Wave 1")
wave_raw

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,encore,Unnamed: 1624,plus,Unnamed: 1626,pas,Unnamed: 1628,un autre,Unnamed: 1630,un peu,Unnamed: 1632
0,Subject,DOB,Sex,Maternal Education,Birth Order,Language Grp,L1,L2,L3,Wave,...,comprend,dit,comprend,dit,comprend,dit,comprend,dit,comprend,dit
1,401,2010-11-18 00:00:00,2,13,3,2,1,2,NaN,1,...,0,1,0,0,0,0,0,0,0,0
2,402,2010-11-11 00:00:00,1,14,1,2,2,3,1,1,...,0,0,0,0,0,0,0,0,0,0
3,404,2010-11-01 00:00:00,2,20,2,2,1,2,NaN,1,...,0,1,0,0,0,0,0,0,0,0
4,406,2010-12-02 00:00:00,1,18,1,2,2,1,3,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,Legend,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Sex,1 = Male,2 = Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,Language Grp,1 = Monolingual,2= Bilingual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,L1 / L2 / L3,1 = English,2 = French,3 = Other,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,Birth Order,1 = First,2 = Second,3 = Other,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#  wave 1

In [77]:
wave = wave_raw[1:62] ## the first 61 raws are subjects

subject_info = wave.transpose()[:25].transpose()  ## the forst 24 columns are subject information
data_comprehension_pruduction =  wave.transpose()[25:].transpose()

subject_columns = wave_raw.transpose()[0][:25]
subject_info.columns = subject_columns
subject_info

,Subject,DOB,Sex,Maternal Education,Birth Order,Language Grp,L1,L2,L3,Wave,...,MCDIrc_E (total correct items (comprehension) in common with CCT (aka ReducedCDI_E)),MCDIrp_E (total correct items (production) in common with CCT),Age at French Visit,MCDIc_Fr (# of words comprehended on MCDI),MCDIcp_Fr (comprehension percentile on MCDI),MCDIp_Fr (# of words produced on MCDI),MCDIpp_Fr (production percentile on MCDI),MCDIrc_Fr (total correct items (comprehension) in common with CCT),MCDIrp_Fr (total correct items (production) in common with CCT),CDI Words
1,401,2010-11-18,2,13,3,2,1,2,NaN,1,...,32,27,17.3,129,7,102,78,14,14,"(0 = no, 1 = yes)"
2,402,2010-11-11,1,14,1,2,2,3,1,1,...,3,1,16.8,45,1,17,29,4,1,NaN
3,404,2010-11-01,2,20,2,2,1,2,NaN,1,...,19,10,17.3,105,1,40,48,16,5,NaN
4,406,2010-12-02,1,18,1,2,2,1,3,1,...,11,0,16.4,106,1,11,25,13,0,NaN
5,408,2010-12-29,1,17,1,2,2,3,1,1,...,16,0,15.8,137,22,22,33,16,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,468,2011-06-18,2,14,2,2,2,1,3,1,...,22,3,18.7,336,94,36,44,32,1,NaN
58,469,2001-09-27,2,11,2,2,1,2,NaN,1,...,27,1,16.1,210,57,0,5,27,0,NaN
59,470,2011-09-20,2,16,1,2,1,2,NaN,1,...,30,15,17.4,173,42,29,38,21,3,NaN
60,471,2011-09-05,1,11,1,2,2,1,NaN,1,...,6,0,17.9,168,39,32,40,18,1,NaN
61,472,2011-09-23,1,17,1,2,1,2,NaN,1,...,31,15,17.8,81,1,14,27,10,3,NaN

In [78]:
data_comprehension_pruduction.transpose()

,1,2,3,4,5,6,7,8,9,10,...,52,53,54,55,56,57,58,59,60,61
baa baa,1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
Unnamed: 26,0,0,0,0,1,1,0,0,0,0,...,1,0,1,1,0,0,1,1,1,1
choo choo,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,1,0,0,0
Unnamed: 28,1,0,0,0,1,0,0,0,0,0,...,1,1,0,1,0,0,0,1,0,1
cockadoodledoo,1,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 1628,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
un autre,0,0,0,0,0,0,1,0,1,0,...,0,1,0,1,0,1,0,0,0,0
Unnamed: 1630,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
un peu,0,0,0,0,0,0,1,0,1,0,...,1,0,0,1,0,1,0,1,0,0
Unnamed: 1632,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [79]:
new_data = []
for name,data in data_comprehension_pruduction.transpose().iterrows():
    new_row = []
    if "Unnamed" not in name:  ## this is the "understands" row
        for i in data:
            if i == 1:
                new_row.append("understands")
            elif i == 0:
                new_row.append("")
            else:
                new_row.append("no data entered")
    else:  ## "says"
        for i in data:
            if i == 1:
                new_row.append("produces")
            elif i == 0:
                new_row.append("")
            else:
                new_row.append("no data entered")
    new_data.append(new_row)
new_data_comprehension_pruduction = pd.DataFrame(new_data,index=data_comprehension_pruduction.columns)
data_comprehension_pruduction = new_data_comprehension_pruduction.transpose()
data_comprehension_pruduction

,baa baa,Unnamed: 26,choo choo,Unnamed: 28,cockadoodledoo,Unnamed: 30,grrr,Unnamed: 32,meow,Unnamed: 34,...,encore,Unnamed: 1624,plus,Unnamed: 1626,pas,Unnamed: 1628,un autre,Unnamed: 1630,un peu,Unnamed: 1632
0,understands,,,produces,understands,,,produces,,produces,...,,produces,,,,,,,,
1,understands,,,,,,understands,,understands,,...,,,,,,,,,,
2,,,,,,,,produces,,produces,...,,produces,,,,,,,,
3,,,,,,,,,,,...,,,,,,,,,,
4,,produces,,produces,,,,produces,,,...,,,,,understands,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,understands,,,,,,understands,,,,...,understands,,understands,,understands,,understands,,understands,
57,,produces,understands,,,,understands,,understands,,...,understands,,,,,,,,,
58,,produces,,produces,,,,produces,,produces,...,understands,,,,,,,,understands,
59,,produces,,,,,,produces,,,...,,produces,,,understands,,,produces,,
60,,produces,,produces,,,,produces,,produces,...,understands,,,,,,,,,

In [80]:
data_comprehension_pruduction.transpose()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
baa baa,understands,understands,,,,,understands,,,,...,,,,,,understands,,,,
Unnamed: 26,,,,,produces,produces,,,,,...,produces,,produces,produces,,,produces,produces,produces,produces
choo choo,,,,,,understands,,,,,...,,,understands,,understands,,understands,,,
Unnamed: 28,produces,,,,produces,,,,,,...,produces,produces,,produces,,,,produces,,produces
cockadoodledoo,understands,,,,,,,,,,...,,understands,understands,,understands,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 1628,,,,,,,,,,,...,,,,,,,,,,
un autre,,,,,,,understands,,understands,,...,,understands,,understands,,understands,,,,
Unnamed: 1630,,,,,,,,,,,...,produces,,,,,,,,produces,
un peu,,,,,,,understands,,understands,,...,understands,,,understands,,understands,,understands,,
Unnamed: 1632,,,,,,,,,,,...,,,,,,,,,,

In [81]:
new_data = []
first_row = []
for name,data in data_comprehension_pruduction.transpose().iterrows():
    combined_row = []
    if "Unnamed" in name: ## the second row in a word 
        for x,y in zip(first_row, data):
            if y and y!="no data entered":  ## says > understands, so if both "says" and "understands" == True, we record "says"
                combined_row.append(y)
            elif x:
                combined_row.append(x)
            else:
                combined_row.append("")
        new_data.append(combined_row)
    else: 
        first_row = data 

items = [i for i in list(wave_raw.columns) if "Unnamed" not in i]
new_data_comprehension_pruduction = pd.DataFrame(new_data,index=items)
data_comprehension_pruduction = new_data_comprehension_pruduction.transpose()
data_comprehension_pruduction

,baa baa,choo choo,cockadoodledoo,grrr,meow,moo,ouch,quack quack,uh oh,vroom,...,en bas,en haut,là/là-bas,sous/en dessous,sur/dessus,encore,plus,pas,un autre,un peu
0,understands,produces,understands,produces,produces,produces,produces,produces,produces,produces,...,understands,,,,,produces,,,,
1,understands,,,understands,understands,understands,,,,,...,,,,,,,,,,
2,,,,produces,produces,produces,produces,,produces,,...,produces,produces,,,,produces,,,,
3,,,,,,,,,,,...,,,,,,,,,,
4,produces,produces,,produces,,,produces,produces,produces,understands,...,understands,,understands,,,,,understands,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,understands,,,understands,,produces,understands,,produces,understands,...,understands,understands,understands,understands,understands,understands,understands,understands,understands,understands
57,produces,understands,,understands,understands,understands,produces,understands,produces,understands,...,understands,,understands,,,understands,,,,
58,produces,produces,,produces,produces,produces,produces,produces,produces,produces,...,understands,understands,,,,understands,,,,understands
59,produces,,,produces,,produces,produces,,produces,produces,...,understands,understands,,,,produces,,understands,produces,
60,produces,produces,,produces,produces,produces,understands,produces,produces,produces,...,understands,understands,,,,understands,,,,

In [82]:
subject_info = subject_info.transpose()
subject_info.columns = data_comprehension_pruduction.transpose().columns
data = pd.concat([subject_info, data_comprehension_pruduction.transpose()],axis=1)

data

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
Subject,401,402,404,406,408,410,411,412,415,418,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DOB,2010-11-18 00:00:00,2010-11-11 00:00:00,2010-11-01 00:00:00,2010-12-02 00:00:00,2010-12-29 00:00:00,2010-12-23 00:00:00,2010-12-23 00:00:00,2012-12-13 00:00:00,2010-12-31 00:00:00,2011-02-11 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sex,2,1,2,1,1,2,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Maternal Education,13,14,20,18,17,17,20,18,18,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Birth Order,3,1,2,1,1,2,1,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
encore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,produces,produces,understands,understands,,understands,understands,understands,produces,understands
plus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,understands,,understands,understands,,understands,,,,
pas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,understands,,,understands,,understands,,,understands,
un autre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,produces,understands,,understands,,understands,,,produces,
un peu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,understands,,,understands,,understands,,understands,,

In [83]:

instruction = pd.DataFrame(items,columns=["item"])
first_french_index = instruction[instruction["item"]=="bêêê bêêê"].first_valid_index()
first_french_index

396

In [84]:
instruction["lang"] = ["eng"]*396+["fr"]*(804-396)
instruction["choices"] = ["produces/undertands"]*len(instruction)
instruction["itemID"] = ["item_"+str(i) for i in list(range(1,len(instruction["item"])+1))]
instruction["complexity_category"] = ['']*len(instruction["item"])
# instruction["gloss"] = instruction["item"]
from collections import Counter
items = list(instruction.item)
uniq = []
for i in items:
    if i not in uniq:
        uniq.append(i)
    else:
        uniq.append(i+"_2")
instruction.item = uniq

In [85]:
instruction.to_csv("wordbank/French_English_1.csv",index=False)

In [90]:
data = data.transpose()

In [91]:
data.columns = data.columns.to_list()[:25]+instruction.itemID.to_list()
data.to_csv("French_English_data_1.csv",index=False)

# wave 2 and 3
## revise according to comments

In [33]:
items = wave3.iloc[:, 19:].columns
items

Index(['Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'baa baa', 'Unnamed: 26', 'choo choo',
       'Unnamed: 28',
       ...
       'encore', 'Unnamed: 1624', 'plus', 'Unnamed: 1626', 'pas',
       'Unnamed: 1628', 'un autre', 'Unnamed: 1630', 'un peu',
       'Unnamed: 1632'],
      dtype='object', length=1614)

In [64]:
instruction["lang"] = ["eng"]*680+["fr"]*(1344-680)

In [65]:
choices = ["produces/does not produce"]*len(instruction)
instruction["choices"] = choices
instruction["itemID"] = ["item_"+str(i) for i in list(range(1,len(instruction["item"])+1))]
instruction["complexity_category"] = ['']*len(instruction["item"])
# instruction["gloss"] = instruction["item"]

In [66]:
from collections import Counter
items = list(instruction.item)
uniq = []
for i in items:
    if i not in uniq:
        uniq.append(i)
    else:
        uniq.append(i+"_2")
instruction.item = uniq

In [67]:
len(set(instruction.item))

1344

In [74]:
instruction.to_csv("wordbank/French_English_2.csv", index=False)

In [69]:
instruction

,item,lang,choices,itemID,complexity_category
0,baa baa,eng,produces/does not produce,item_1,
1,choo choo,eng,produces/does not produce,item_2,
2,cockadoodledoo,eng,produces/does not produce,item_3,
3,grr,eng,produces/does not produce,item_4,
4,meow,eng,produces/does not produce,item_5,
...,...,...,...,...,...
1339,et,fr,produces/does not produce,item_1340,
1340,mais,fr,produces/does not produce,item_1341,
1341,parce que,fr,produces/does not produce,item_1342,
1342,puis,fr,produces/does not produce,item_1343,
1343,si,fr,produces/does not produce,item_1344,

In [70]:
wave3.columns = wave3.columns.to_list()[:19]+instruction.itemID.to_list()

In [71]:
wave3 = wave3.fillna("")
wave3

,Subject,DOB,Sex,Maternal Education,Birth Order,Wave,Language Grp,L1,L2,L3,...,item_1335,item_1336,item_1337,item_1338,item_1339,item_1340,item_1341,item_1342,item_1343,item_1344
0,401,2010-11-18,2,13,3,2,2,1,2,,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
1,402,2010-11-11,1,14,1,2,3,2,3,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,404,2010-11-01,2,20,2,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,406,2010-12-02,1,18,1,2,3,3,1,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,410,2010-12-23,2,17,2,2,2,2,1,,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,411,2010-12-23,1,20,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,412,2010-12-13,1,18,2,2,2,2,1,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,413,2010-12-24,1,16,3,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,414,2010-12-30,1,12,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,418,2011-02-11,1,18,1,2,2,2,1,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,421,2011-01-01,2,16,2,2,2,2,1,,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
11,422,2010-12-03,1,18,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,423,2011-01-12,1,19,3,2,3,2,1,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,424,2011-02-23,1,11,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,425,2011-02-24,1,16,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,426,2010-12-31,1,16,3,2,2,1,2,3.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,427,2011-01-16,1,16,2,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,428,2011-02-02,2,18,1,2,2,2,1,,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
18,429,2011-02-02,1,18,2,2,2,2,1,,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
19,430,2011-01-02,1,16,1,2,2,1,2,,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,431,2011-01-31,1,16,1,2,2,2,1,,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,432,2011-01-08,1,14,1,2,2,1,2,,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,433,2011-01-17,2,18,1,2,2,2,1,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,434,2011-02-02,1,16,1,2,2,2,1,,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
24,437,2011-02-10,2,16,1,2,2,1,2,,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,438,2011-01-04,1,17,1,2,2,2,1,,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
26,439,2011-01-18,1,15,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,441,2011-02-01,1,14,1,2,2,2,1,,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
28,442,2011-02-28,2,16,1,2,2,2,1,,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,443,2011-01-02,2,14,2,2,2,2,1,,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,445,2011-03-16,2,18,2,2,2,2,1,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,446,2011-03-07,1,18,3,2,2,1,2,,...,,,,,,,,,,
32,447,2011-03-23,2,18,1,2,2,2,1,,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,448,2011-03-14,1,16,2,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,451,2011-03-09,2,18,3,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35,452,2011-03-08,1,16,2,2,2,2,1,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,453,2011-03-30,1,16,2,2,2,2,1,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37,454,2011-03-17,1,16,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,455,2011-03-01,1,18,2,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39,457,2011-05-29,1,16,1,2,2,2,1,,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
40,458,2011-05-14,2,14,1,2,2,2,1,,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
41,459,2011-06-26,2,16,1,2,2,2,1,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,460,2011-06-15,1,16,1,2,2,2,1,,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,461,2011-05-19,2,12,1,2,3,1,3,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,462,2011-06-30,2,5,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45,464,2011-06-10,2,17,1,2,2,2,1,,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46,465,2011-06-19,2,18,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47,466,2011-06-15,2,18,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48,467,2011-06-30,1,18,2,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49,468,2011-06-18,1,14,2,2,2,2,1,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50,470,2011-09-20,2,16,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,471,2011-09-05,1,11,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [72]:
wave3.to_csv("wordbank/french_english_data_2.csv",index=False)