In [2]:
import pandas as pd
import sys
import pyreadstat
import glob
import tqdm

In [37]:
## for the instruction file, use one of the files

wave3 = pd.read_excel("MCDI Spreadsheet Wave 2 - Word Bank.xlsx", sheet_name="Wave 2")
wave3

,Subject,DOB,Sex,Maternal Education,Birth Order,Wave,Language Grp,L1,L2,L3,...,un/une,un autre,un peu,alors,aussi,et,mais,parce que,puis,si
0,401,2010-11-18,2,13,3,2,2,1,2,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
1,402,2010-11-11,1,14,1,2,3,2,3,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,404,2010-11-01,2,20,2,2,2,1,2,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,406,2010-12-02,1,18,1,2,3,3,1,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,410,2010-12-23,2,17,2,2,2,2,1,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,411,2010-12-23,1,20,1,2,2,1,2,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,412,2010-12-13,1,18,2,2,2,2,1,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,413,2010-12-24,1,16,3,2,2,1,2,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,414,2010-12-30,1,12,1,2,2,1,2,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,418,2011-02-11,1,18,1,2,2,2,1,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,421,2011-01-01,2,16,2,2,2,2,1,NaN,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
11,422,2010-12-03,1,18,1,2,2,1,2,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,423,2011-01-12,1,19,3,2,3,2,1,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,424,2011-02-23,1,11,1,2,2,1,2,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,425,2011-02-24,1,16,1,2,2,1,2,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,426,2010-12-31,1,16,3,2,2,1,2,3.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,427,2011-01-16,1,16,2,2,2,1,2,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,428,2011-02-02,2,18,1,2,2,2,1,NaN,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
18,429,2011-02-02,1,18,2,2,2,2,1,NaN,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
19,430,2011-01-02,1,16,1,2,2,1,2,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,431,2011-01-31,1,16,1,2,2,2,1,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,432,2011-01-08,1,14,1,2,2,1,2,NaN,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,433,2011-01-17,2,18,1,2,2,2,1,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,434,2011-02-02,1,16,1,2,2,2,1,NaN,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
24,437,2011-02-10,2,16,1,2,2,1,2,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,438,2011-01-04,1,17,1,2,2,2,1,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
26,439,2011-01-18,1,15,1,2,2,1,2,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,441,2011-02-01,1,14,1,2,2,2,1,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
28,442,2011-02-28,2,16,1,2,2,2,1,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,443,2011-01-02,2,14,2,2,2,2,1,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,445,2011-03-16,2,18,2,2,2,2,1,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,446,2011-03-07,1,18,3,2,2,1,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,447,2011-03-23,2,18,1,2,2,2,1,NaN,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,448,2011-03-14,1,16,2,2,2,1,2,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,451,2011-03-09,2,18,3,2,2,1,2,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35,452,2011-03-08,1,16,2,2,2,2,1,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,453,2011-03-30,1,16,2,2,2,2,1,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37,454,2011-03-17,1,16,1,2,2,1,2,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,455,2011-03-01,1,18,2,2,2,1,2,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39,457,2011-05-29,1,16,1,2,2,2,1,NaN,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
40,458,2011-05-14,2,14,1,2,2,2,1,NaN,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
41,459,2011-06-26,2,16,1,2,2,2,1,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,460,2011-06-15,1,16,1,2,2,2,1,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,461,2011-05-19,2,12,1,2,3,1,3,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,462,2011-06-30,2,5,1,2,2,1,2,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45,464,2011-06-10,2,17,1,2,2,2,1,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46,465,2011-06-19,2,18,1,2,2,1,2,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47,466,2011-06-15,2,18,1,2,2,1,2,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48,467,2011-06-30,1,18,2,2,2,1,2,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49,468,2011-06-18,1,14,2,2,2,2,1,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50,470,2011-09-20,2,16,1,2,2,1,2,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,471,2011-09-05,1,11,1,2,2,1,2,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
items = wave3.iloc[:, 19:].columns

In [43]:
instruction = pd.DataFrame(items,columns=["item"])
instruction

                item
0            baa baa
1          choo choo
2     cockadoodledoo
3                grr
4               meow
...              ...
1339              et
1340            mais
1341       parce que
1342            puis
1343              si

[1344 rows x 1 columns]

In [44]:
first_french_index = instruction[instruction["item"]=="aÃ¯e"].first_valid_index()
first_french_index

680

In [45]:
instruction["lang"] = ["eng"]*680+["fr"]*(1344-680)

In [46]:
choices = ["produces/does not produce"]*len(instruction)
instruction["choices"] = choices
instruction["itemID"] = ["item_"+str(i) for i in list(range(1,len(instruction["item"])+1))]
instruction["complexity_category"] = ['']*len(instruction["item"])
# instruction["gloss"] = instruction["item"]

In [47]:
from collections import Counter
items = list(instruction.item)
uniq = []
for i in items:
    if i not in uniq:
        uniq.append(i)
    else:
        uniq.append(i+"_2")
instruction.item = uniq

In [48]:
len(set(instruction.item))

1344

In [49]:
instruction.to_csv("French_English_wave2.csv", index=False)

In [50]:
instruction

,item,lang,choices,itemID,complexity_category
0,baa baa,eng,produces/does not produce,item_1,
1,choo choo,eng,produces/does not produce,item_2,
2,cockadoodledoo,eng,produces/does not produce,item_3,
3,grr,eng,produces/does not produce,item_4,
4,meow,eng,produces/does not produce,item_5,
...,...,...,...,...,...
1339,et,fr,produces/does not produce,item_1340,
1340,mais,fr,produces/does not produce,item_1341,
1341,parce que,fr,produces/does not produce,item_1342,
1342,puis,fr,produces/does not produce,item_1343,
1343,si,fr,produces/does not produce,item_1344,

In [52]:
wave3.columns = wave3.columns.to_list()[:19]+instruction.itemID.to_list()

In [53]:
wave3 = wave3.fillna("")
wave3

,Subject,DOB,Sex,Maternal Education,Birth Order,Wave,Language Grp,L1,L2,L3,...,item_1335,item_1336,item_1337,item_1338,item_1339,item_1340,item_1341,item_1342,item_1343,item_1344
0,401,2010-11-18,2,13,3,2,2,1,2,,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
1,402,2010-11-11,1,14,1,2,3,2,3,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,404,2010-11-01,2,20,2,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,406,2010-12-02,1,18,1,2,3,3,1,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,410,2010-12-23,2,17,2,2,2,2,1,,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,411,2010-12-23,1,20,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,412,2010-12-13,1,18,2,2,2,2,1,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,413,2010-12-24,1,16,3,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,414,2010-12-30,1,12,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,418,2011-02-11,1,18,1,2,2,2,1,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,421,2011-01-01,2,16,2,2,2,2,1,,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
11,422,2010-12-03,1,18,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,423,2011-01-12,1,19,3,2,3,2,1,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,424,2011-02-23,1,11,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,425,2011-02-24,1,16,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,426,2010-12-31,1,16,3,2,2,1,2,3.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,427,2011-01-16,1,16,2,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,428,2011-02-02,2,18,1,2,2,2,1,,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
18,429,2011-02-02,1,18,2,2,2,2,1,,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
19,430,2011-01-02,1,16,1,2,2,1,2,,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,431,2011-01-31,1,16,1,2,2,2,1,,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,432,2011-01-08,1,14,1,2,2,1,2,,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,433,2011-01-17,2,18,1,2,2,2,1,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,434,2011-02-02,1,16,1,2,2,2,1,,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
24,437,2011-02-10,2,16,1,2,2,1,2,,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,438,2011-01-04,1,17,1,2,2,2,1,,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
26,439,2011-01-18,1,15,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,441,2011-02-01,1,14,1,2,2,2,1,,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
28,442,2011-02-28,2,16,1,2,2,2,1,,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,443,2011-01-02,2,14,2,2,2,2,1,,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,445,2011-03-16,2,18,2,2,2,2,1,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,446,2011-03-07,1,18,3,2,2,1,2,,...,,,,,,,,,,
32,447,2011-03-23,2,18,1,2,2,2,1,,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,448,2011-03-14,1,16,2,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,451,2011-03-09,2,18,3,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35,452,2011-03-08,1,16,2,2,2,2,1,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,453,2011-03-30,1,16,2,2,2,2,1,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37,454,2011-03-17,1,16,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,455,2011-03-01,1,18,2,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39,457,2011-05-29,1,16,1,2,2,2,1,,...,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
40,458,2011-05-14,2,14,1,2,2,2,1,,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
41,459,2011-06-26,2,16,1,2,2,2,1,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,460,2011-06-15,1,16,1,2,2,2,1,,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,461,2011-05-19,2,12,1,2,3,1,3,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,462,2011-06-30,2,5,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45,464,2011-06-10,2,17,1,2,2,2,1,,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46,465,2011-06-19,2,18,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47,466,2011-06-15,2,18,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48,467,2011-06-30,1,18,2,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49,468,2011-06-18,1,14,2,2,2,2,1,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50,470,2011-09-20,2,16,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,471,2011-09-05,1,11,1,2,2,1,2,,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
wave3.to_csv("french_english_data_2.csv",index=False)