In [1]:
import pandas as pd
import numpy as np

In [165]:
instruction = pd.read_csv("wordbank/French_English_1.csv").fillna("")
data = pd.read_csv("wordbank/French_english_data_1.csv").fillna("")
instruction

               item lang              choices    itemID complexity_category
0           baa baa  eng  produces/undertands    item_1
1         choo choo  eng  produces/undertands    item_2
2    cockadoodledoo  eng  produces/undertands    item_3
3              grrr  eng  produces/undertands    item_4
4              meow  eng  produces/undertands    item_5
..              ...  ...                  ...       ...                 ...
799          encore   fr  produces/undertands  item_800
800            plus   fr  produces/undertands  item_801
801             pas   fr  produces/undertands  item_802
802        un autre   fr  produces/undertands  item_803
803          un peu   fr  produces/undertands  item_804

[804 rows x 5 columns]

In [166]:
## wave 3
# data = data[:52]

data

,Subject,DOB,Sex,Maternal Education,Birth Order,Language Grp,L1,L2,L3,Wave,...,item_795,item_796,item_797,item_798,item_799,item_800,item_801,item_802,item_803,item_804
0,401,2010-11-18,2,13,3,2,1,2,,1,...,understands,,,,,produces,,,,
1,402,2010-11-11,1,14,1,2,2,3,1.0,1,...,,,,,,,,,,
2,404,2010-11-01,2,20,2,2,1,2,,1,...,produces,produces,,,,produces,,,,
3,406,2010-12-02,1,18,1,2,2,1,3.0,1,...,,,,,,,,,,
4,408,2010-12-29,1,17,1,2,2,3,1.0,1,...,understands,,understands,,,,,understands,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,468,2011-06-18,2,14,2,2,2,1,3.0,1,...,understands,understands,understands,understands,understands,understands,understands,understands,understands,understands
57,469,2001-09-27,2,11,2,2,1,2,,1,...,understands,,understands,,,understands,,,,
58,470,2011-09-20,2,16,1,2,1,2,,1,...,understands,understands,,,,understands,,,,understands
59,471,2011-09-05,1,11,1,2,2,1,,1,...,understands,understands,,,,produces,,understands,produces,
60,472,2011-09-23,1,17,1,2,1,2,,1,...,understands,understands,,,,understands,,,,

In [167]:
def m(x):
    if not x:
        return ""
    if x == 1:
        return "English"
    elif x == 2:
        return "French"
    else:
        return "Other"

data["L1"] = data["L1"].apply(lambda x: m(x))
data["L2"] = data["L2"].apply(lambda x: m(x))
data["L3"] = data["L3"].apply(lambda x: m(x))


def m(x):
    if not x:
        return ""
    x = int(x)
    if x == 1:
        return "Male"
    elif x == 2:
        return "Female"
data["Sex"] = data["Sex"].apply(lambda x: m(x))


def m(x):
    if not x:
        return ""
    if x == 1:
        return "Monolingual"
    elif x == 2:
        return "Bilingual"
    
data["Language Grp"] = data["Language Grp"].apply(lambda x: m(x))

data

,Subject,DOB,Sex,Maternal Education,Birth Order,Language Grp,L1,L2,L3,Wave,...,item_795,item_796,item_797,item_798,item_799,item_800,item_801,item_802,item_803,item_804
0,401,2010-11-18,Female,13,3,Bilingual,English,French,,1,...,understands,,,,,produces,,,,
1,402,2010-11-11,Male,14,1,Bilingual,French,Other,English,1,...,,,,,,,,,,
2,404,2010-11-01,Female,20,2,Bilingual,English,French,,1,...,produces,produces,,,,produces,,,,
3,406,2010-12-02,Male,18,1,Bilingual,French,English,Other,1,...,,,,,,,,,,
4,408,2010-12-29,Male,17,1,Bilingual,French,Other,English,1,...,understands,,understands,,,,,understands,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,468,2011-06-18,Female,14,2,Bilingual,French,English,Other,1,...,understands,understands,understands,understands,understands,understands,understands,understands,understands,understands
57,469,2001-09-27,Female,11,2,Bilingual,English,French,,1,...,understands,,understands,,,understands,,,,
58,470,2011-09-20,Female,16,1,Bilingual,English,French,,1,...,understands,understands,,,,understands,,,,understands
59,471,2011-09-05,Male,11,1,Bilingual,French,English,,1,...,understands,understands,,,,produces,,understands,produces,
60,472,2011-09-23,Male,17,1,Bilingual,English,French,,1,...,understands,understands,,,,understands,,,,

In [168]:
instruction = instruction[instruction["lang"]=="eng"]
item_dict = dict(zip(instruction["itemID"],instruction["item"]))
item_dict

{'item_1': 'baa baa',
 'item_2': 'choo choo',
 'item_3': 'cockadoodledoo',
 'item_4': 'grrr',
 'item_5': 'meow',
 'item_6': 'moo',
 'item_7': 'ouch',
 'item_8': 'quack quack',
 'item_9': 'uh oh',
 'item_10': 'vroom',
 'item_11': 'woof woof',
 'item_12': 'yum yum',
 'item_13': 'animal',
 'item_14': 'bear',
 'item_15': 'bee',
 'item_16': 'bird',
 'item_17': 'bug',
 'item_18': 'bunny',
 'item_19': 'butterfly',
 'item_20': 'cat',
 'item_21': 'chicken ',
 'item_22': 'cow',
 'item_23': 'deer',
 'item_24': 'dog',
 'item_25': 'donkey',
 'item_26': 'duck',
 'item_27': 'elephant',
 'item_28': 'fish ',
 'item_29': 'frog',
 'item_30': 'giraffe',
 'item_31': 'goose',
 'item_32': 'horse',
 'item_33': 'kitty',
 'item_34': 'lamb',
 'item_35': 'lion',
 'item_36': 'monkey',
 'item_37': 'mouse',
 'item_38': 'owl',
 'item_39': 'penguin',
 'item_40': 'pig',
 'item_41': 'pony',
 'item_42': 'puppy',
 'item_43': 'sheep',
 'item_44': 'squirrel',
 'item_45': 'teddy bear',
 'item_46': 'tiger',
 'item_47': 'turkey',
 'item_48': 'turtle',
 'item_49': 'airplane',
 'item_50': 'bicycle',
 'item_51': 'bus',
 'item_52': 'car',
 'item_53': 'firetruck',
 'item_54': 'motorcycle',
 'item_55': 'stroller',
 'item_56': 'train',
 'item_57': 'truck',
 'item_58': 'ball',
 'item_59': 'balloon',
 'item_60': 'block',
 'item_61': 'book',
 'item_62': 'bubbles',
 'item_63': 'doll',
 'item_64': 'pen',
 'item_65': 'toy',
 'item_66': 'apple',
 'item_67': 'banana',
 'item_68': 'bread',
 'item_69': 'butter',
 'item_70': 'cake',
 'item_71': 'candy',
 'item_72': 'carrots',
 'item_73': 'cereal',
 'item_74': 'cheerios',
 'item_75': 'cheese',
 'item_76': 'chicken .1',
 'item_77': 'coffee',
 'item_78': 'cookie',
 'item_79': 'cracker',
 'item_80': 'drink ',
 'item_81': 'egg',
 'item_82': 'fish .1',
 'item_83': 'food',
 'item_84': 'ice cream',
 'item_85': 'juice',
 'item_86': 'meat',
 'item_87': 'milk',
 'item_88': 'noodles',
 'item_89': 'orange (food)',
 'item_90': 'peas',
 'item_91': 'pizza',
 'item_92': 'raisin',
 'item_93': 'spaghetti',
 'item_94': 'toast',
 'item_95': 'water (beverage)',
 'item_96': 'beads',
 'item_97': 'bib',
 'item_98': 'boots',
 'item_99': 'button',
 'item_100': 'coat',
 'item_101': 'diaper',
 'item_102': 'dress',
 'item_103': 'hat',
 'item_104': 'jacket',
 'item_105': 'jeans',
 'item_106': 'necklace',
 'item_107': 'pajamas',
 'item_108': 'pants',
 'item_109': 'shirt',
 'item_110': 'shoe',
 'item_111': 'shorts',
 'item_112': 'sock',
 'item_113': 'sweater',
 'item_114': 'zipper',
 'item_115': 'arm',
 'item_116': 'belly button',
 'item_117': 'cheek',
 'item_118': 'ear',
 'item_119': 'eye',
 'item_120': 'face',
 'item_121': 'foot',
 'item_122': 'finger',
 'item_123': 'hair',
 'item_124': 'hand',
 'item_125': 'head',
 'item_126': 'knee',
 'item_127': 'leg',
 'item_128': 'mouth',
 'item_129': 'nose',
 'item_130': 'owie/boo boo',
 'item_131': 'tooth',
 'item_132': 'toe',
 'item_133': 'tongue',
 'item_134': 'tummy',
 'item_135': 'bathroom',
 'item_136': 'bathtub',
 'item_137': 'bed',
 'item_138': 'bedroom',
 'item_139': 'chair',
 'item_140': 'couch',
 'item_141': 'crib',
 'item_142': 'door',
 'item_143': 'drawer',
 'item_144': 'garage',
 'item_145': 'high chair',
 'item_146': 'kitchen',
 'item_147': 'living room',
 'item_148': 'oven',
 'item_149': 'play pen',
 'item_150': 'potty',
 'item_151': 'refrigerator',
 'item_152': 'rocking chair',
 'item_153': 'sink',
 'item_154': 'stairs',
 'item_155': 'stove',
 'item_156': 'table',
 'item_157': 'TV',
 'item_158': 'window',
 'item_159': 'blanket',
 'item_160': 'bottle',
 'item_161': 'bowl',
 'item_162': 'box',
 'item_163': 'broom',
 'item_164': 'brush',
 'item_165': 'clock',
 'item_166': 'comb',
 'item_167': 'cup',
 'item_168': 'dish',
 'item_169': 'fork',
 'item_170': 'glass',
 'item_171': 'glasses',
 'item_172': 'hammer',
 'item_173': 'keys',
 'item_174': 'lamp',
 'item_175': 'light',
 'item_176': 'medicine',
 'item_177': 'money',
 'item_178': 'paper',
 'item_179': 'penny',
 'item_180': 'picture',
 'item_181': 'pillow',
 'item_182': 'plant',
 'item_183': 'plate',
 'item_184': 'purse',
 'item_185': 'radio',
 'item_186': 'scissors',
 'item_187': 'soap',
 'item_188': 'spoon',
 'item_189': 'telephone',
 'item_190': 'toothbrush',
 'item_191': 'towel',
 'item_192': 'trash',
 'item_193': 'vacuum',
 'item_194': 'watch',
 'item_195': 'backyard',
 'item_196': 'beach',
 'item_197': 'church',
 'item_198': 'flower',
 'item_199': 'garden',
 'item_200': 'home',
 'item_201': 'house',
 'item_202': 'moon',
 'item_203': 'outside',
 'item_204': 'park',
 'item_205': 'party',
 'item_206': 'pool',
 'item_207': 'rain',
 'item_208': 'rock',
 'item_209': 'school',
 'item_210': 'shovel',
 'item_211': 'sky',
 'item_212': 'slide (object)',
 'item_213': 'snow',
 'item_214': 'star',
 'item_215': 'store',
 'item_216': 'sun',
 'item_217': 'swing (object)',
 'item_218': 'tree',
 'item_219': 'water (not beverage)',
 'item_220': 'work (place)',
 'item_221': 'zoo',
 'item_222': 'aunt',
 'item_223': 'baby',
 'item_224': 'babysitter',
 'item_225': "babysitter's name",
 'item_226': 'boy',
 'item_227': 'brother',
 'item_228': 'child',
 'item_229': 'daddy',
 'item_230': 'girl',
 'item_231': 'grandma',
 'item_232': 'grandpa',
 'item_233': 'lady',
 'item_234': 'man',
 'item_235': 'mommy',
 'item_236': "child's own name",
 'item_237': 'people',
 'item_238': 'person',
 'item_239': 'sister',
 'item_240': 'teacher',
 'item_241': 'uncle',
 'item_242': 'bath',
 'item_243': 'breakfast',
 'item_244': 'bye or bye bye',
 'item_245': 'dinner',
 'item_246': "don't",
 'item_247': 'hello',
 'item_248': 'hi',
 'item_249': 'lunch',
 'item_250': 'nap',
 'item_251': 'night night',
 'item_252': 'no',
 'item_253': 'pattycake',
 'item_254': 'peekaboo',
 'item_255': 'please',
 'item_256': 'shh/shush/hush',
 'item_257': 'thank you',
 'item_258': 'wait',
 'item_259': 'wanna/want to',
 'item_260': 'yes',
 'item_261': 'bite',
 'item_262': 'blow',
 'item_263': 'break',
 'item_264': 'bring',
 'item_265': 'bump',
 'item_266': 'clean (action)',
 'item_267': 'close',
 'item_268': 'cry',
 'item_269': 'dance',
 'item_270': 'draw',
 'item_271': 'drink (action)',
 'item_272': 'drive',
 'item_273': 'eat',
 'item_274': 'fall',
 'item_275': 'feed',
 'item_276': 'finish',
 'item_277': 'get',
 'item_278': 'give',
 'item_279': 'go',
 'item_280': 'help',
 'item_281': 'hit',
 'item_282': 'hug',
 'item_283': 'hurry',
 'item_284': 'jump',
 'item_285': 'kick',
 'item_286': 'kiss',
 'item_287': 'look',
 'item_288': 'love',
 'item_289': 'open',
 'item_290': 'play',
 'item_291': 'pull',
 'item_292': 'push',
 'item_293': 'put',
 'item_294': 'read',
 'item_295': 'ride',
 'item_296': 'run',
 'item_297': 'say',
 'item_298': 'see',
 'item_299': 'show',
 'item_300': 'sing',
 'item_301': 'sleep',
 'item_302': 'smile',
 'item_303': 'splash',
 'item_304': 'stop',
 'item_305': 'swim',
 'item_306': 'swing (action)',
 'item_307': 'take',
 'item_308': 'throw',
 'item_309': 'tickle',
 'item_310': 'touch ',
 'item_311': 'watch (action)',
 'item_312': 'walk',
 'item_313': 'wash',
 'item_314': 'wipe',
 'item_315': 'write',
 'item_316': 'day',
 'item_317': 'later',
 'item_318': 'morning',
 'item_319': 'night',
 'item_320': 'now',
 'item_321': 'today',
 'item_322': 'tomorrow',
 'item_323': 'tonight',
 'item_324': 'all gone',
 'item_325': 'asleep',
 'item_326': 'bad',
 'item_327': 'big',
 'item_328': 'blue',
 'item_329': 'broken',
 'item_330': 'careful',
 'item_331': 'clean',
 'item_332': 'cold',
 'item_333': 'cute',
 'item_334': 'dark',
 'item_335': 'dirty',
 'item_336': 'dry',
 'item_337': 'empty',
 'item_338': 'fast',
 'item_339': 'fine',
 'item_340': 'gentle',
 'item_341': 'good',
 'item_342': 'happy',
 'item_343': 'hard',
 'item_344': 'hot',
 'item_345': 'hungry',
 'item_346': 'hurt',
 'item_347': 'little',
 'item_348': 'naughty',
 'item_349': 'nice',
 'item_350': 'old',
 'item_351': 'pretty',
 'item_352': 'red',
 'item_353': 'scared',
 'item_354': 'sick',
 'item_355': 'sleepy',
 'item_356': 'soft',
 'item_357': 'thirsty',
 'item_358': 'tired',
 'item_359': 'wet',
 'item_360': 'yucky',
 'item_361': 'her',
 'item_362': 'his',
 'item_363': 'I',
 'item_364': 'it',
 'item_365': 'me',
 'item_366': 'mine',
 'item_367': 'my',
 'item_368': 'that',
 'item_369': 'this',
 'item_370': 'you',
 'item_371': 'your',
 'item_372': 'how',
 'item_373': 'what',
 'item_374': 'when',
 'item_375': 'where',
 'item_376': 'who',
 'item_377': 'why',
 'item_378': 'away',
 'item_379': 'back',
 'item_380': 'down',
 'item_381': 'in',
 'item_382': 'inside',
 'item_383': 'off',
 'item_384': 'on',
 'item_385': 'out',
 'item_386': 'there',
 'item_387': 'under',
 'item_388': 'up',
 'item_389': 'all',
 'item_390': 'another',
 'item_391': 'more',
 'item_392': 'none',
 'item_393': 'not',
 'item_394': 'other',
 'item_395': 'same',
 'item_396': 'some'}

In [169]:
print("\n".join(data.columns))

Subject
DOB
Sex
Maternal Education
Birth Order
Language Grp
L1
L2
L3
Wave
Age at English Visit
MCDIc_E (# of words comprehended on MCDI_
MCDIcp_E (comprehension percentile on MCDI)
MCDIp_E (# of words produced on MCDI)
MCDIpp_E (production percentile on MCDI)
MCDIrc_E (total correct items (comprehension) in common with CCT (aka ReducedCDI_E))
MCDIrp_E (total correct items (production) in common with CCT)
Age at French Visit
MCDIc_Fr (# of words comprehended on MCDI)
MCDIcp_Fr (comprehension percentile on MCDI)
MCDIp_Fr (# of words produced on MCDI)
MCDIpp_Fr (production percentile on MCDI)
MCDIrc_Fr (total correct items (comprehension) in common with CCT)
MCDIrp_Fr (total correct items (production) in common with CCT)
CDI Words
item_1
item_2
item_3
item_4
item_5
item_6
item_7
item_8
item_9
item_10
item_11
item_12
item_13
item_14
item_15
item_16
item_17
item_18
item_19
item_20
item_21
item_22
item_23
item_24
item_25
item_26
item_27
item_28
item_29
item_30
item_31
item_32
item_33
item_34
item_35
item_36
item_37
item_38
item_39
item_40
item_41
item_42
item_43
item_44
item_45
item_46
item_47
item_48
item_49
item_50
item_51
item_52
item_53
item_54
item_55
item_56
item_57
item_58
item_59
item_60
item_61
item_62
item_63
item_64
item_65
item_66
item_67
item_68
item_69
item_70
item_71
item_72
item_73
item_74
item_75
item_76
item_77
item_78
item_79
item_80
item_81
item_82
item_83
item_84
item_85
item_86
item_87
item_88
item_89
item_90
item_91
item_92
item_93
item_94
item_95
item_96
item_97
item_98
item_99
item_100
item_101
item_102
item_103
item_104
item_105
item_106
item_107
item_108
item_109
item_110
item_111
item_112
item_113
item_114
item_115
item_116
item_117
item_118
item_119
item_120
item_121
item_122
item_123
item_124
item_125
item_126
item_127
item_128
item_129
item_130
item_131
item_132
item_133
item_134
item_135
item_136
item_137
item_138
item_139
item_140
item_141
item_142
item_143
item_144
item_145
item_146
item_147
item_148
item_149
item_150
item_151
item_152
item_153
item_154
item_155
item_156
item_157
item_158
item_159
item_160
item_161
item_162
item_163
item_164
item_165
item_166
item_167
item_168
item_169
item_170
item_171
item_172
item_173
item_174
item_175
item_176
item_177
item_178
item_179
item_180
item_181
item_182
item_183
item_184
item_185
item_186
item_187
item_188
item_189
item_190
item_191
item_192
item_193
item_194
item_195
item_196
item_197
item_198
item_199
item_200
item_201
item_202
item_203
item_204
item_205
item_206
item_207
item_208
item_209
item_210
item_211
item_212
item_213
item_214
item_215
item_216
item_217
item_218
item_219
item_220
item_221
item_222
item_223
item_224
item_225
item_226
item_227
item_228
item_229
item_230
item_231
item_232
item_233
item_234
item_235
item_236
item_237
item_238
item_239
item_240
item_241
item_242
item_243
item_244
item_245
item_246
item_247
item_248
item_249
item_250
item_251
item_252
item_253
item_254
item_255
item_256
item_257
item_258
item_259
item_260
item_261
item_262
item_263
item_264
item_265
item_266
item_267
item_268
item_269
item_270
item_271
item_272
item_273
item_274
item_275
item_276
item_277
item_278
item_279
item_280
item_281
item_282
item_283
item_284
item_285
item_286
item_287
item_288
item_289
item_290
item_291
item_292
item_293
item_294
item_295
item_296
item_297
item_298
item_299
item_300
item_301
item_302
item_303
item_304
item_305
item_306
item_307
item_308
item_309
item_310
item_311
item_312
item_313
item_314
item_315
item_316
item_317
item_318
item_319
item_320
item_321
item_322
item_323
item_324
item_325
item_326
item_327
item_328
item_329
item_330
item_331
item_332
item_333
item_334
item_335
item_336
item_337
item_338
item_339
item_340
item_341
item_342
item_343
item_344
item_345
item_346
item_347
item_348
item_349
item_350
item_351
item_352
item_353
item_354
item_355
item_356
item_357
item_358
item_359
item_360
item_361
item_362
item_363
item_364
item_365
item_366
item_367
item_368
item_369
item_370
item_371
item_372
item_373
item_374
item_375
item_376
item_377
item_378
item_379
item_380
item_381
item_382
item_383
item_384
item_385
item_386
item_387
item_388
item_389
item_390
item_391
item_392
item_393
item_394
item_395
item_396
item_397
item_398
item_399
item_400
item_401
item_402
item_403
item_404
item_405
item_406
item_407
item_408
item_409
item_410
item_411
item_412
item_413
item_414
item_415
item_416
item_417
item_418
item_419
item_420
item_421
item_422
item_423
item_424
item_425
item_426
item_427
item_428
item_429
item_430
item_431
item_432
item_433
item_434
item_435
item_436
item_437
item_438
item_439
item_440
item_441
item_442
item_443
item_444
item_445
item_446
item_447
item_448
item_449
item_450
item_451
item_452
item_453
item_454
item_455
item_456
item_457
item_458
item_459
item_460
item_461
item_462
item_463
item_464
item_465
item_466
item_467
item_468
item_469
item_470
item_471
item_472
item_473
item_474
item_475
item_476
item_477
item_478
item_479
item_480
item_481
item_482
item_483
item_484
item_485
item_486
item_487
item_488
item_489
item_490
item_491
item_492
item_493
item_494
item_495
item_496
item_497
item_498
item_499
item_500
item_501
item_502
item_503
item_504
item_505
item_506
item_507
item_508
item_509
item_510
item_511
item_512
item_513
item_514
item_515
item_516
item_517
item_518
item_519
item_520
item_521
item_522
item_523
item_524
item_525
item_526
item_527
item_528
item_529
item_530
item_531
item_532
item_533
item_534
item_535
item_536
item_537
item_538
item_539
item_540
item_541
item_542
item_543
item_544
item_545
item_546
item_547
item_548
item_549
item_550
item_551
item_552
item_553
item_554
item_555
item_556
item_557
item_558
item_559
item_560
item_561
item_562
item_563
item_564
item_565
item_566
item_567
item_568
item_569
item_570
item_571
item_572
item_573
item_574
item_575
item_576
item_577
item_578
item_579
item_580
item_581
item_582
item_583
item_584
item_585
item_586
item_587
item_588
item_589
item_590
item_591
item_592
item_593
item_594
item_595
item_596
item_597
item_598
item_599
item_600
item_601
item_602
item_603
item_604
item_605
item_606
item_607
item_608
item_609
item_610
item_611
item_612
item_613
item_614
item_615
item_616
item_617
item_618
item_619
item_620
item_621
item_622
item_623
item_624
item_625
item_626
item_627
item_628
item_629
item_630
item_631
item_632
item_633
item_634
item_635
item_636
item_637
item_638
item_639
item_640
item_641
item_642
item_643
item_644
item_645
item_646
item_647
item_648
item_649
item_650
item_651
item_652
item_653
item_654
item_655
item_656
item_657
item_658
item_659
item_660
item_661
item_662
item_663
item_664
item_665
item_666
item_667
item_668
item_669
item_670
item_671
item_672
item_673
item_674
item_675
item_676
item_677
item_678
item_679
item_680
item_681
item_682
item_683
item_684
item_685
item_686
item_687
item_688
item_689
item_690
item_691
item_692
item_693
item_694
item_695
item_696
item_697
item_698
item_699
item_700
item_701
item_702
item_703
item_704
item_705
item_706
item_707
item_708
item_709
item_710
item_711
item_712
item_713
item_714
item_715
item_716
item_717
item_718
item_719
item_720
item_721
item_722
item_723
item_724
item_725
item_726
item_727
item_728
item_729
item_730
item_731
item_732
item_733
item_734
item_735
item_736
item_737
item_738
item_739
item_740
item_741
item_742
item_743
item_744
item_745
item_746
item_747
item_748
item_749
item_750
item_751
item_752
item_753
item_754
item_755
item_756
item_757
item_758
item_759
item_760
item_761
item_762
item_763
item_764
item_765
item_766
item_767
item_768
item_769
item_770
item_771
item_772
item_773
item_774
item_775
item_776
item_777
item_778
item_779
item_780
item_781
item_782
item_783
item_784
item_785
item_786
item_787
item_788
item_789
item_790
item_791
item_792
item_793
item_794
item_795
item_796
item_797
item_798
item_799
item_800
item_801
item_802
item_803
item_804

In [170]:
columns = []
for c in list(data.columns):
    if c in item_dict:
        columns.append(item_dict[c])
    else:
        columns.append(c)

In [171]:
data.columns = columns
columns = [c for c in columns if "item" not in c]
data = data[columns]
data

,Subject,DOB,Sex,Maternal Education,Birth Order,Language Grp,L1,L2,L3,Wave,...,under,up,all,another,more,none,not,other,same,some
0,401,2010-11-18,Female,13,3,Bilingual,English,French,,1,...,,,,,,,produces,,understands,
1,402,2010-11-11,Male,14,1,Bilingual,French,Other,English,1,...,,,,,,,,,,
2,404,2010-11-01,Female,20,2,Bilingual,English,French,,1,...,,produces,,,produces,,,,,
3,406,2010-12-02,Male,18,1,Bilingual,French,English,Other,1,...,,,,,,,,,,
4,408,2010-12-29,Male,17,1,Bilingual,French,Other,English,1,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,468,2011-06-18,Female,14,2,Bilingual,French,English,Other,1,...,understands,understands,understands,understands,produces,understands,understands,understands,understands,understands
57,469,2001-09-27,Female,11,2,Bilingual,English,French,,1,...,understands,understands,understands,,understands,,understands,,,
58,470,2011-09-20,Female,16,1,Bilingual,English,French,,1,...,understands,understands,understands,understands,produces,understands,,,,
59,471,2011-09-05,Male,11,1,Bilingual,French,English,,1,...,,,,,understands,,,,,
60,472,2011-09-23,Male,17,1,Bilingual,English,French,,1,...,understands,produces,understands,,understands,produces,understands,understands,,understands

In [172]:
list(data.columns)

['Subject',
 'DOB',
 'Sex',
 'Maternal Education',
 'Birth Order',
 'Language Grp',
 'L1',
 'L2',
 'L3',
 'Wave',
 'Age at English Visit',
 'MCDIc_E (# of words comprehended on MCDI_',
 'MCDIcp_E (comprehension percentile on MCDI)',
 'MCDIp_E (# of words produced on MCDI)',
 'MCDIpp_E (production percentile on MCDI)',
 'Age at French Visit',
 'MCDIc_Fr (# of words comprehended on MCDI)',
 'MCDIcp_Fr (comprehension percentile on MCDI)',
 'MCDIp_Fr (# of words produced on MCDI)',
 'MCDIpp_Fr (production percentile on MCDI)',
 'CDI Words',
 'baa baa',
 'choo choo',
 'cockadoodledoo',
 'grrr',
 'meow',
 'moo',
 'ouch',
 'quack quack',
 'uh oh',
 'vroom',
 'woof woof',
 'yum yum',
 'animal',
 'bear',
 'bee',
 'bird',
 'bug',
 'bunny',
 'butterfly',
 'cat',
 'chicken ',
 'cow',
 'deer',
 'dog',
 'donkey',
 'duck',
 'elephant',
 'fish ',
 'frog',
 'giraffe',
 'goose',
 'horse',
 'kitty',
 'lamb',
 'lion',
 'monkey',
 'mouse',
 'owl',
 'penguin',
 'pig',
 'pony',
 'puppy',
 'sheep',
 'squirrel',
 'teddy bear',
 'tiger',
 'turkey',
 'turtle',
 'airplane',
 'bicycle',
 'bus',
 'car',
 'firetruck',
 'motorcycle',
 'stroller',
 'train',
 'truck',
 'ball',
 'balloon',
 'block',
 'book',
 'bubbles',
 'doll',
 'pen',
 'toy',
 'apple',
 'banana',
 'bread',
 'butter',
 'cake',
 'candy',
 'carrots',
 'cereal',
 'cheerios',
 'cheese',
 'chicken .1',
 'coffee',
 'cookie',
 'cracker',
 'drink ',
 'egg',
 'fish .1',
 'food',
 'ice cream',
 'juice',
 'meat',
 'milk',
 'noodles',
 'orange (food)',
 'peas',
 'pizza',
 'raisin',
 'spaghetti',
 'toast',
 'water (beverage)',
 'beads',
 'bib',
 'boots',
 'button',
 'coat',
 'diaper',
 'dress',
 'hat',
 'jacket',
 'jeans',
 'necklace',
 'pajamas',
 'pants',
 'shirt',
 'shoe',
 'shorts',
 'sock',
 'sweater',
 'zipper',
 'arm',
 'belly button',
 'cheek',
 'ear',
 'eye',
 'face',
 'foot',
 'finger',
 'hair',
 'hand',
 'head',
 'knee',
 'leg',
 'mouth',
 'nose',
 'owie/boo boo',
 'tooth',
 'toe',
 'tongue',
 'tummy',
 'bathroom',
 'bathtub',
 'bed',
 'bedroom',
 'chair',
 'couch',
 'crib',
 'door',
 'drawer',
 'garage',
 'high chair',
 'kitchen',
 'living room',
 'oven',
 'play pen',
 'potty',
 'refrigerator',
 'rocking chair',
 'sink',
 'stairs',
 'stove',
 'table',
 'TV',
 'window',
 'blanket',
 'bottle',
 'bowl',
 'box',
 'broom',
 'brush',
 'clock',
 'comb',
 'cup',
 'dish',
 'fork',
 'glass',
 'glasses',
 'hammer',
 'keys',
 'lamp',
 'light',
 'medicine',
 'money',
 'paper',
 'penny',
 'picture',
 'pillow',
 'plant',
 'plate',
 'purse',
 'radio',
 'scissors',
 'soap',
 'spoon',
 'telephone',
 'toothbrush',
 'towel',
 'trash',
 'vacuum',
 'watch',
 'backyard',
 'beach',
 'church',
 'flower',
 'garden',
 'home',
 'house',
 'moon',
 'outside',
 'park',
 'party',
 'pool',
 'rain',
 'rock',
 'school',
 'shovel',
 'sky',
 'slide (object)',
 'snow',
 'star',
 'store',
 'sun',
 'swing (object)',
 'tree',
 'water (not beverage)',
 'work (place)',
 'zoo',
 'aunt',
 'baby',
 'babysitter',
 "babysitter's name",
 'boy',
 'brother',
 'child',
 'daddy',
 'girl',
 'grandma',
 'grandpa',
 'lady',
 'man',
 'mommy',
 "child's own name",
 'people',
 'person',
 'sister',
 'teacher',
 'uncle',
 'bath',
 'breakfast',
 'bye or bye bye',
 'dinner',
 "don't",
 'hello',
 'hi',
 'lunch',
 'nap',
 'night night',
 'no',
 'pattycake',
 'peekaboo',
 'please',
 'shh/shush/hush',
 'thank you',
 'wait',
 'wanna/want to',
 'yes',
 'bite',
 'blow',
 'break',
 'bring',
 'bump',
 'clean (action)',
 'close',
 'cry',
 'dance',
 'draw',
 'drink (action)',
 'drive',
 'eat',
 'fall',
 'feed',
 'finish',
 'get',
 'give',
 'go',
 'help',
 'hit',
 'hug',
 'hurry',
 'jump',
 'kick',
 'kiss',
 'look',
 'love',
 'open',
 'play',
 'pull',
 'push',
 'put',
 'read',
 'ride',
 'run',
 'say',
 'see',
 'show',
 'sing',
 'sleep',
 'smile',
 'splash',
 'stop',
 'swim',
 'swing (action)',
 'take',
 'throw',
 'tickle',
 'touch ',
 'watch (action)',
 'walk',
 'wash',
 'wipe',
 'write',
 'day',
 'later',
 'morning',
 'night',
 'now',
 'today',
 'tomorrow',
 'tonight',
 'all gone',
 'asleep',
 'bad',
 'big',
 'blue',
 'broken',
 'careful',
 'clean',
 'cold',
 'cute',
 'dark',
 'dirty',
 'dry',
 'empty',
 'fast',
 'fine',
 'gentle',
 'good',
 'happy',
 'hard',
 'hot',
 'hungry',
 'hurt',
 'little',
 'naughty',
 'nice',
 'old',
 'pretty',
 'red',
 'scared',
 'sick',
 'sleepy',
 'soft',
 'thirsty',
 'tired',
 'wet',
 'yucky',
 'her',
 'his',
 'I',
 'it',
 'me',
 'mine',
 'my',
 'that',
 'this',
 'you',
 'your',
 'how',
 'what',
 'when',
 'where',
 'who',
 'why',
 'away',
 'back',
 'down',
 'in',
 'inside',
 'off',
 'on',
 'out',
 'there',
 'under',
 'up',
 'all',
 'another',
 'more',
 'none',
 'not',
 'other',
 'same',
 'some']

In [173]:
data = data.drop(columns = ['DOB',
 'Sex',
 'Maternal Education',
 'Birth Order',
 'Language Grp',
 'L1',
 'L2',
 'L3',
 'Wave',
 'MCDIc_E (# of words comprehended on MCDI_',
 'MCDIcp_E (comprehension percentile on MCDI)',
 'MCDIp_E (# of words produced on MCDI)',
 'MCDIpp_E (production percentile on MCDI)',
 'Age at French Visit',
 'MCDIc_Fr (# of words comprehended on MCDI)',
 'MCDIcp_Fr (comprehension percentile on MCDI)',
 'MCDIp_Fr (# of words produced on MCDI)',
 'MCDIpp_Fr (production percentile on MCDI)',
 'CDI Words'])
# # ===============  wave 2  ==================
# data = data.drop(columns = [  'DOB',
#  'Sex',
#  'Maternal Education',
#  'Birth Order',
#  'Wave',
#  'Language Grp',
#  'L1',
#  'L2',
#  'L3',
#  'MCDIp_E (# of words produced on MCDI)',
#  'MCDIpp_E (production percentile on MCDI',
#  'Age at French visit',
#  'MCDIp_Fr (# of words produced on MCDI)',
#  'MCDIpp_Fr (production percentile on MCDI)',
#  'CDI Words',])

# ## ===============  wave 3  =====================

# data = data.drop(columns = ['DOB',
#  'Sex',
#  'Maternal Education',
#  'Birth Order',
#  'Language Grp',
#  'L1',
#  'L2',
#  'L3',
#  'Wave ',
#  'MCDIpp_E_w3 (production percentile on MCDI)',
#  'MCDIp_E_w3 (# of words produced on MCDI)',
#  'Age at French Visit',
#  'MCDIpp_F_w3 (production percentile on MCDI)',
#  'MCDIp_F_w3 (# of words produced on MCDI)',
#  'CDI Words',])

In [174]:
data

,Subject,Age at English Visit,baa baa,choo choo,cockadoodledoo,grrr,meow,moo,ouch,quack quack,...,under,up,all,another,more,none,not,other,same,some
0,401,16.4,understands,produces,understands,produces,produces,produces,produces,produces,...,,,,,,,produces,,understands,
1,402,17.0,understands,,,understands,understands,understands,,,...,,,,,,,,,,
2,404,18.8,,,,produces,produces,produces,produces,,...,,produces,,,produces,,,,,
3,406,16.6,,,,,,,,,...,,,,,,,,,,
4,408,16.0,produces,produces,,produces,,,produces,produces,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,468,18.0,understands,,,understands,,produces,understands,,...,understands,understands,understands,understands,produces,understands,understands,understands,understands,understands
57,469,16.5,produces,understands,,understands,understands,understands,produces,understands,...,understands,understands,understands,,understands,,understands,,,
58,470,17.2,produces,produces,,produces,produces,produces,produces,produces,...,understands,understands,understands,understands,produces,understands,,,,
59,471,18.3,produces,,,produces,,produces,produces,,...,,,,,understands,,,,,
60,472,18.5,produces,produces,,produces,produces,produces,understands,produces,...,understands,produces,understands,,understands,produces,understands,understands,,understands

In [175]:
## Round up ages
def roundup(x):
    if not x:
        return ""
    return int(round(float(x),0))
data["Age at English Visit"] = data["Age at English Visit"].apply(lambda x: roundup(x))
# data["Age at French visit"] = data["Age at French visit"].apply(lambda x: roundup(x))
data

,Subject,Age at English Visit,baa baa,choo choo,cockadoodledoo,grrr,meow,moo,ouch,quack quack,...,under,up,all,another,more,none,not,other,same,some
0,401,16,understands,produces,understands,produces,produces,produces,produces,produces,...,,,,,,,produces,,understands,
1,402,17,understands,,,understands,understands,understands,,,...,,,,,,,,,,
2,404,19,,,,produces,produces,produces,produces,,...,,produces,,,produces,,,,,
3,406,17,,,,,,,,,...,,,,,,,,,,
4,408,16,produces,produces,,produces,,,produces,produces,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,468,18,understands,,,understands,,produces,understands,,...,understands,understands,understands,understands,produces,understands,understands,understands,understands,understands
57,469,16,produces,understands,,understands,understands,understands,produces,understands,...,understands,understands,understands,,understands,,understands,,,
58,470,17,produces,produces,,produces,produces,produces,produces,produces,...,understands,understands,understands,understands,produces,understands,,,,
59,471,18,produces,,,produces,,produces,produces,,...,,,,,understands,,,,,
60,472,18,produces,produces,,produces,produces,produces,understands,produces,...,understands,produces,understands,,understands,produces,understands,understands,,understands

In [176]:
data = data.replace("produces","1").replace("",0).replace("understands",0).replace("no data entered",0)
data

,Subject,Age at English Visit,baa baa,choo choo,cockadoodledoo,grrr,meow,moo,ouch,quack quack,...,under,up,all,another,more,none,not,other,same,some
0,401,16,0,1,0,1,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
1,402,17,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,404,19,0,0,0,1,1,1,1,0,...,0,1,0,0,1,0,0,0,0,0
3,406,17,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,408,16,1,1,0,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,468,18,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
57,469,16,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
58,470,17,1,1,0,1,1,1,1,1,...,0,0,0,0,1,0,0,0,0,0
59,471,18,1,0,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
60,472,18,1,1,0,1,1,1,0,1,...,0,1,0,0,0,1,0,0,0,0

In [177]:
## group the kids by eglish visit because we analyze only the english data
eg = data.groupby("Age at English Visit")
sessions = [eg.get_group(x) for x in eg.groups]

In [179]:
d = {}
for session in sessions:
    childs = session["Subject"].to_list()
    column_name = "age_"+str(session["Age at English Visit"].unique()[0])
    df = session.transpose()[2:].astype(int)
    df["mean"] = df.mean(axis=1)
    print(df.mean)
    df = df.astype(float).round(2)
#     if column_name=="age_34":
#         for i,j in df.iterrows():
#             if j["mean"]<0:
#                 print(i,j)

    d[column_name] = [childs,df["mean"]]

<bound method NDFrame._add_numeric_operations.<locals>.mean of                 9  14  mean
baa baa         0   0   0.0
choo choo       0   0   0.0
cockadoodledoo  0   0   0.0
grrr            0   0   0.0
meow            0   0   0.0
...            ..  ..   ...
none            0   0   0.0
not             0   0   0.0
other           0   0   0.0
same            0   0   0.0
some            0   0   0.0

[396 rows x 3 columns]>
<bound method NDFrame._add_numeric_operations.<locals>.mean of                 0  4  5  6  8  10  12  13  17  18  57      mean
baa baa         0  1  1  0  0   0   0   0   0   0   1  0.272727
choo choo       1  1  0  0  0   0   0   0   0   0   0  0.181818
cockadoodledoo  0  0  0  0  0   0   0   0   0   0   0  0.000000
grrr            1  1  1  0  0   0   0   0   1   1   0  0.454545
meow            1  0  0  0  0   0   0   0   1   1   0  0.272727
...            .. .. .. .. ..  ..  ..  ..  ..  ..  ..       ...
none            0  0  0  0  0   0   0   0   0   0   0  0.000000
not             1  0  0  0  0   0   0   0   0   0   0  0.090909
other           0  0  0  0  0   0   0   0   0   0   0  0.000000
same            0  0  0  0  0   0   0   0   0   0   0  0.000000
some            0  0  0  0  0   0   0   0   0   0   0  0.000000

[396 rows x 12 columns]>
<bound method NDFrame._add_numeric_operations.<locals>.mean of                 1  3  7  15  16  20  26  30  32  33  35  41  45  47  48  50  \
baa baa         0  0  0   0   0   1   1   0   0   0   1   0   1   1   0   1
choo choo       0  0  0   0   0   0   1   0   0   1   0   1   0   1   0   0
cockadoodledoo  0  0  0   0   0   0   1   0   0   0   0   0   1   0   0   0
grrr            0  0  0   0   1   1   1   0   0   1   0   1   1   1   0   0
meow            0  0  0   0   0   1   1   0   0   1   1   0   1   0   0   0
...            .. .. ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
none            0  0  0   0   0   0   0   0   0   0   0   0   0   0   0   0
not             0  0  0   0   0   0   0   0   0   0   0   0   0   0   0   0
other           0  0  0   0   0   0   0   0   0   0   0   0   0   0   0   0
same            0  0  0   0   0   0   0   0   0   0   0   0   0   0   0   0
some            0  0  0   0   0   0   0   0   0   0   0   0   0   0   0   0

                51  53  58      mean
baa baa          1   1   1  0.473684
choo choo        1   0   1  0.315789
cockadoodledoo   0   0   0  0.105263
grrr             1   1   1  0.526316
meow             1   0   1  0.368421
...             ..  ..  ..       ...
none             0   0   0  0.000000
not              0   0   0  0.000000
other            0   0   0  0.000000
same             0   0   0  0.000000
some             0   0   0  0.000000

[396 rows x 20 columns]>
<bound method NDFrame._add_numeric_operations.<locals>.mean of                 11  19  21  23  24  25  29  34  36  38  ...  42  44  49  52  \
baa baa          0   0   1   0   0   0   1   0   0   1  ...   1   0   1   0
choo choo        0   0   1   0   0   1   1   0   0   0  ...   0   0   1   1
cockadoodledoo   0   0   0   0   0   0   1   0   0   0  ...   0   0   0   0
grrr             0   0   0   0   0   1   1   0   0   0  ...   1   1   1   0
meow             0   0   0   1   1   1   1   0   0   1  ...   1   0   0   0
...             ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..
none             0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0
not              0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0
other            0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0
same             0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0
some             0   0   0   0   0   0   0   0   0   0  ...   0   0   1   0

                54  55  56  59  60      mean
baa baa          1   0   0   1   1  0.380952
choo choo        1   0   0   0   1  0.380952
cockadoodledoo   0   0   0   0   0  0.047619
grrr             0   0   0   1   1  0.380952
meow             1   1   0   0   1  0.523810
...             ..  ..  ..  ..  ..       ...
none             0   0   0   0   1  0.047619
not              0   0   0   0   0  0.000000
other            0   0   0   0   0  0.000000
same             0   0   0   0   0  0.000000
some             0   0   0   0   0  0.047619

[396 rows x 22 columns]>
<bound method NDFrame._add_numeric_operations.<locals>.mean of                 2  28  31  37  43  46      mean
baa baa         0   0   0   0   1   1  0.333333
choo choo       0   0   1   0   1   0  0.333333
cockadoodledoo  0   0   0   0   1   0  0.166667
grrr            1   1   0   0   1   1  0.666667
meow            1   0   0   0   0   1  0.333333
...            ..  ..  ..  ..  ..  ..       ...
none            0   0   0   0   0   0  0.000000
not             0   0   0   0   0   0  0.000000
other           0   0   0   0   0   0  0.000000
same            0   0   0   0   0   0  0.000000
some            0   0   0   0   0   0  0.000000

[396 rows x 7 columns]>
<bound method NDFrame._add_numeric_operations.<locals>.mean of                 22  27  mean
baa baa          0   0   0.0
choo choo        0   0   0.0
cockadoodledoo   0   0   0.0
grrr             0   1   0.5
meow             1   1   1.0
...             ..  ..   ...
none             0   0   0.0
not              0   0   0.0
other            0   0   0.0
same             0   0   0.0
some             0   0   0.0

[396 rows x 3 columns]>

In [180]:
d

{'age_15': [[418, 425],
  baa baa           0.0
  choo choo         0.0
  cockadoodledoo    0.0
  grrr              0.0
  meow              0.0
                   ...
  none              0.0
  not               0.0
  other             0.0
  same              0.0
  some              0.0
  Name: mean, Length: 396, dtype: float64],
 'age_16': [[401, 408, 410, 411, 415, 420, 423, 424, 428, 429, 469],
  baa baa           0.27
  choo choo         0.18
  cockadoodledoo    0.00
  grrr              0.45
  meow              0.27
                    ...
  none              0.00
  not               0.09
  other             0.00
  same              0.00
  some              0.00
  Name: mean, Length: 396, dtype: float64],
 'age_17': [[402,
   406,
   412,
   426,
   427,
   431,
   437,
   442,
   444,
   445,
   447,
   453,
   457,
   459,
   460,
   462,
   463,
   465,
   470],
  baa baa           0.47
  choo choo         0.32
  cockadoodledoo    0.11
  grrr              0.53
  meow              0.37
                    ...
  none              0.00
  not               0.00
  other             0.00
  same              0.00
  some              0.00
  Name: mean, Length: 396, dtype: float64],
 'age_18': [[422,
   430,
   432,
   434,
   435,
   436,
   441,
   446,
   448,
   450,
   451,
   452,
   454,
   456,
   461,
   464,
   466,
   467,
   468,
   471,
   472],
  baa baa           0.38
  choo choo         0.38
  cockadoodledoo    0.05
  grrr              0.38
  meow              0.52
                    ...
  none              0.05
  not               0.00
  other             0.00
  same              0.00
  some              0.05
  Name: mean, Length: 396, dtype: float64],
 'age_19': [[404, 439, 443, 449, 455, 458],
  baa baa           0.33
  choo choo         0.33
  cockadoodledoo    0.17
  grrr              0.67
  meow              0.33
                    ...
  none              0.00
  not               0.00
  other             0.00
  same              0.00
  some              0.00
  Name: mean, Length: 396, dtype: float64],
 'age_20': [[433, 438],
  baa baa           0.0
  choo choo         0.0
  cockadoodledoo    0.0
  grrr              0.5
  meow              1.0
                   ...
  none              0.0
  not               0.0
  other             0.0
  same              0.0
  some              0.0
  Name: mean, Length: 396, dtype: float64]}

In [182]:
data=data.transpose()
for k,v in d.items():
    data[k] = [str(v[0])]+[np.nan]*1+list(v[1])
data

,0,1,2,3,4,5,6,7,8,9,...,57,58,59,60,age_15,age_16,age_17,age_18,age_19,age_20
Subject,401,402,404,406,408,410,411,412,415,418,...,469,470,471,472,"[418, 425]","[401, 408, 410, 411, 415, 420, 423, 424, 428, ...","[402, 406, 412, 426, 427, 431, 437, 442, 444, ...","[422, 430, 432, 434, 435, 436, 441, 446, 448, ...","[404, 439, 443, 449, 455, 458]","[433, 438]"
Age at English Visit,16,17,19,17,16,16,16,17,16,15,...,16,17,18,18,NaN,NaN,NaN,NaN,NaN,NaN
baa baa,0,0,0,0,1,1,0,0,0,0,...,1,1,1,1,0.0,0.27,0.47,0.38,0.33,0.0
choo choo,1,0,0,0,1,0,0,0,0,0,...,0,1,0,1,0.0,0.18,0.32,0.38,0.33,0.0
cockadoodledoo,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.11,0.05,0.17,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
none,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0.0,0.0,0.0,0.05,0.0,0.0
not,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.09,0.0,0.0,0.0,0.0
other,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
same,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
some,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.05,0.0,0.0

In [183]:
## wave 1
data = data.transpose()[-6:].transpose()
## wave 2
# data = data.transpose()[-6:-1].transpose()
## wave 3
# data = data.transpose()[:-1].transpose()
data

,age_15,age_16,age_17,age_18,age_19,age_20
Subject,"[418, 425]","[401, 408, 410, 411, 415, 420, 423, 424, 428, ...","[402, 406, 412, 426, 427, 431, 437, 442, 444, ...","[422, 430, 432, 434, 435, 436, 441, 446, 448, ...","[404, 439, 443, 449, 455, 458]","[433, 438]"
Age at English Visit,NaN,NaN,NaN,NaN,NaN,NaN
baa baa,0.0,0.27,0.47,0.38,0.33,0.0
choo choo,0.0,0.18,0.32,0.38,0.33,0.0
cockadoodledoo,0.0,0.0,0.11,0.05,0.17,0.0
...,...,...,...,...,...,...
none,0.0,0.0,0.0,0.05,0.0,0.0
not,0.0,0.09,0.0,0.0,0.0,0.0
other,0.0,0.0,0.0,0.0,0.0,0.0
same,0.0,0.0,0.0,0.0,0.0,0.0
some,0.0,0.0,0.0,0.05,0.0,0.0

In [184]:
data.to_csv("paper_data/by_word_by_age(wave1).csv")

In [6]:
individual = pd.concat([pd.read_csv("paper_data/individual_info(wave1).csv"),
                        pd.read_csv("paper_data/individual_info(wave2).csv"),
                        pd.read_csv("paper_data/individual_info(wave3).csv")])
individual = individual.dropna(how="all")

In [8]:
individual["lang"] = ["french"]*len(individual)
individual.to_csv("by_child_data.csv",index=False)