In [1]:
import pandas as pd
import numpy as np

In [8]:
instruction = pd.read_csv("wordbank/EnglishWS_Marchman_Dallas_field.csv").fillna("")
data = pd.read_csv("wordbank/EnglishWS_Marchman_Dallas_Bilingual_data.csv").fillna("")
values = pd.read_csv("wordbank/EnglishWS_Marchman_Dallas_Bilingual_values.csv").fillna("")
field

            field    column  group          type Unnamed: 4
0     birth_order    BOrder  child   birth_order
1                    CDIAge
2        data_age  data_age  admin      data_age
3    date_of_test   CDIDate  admin  date_of_test
4       ethnicity    Ethnic  child     ethnicity
..            ...       ...    ...           ...        ...
801      item_793  complx33   item    complexity   complx33
802      item_794  complx34   item    complexity   complx34
803      item_795  complx35   item    complexity   complx35
804      item_796  complx36   item    complexity   complx36
805      item_797  complx37   item    complexity   complx37

[806 rows x 5 columns]

In [9]:
field = field[field.field.str.contains("item")]
field

        field    column group        type      Unnamed: 4
9      item_1    baabaa  item        word         baa_baa
10     item_2  choochoo  item        word       choo_choo
11     item_3  cockddld  item        word  cockadoodledoo
12     item_4       grr  item        word            grrr
13     item_5      meow  item        word            meow
..        ...       ...   ...         ...             ...
801  item_793  complx33  item  complexity        complx33
802  item_794  complx34  item  complexity        complx34
803  item_795  complx35  item  complexity        complx35
804  item_796  complx36  item  complexity        complx36
805  item_797  complx37  item  complexity        complx37

[797 rows x 5 columns]

In [10]:
d = dict(zip(field.field,field.column))

In [18]:
individual = pd.concat([data.transpose()[:2],data.transpose()[16:]]).transpose()
individual.columns = ["child_ID","age"]+[c.lower() for c in list(individual.columns)][2:]
individual["lang"] = ["spanish"]*len(individual)
individual.to_csv("paper/by_child_data.csv",index=False)

In [4]:
instruction = pd.concat([data.transpose()[:2],data.transpose()[4:7]]).transpose()
instruction.EngPropCDI = instruction.EngPropCDI.apply(lambda x: x.split("h;")[1].replace(";",""))
instruction.SpanPropCDI = instruction.SpanPropCDI.apply(lambda x: x.split("h;")[1].replace(";",""))
instruction

    ParticipantId AgeCDI EngPropCDI SpanPropCDI Gender
0        AA04M058     19         35          65      M
1        AA04M058     26         22          78      M
2        AA30F039     30         16          84      F
3        AB03F057     24         80          20      F
4        AC17F058     18         10          90      F
..            ...    ...        ...         ...    ...
217      VP23F039     23         60          40      F
218      VP23F039     30         50          50      F
219      YT29F049     30         18          82      F
220      ZZ21M049     21         32          68      M
221      ZZ21M049     32         51          49      M

[222 rows x 5 columns]

In [55]:
instruction.to_csv("individual_info.csv",index=False)

In [27]:
# data = data[:52]
data = pd.concat([data.transpose()[:2],data.transpose()[16:]]).transpose()
data

,ParticipantId,AgeCDI,A,ABOUT,ABOVE,AFTER,AIRPLANE,ALL,ALLGONE,ALLIGATR,...,YESTERDY,YOGURT,YOU,YOUR,YOURSELF,YUCKY,YUMYUM,ZEBRA,ZIPPER,ZOO
0,AA04M058,19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,AA04M058,26,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,AA30F039,30,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1
3,AB03F057,24,1,0,0,0,1,1,1,1,...,0,1,1,0,0,1,1,1,1,1
4,AC17F058,18,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,VP23F039,23,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
218,VP23F039,30,0,0,0,0,1,0,1,1,...,0,1,1,0,0,1,1,1,0,0
219,YT29F049,30,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
220,ZZ21M049,21,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
221,ZZ21M049,32,0,0,0,0,1,0,1,1,...,0,0,1,0,0,1,1,0,0,1

In [28]:
data.columns = ["child_id","age"]+[c.lower() for c in list(data.columns)][2:]
data

,child_id,age,a,about,above,after,airplane,all,allgone,alligatr,...,yesterdy,yogurt,you,your,yourself,yucky,yumyum,zebra,zipper,zoo
0,AA04M058,19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,AA04M058,26,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,AA30F039,30,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1
3,AB03F057,24,1,0,0,0,1,1,1,1,...,0,1,1,0,0,1,1,1,1,1
4,AC17F058,18,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,VP23F039,23,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
218,VP23F039,30,0,0,0,0,1,0,1,1,...,0,1,1,0,0,1,1,1,0,0
219,YT29F049,30,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
220,ZZ21M049,21,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
221,ZZ21M049,32,0,0,0,0,1,0,1,1,...,0,0,1,0,0,1,1,0,0,1

In [39]:
sorted(data.transpose()["age"].unique())

[17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 nan]

In [29]:
data.to_csv("individual_info.csv",index=False)

In [30]:
## group the kids by eglish visit because we analyze only the english data
eg = data.groupby("age")
sessions = [eg.get_group(x) for x in eg.groups]

In [31]:
data=data.transpose()

In [32]:
session

,child,age,a,about,above,after,airplane,all,allgone,alligatr,...,yesterdy,yogurt,you,your,yourself,yucky,yumyum,zebra,zipper,zoo
138,JV04M057,36,0,1,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [33]:
d = {}
for session in sessions:
    childs = session["child_id"].to_list()
    column_name = "age_"+str(session["age"].unique()[0])
    df = session.transpose()[2:].replace("",np.nan)
    df["mean"] = df.mean(axis=1)
    df = df.astype(float).round(2)
#     if column_name=="age_34":
#         for i,j in df.iterrows():
#             if j["mean"]<0:
#                 print(i,j)

    d[column_name] = [childs,df["mean"]]

In [34]:
d

{'age_17': [['JM17M039', 'VE15F088'],
  a           0.0
  about       0.0
  above       0.0
  after       0.0
  airplane    0.0
             ...
  yucky       0.0
  yumyum      0.0
  zebra       0.0
  zipper      0.0
  zoo         0.0
  Name: mean, Length: 797, dtype: float64],
 'age_18': [['AC17F058',
   'AM18F020',
   'AM18M078',
   'DY10M048',
   'ED06M117',
   'ES11M099',
   'FM08F039',
   'GR14M119',
   'JM08M048',
   'JM14F039',
   'JR15M119',
   'SB12M048'],
  a           0.25
  about       0.00
  above       0.00
  after       0.00
  airplane    0.42
              ...
  yucky       0.25
  yumyum      0.67
  zebra       0.08
  zipper      0.00
  zoo         0.08
  Name: mean, Length: 797, dtype: float64],
 'age_19': [['AA04M058',
   'AR15F039',
   'CC05M088',
   'CG10M058',
   'EG12M048',
   'EJ19F108',
   'EP14F109',
   'EU10F048',
   'GH11M098',
   'JC18M088',
   'JE09M048',
   'KW16F048',
   'MC07M058',
   'MF04F117',
   'MG00M068',
   'MG04F057',
   'RH19M048'],
  a           0.18
  about       0.00
  above       0.00
  after       0.00
  airplane    0.18
              ...
  yucky       0.18
  yumyum      0.29
  zebra       0.06
  zipper      0.06
  zoo         0.12
  Name: mean, Length: 797, dtype: float64],
 'age_20': [['EB19M039', 'FA20M039', 'NA00M058', 'VO19M039'],
  a           0.00
  about       0.00
  above       0.00
  after       0.00
  airplane    0.25
              ...
  yucky       0.00
  yumyum      0.25
  zebra       0.00
  zipper      0.00
  zoo         0.00
  Name: mean, Length: 797, dtype: float64],
 'age_21': [['CS21M078',
   'HE03F038',
   'LH19M049',
   'NW07M108',
   'SL03F038',
   'SS11F058',
   'ZZ21M049'],
  a           0.00
  about       0.00
  above       0.00
  after       0.00
  airplane    0.43
              ...
  yucky       0.00
  yumyum      0.43
  zebra       0.00
  zipper      0.00
  zoo         0.14
  Name: mean, Length: 797, dtype: float64],
 'age_22': [['AF01F058',
   'AL13F039',
   'JH11M058',
   'KB09F049',
   'KH06F098',
   'MG21M039',
   'SS07F088',
   'TS20M118'],
  a           0.12
  about       0.00
  above       0.00
  after       0.00
  airplane    0.38
              ...
  yucky       0.38
  yumyum      0.25
  zebra       0.00
  zipper      0.12
  zoo         0.00
  Name: mean, Length: 797, dtype: float64],
 'age_23': [['AR15F039',
   'CS23F039',
   'CW02F097',
   'JM08M048',
   'JR23M049',
   'MD06M048',
   'MW02M048',
   'TR12M048',
   'VP23F039'],
  a           0.00
  about       0.00
  above       0.00
  after       0.00
  airplane    0.56
              ...
  yucky       0.33
  yumyum      0.33
  zebra       0.22
  zipper      0.11
  zoo         0.22
  Name: mean, Length: 797, dtype: float64],
 'age_24': [['AB03F057',
   'AJ14M058',
   'AL06F098',
   'AM18M078',
   'AM22M088',
   'AP15F088',
   'BC21M088',
   'BN14M098',
   'CC05M088',
   'CK19F088',
   'CT21M048',
   'DG12M048',
   'EA22F108',
   'EG12M048',
   'EO04F018',
   'ER17M078',
   'ET09F058',
   'FA20M039',
   'GM18F049',
   'HS13M087',
   'JM14F039',
   'JM14M58B',
   'JM17M039',
   'JO21M068',
   'JS20M058',
   'KV23F108',
   'MA05M018',
   'MK03M057',
   'MS11F038',
   'OO18F088',
   'PI20F058',
   'RL17M058',
   'SP24F039',
   'VA24M030',
   'VE15F088',
   'VL18F058'],
  a           0.14
  about       0.00
  above       0.00
  after       0.03
  airplane    0.31
              ...
  yucky       0.19
  yumyum      0.50
  zebra       0.08
  zipper      0.14
  zoo         0.17
  Name: mean, Length: 797, dtype: float64],
 'age_25': [['AW04M057',
   'CG10M058',
   'CS04F047',
   'DR13M038',
   'DY10M048',
   'GG17M078',
   'GH11M098',
   'GS24F058',
   'JE25F058',
   'JO25M059',
   'JV04M057',
   'KH24F010',
   'LG21M058',
   'LK24F068',
   'LP21M088',
   'MC07M058',
   'MF04F117',
   'MM16M088',
   'MV11M058',
   'PR20F078',
   'RA25M039',
   'SL14F038',
   'SM17F039',
   'VG11F088'],
  a           0.33
  about       0.00
  above       0.04
  after       0.04
  airplane    0.62
              ...
  yucky       0.46
  yumyum      0.46
  zebra       0.29
  zipper      0.17
  zoo         0.17
  Name: mean, Length: 797, dtype: float64],
 'age_26': [['AA04M058',
   'CA26M039',
   'CD26M020',
   'CS07F078',
   'DY10M048',
   'EG03F107',
   'JE18M088',
   'PA26M109',
   'RA26F039'],
  a           0.00
  about       0.00
  above       0.00
  after       0.00
  airplane    0.44
              ...
  yucky       0.44
  yumyum      0.56
  zebra       0.11
  zipper      0.11
  zoo         0.22
  Name: mean, Length: 797, dtype: float64],
 'age_27': [['AL16F039',
   'CF27F089',
   'CS21M078',
   'EU10F048',
   'IC14F039',
   'IR22M018',
   'JM04F048',
   'MD27F020',
   'VG27F049'],
  a           0.22
  about       0.00
  above       0.00
  after       0.00
  airplane    0.33
              ...
  yucky       0.33
  yumyum      0.56
  zebra       0.33
  zipper      0.22
  zoo         0.22
  Name: mean, Length: 797, dtype: float64],
 'age_28': [['AG06M058',
   'AP28F030',
   'CW02F097',
   'IC28M039',
   'JM17M039',
   'KG23F019',
   'KW16F048',
   'SM25F069',
   'TS20M118'],
  a           0.56
  about       0.22
  above       0.11
  after       0.22
  airplane    0.56
              ...
  yucky       0.33
  yumyum      0.67
  zebra       0.33
  zipper      0.33
  zoo         0.22
  Name: mean, Length: 797, dtype: float64],
 'age_29': [['AG21M059',
   'AM18M078',
   'AS28F039',
   'CE24M068',
   'CS23F039',
   'DG29F098',
   'EC29F030',
   'EM25F039',
   'IA25F058',
   'JO21M068',
   'JS25M019',
   'OO18F088',
   'RH19M048',
   'VE15F088'],
  a           0.00
  about       0.00
  above       0.00
  after       0.00
  airplane    0.43
              ...
  yucky       0.21
  yumyum      0.50
  zebra       0.21
  zipper      0.14
  zoo         0.36
  Name: mean, Length: 797, dtype: float64],
 'age_30': [['AA30F039',
   'AO31F030',
   'AS24M088',
   'BN14M098',
   'CF27F089',
   'CR29M098',
   'CS04F047',
   'CT21M048',
   'DS29M039',
   'DV27M058',
   'EB19M039',
   'ED06M117',
   'EV23F088',
   'GS24F058',
   'JM30F048',
   'KV23F108',
   'MB30M078',
   'MK03M057',
   'ML27F028',
   'PI20F058',
   'RA25M039',
   'RI30M058',
   'SM17F039',
   'VP23F039',
   'YT29F049'],
  a           0.36
  about       0.00
  above       0.00
  after       0.08
  airplane    0.72
              ...
  yucky       0.40
  yumyum      0.64
  zebra       0.52
  zipper      0.20
  zoo         0.48
  Name: mean, Length: 797, dtype: float64],
 'age_31': [['AJ14M058',
   'AW04M057',
   'BC21M088',
   'CK19F088',
   'CP31F088',
   'CW02F097',
   'DB31M030',
   'EG31M049',
   'EJ19F108',
   'GM24F098',
   'IR30M058',
   'JV04M057',
   'KG23F019',
   'MA05M018',
   'SS11F058',
   'TM30M058',
   'VG11F088'],
  a           0.24
  about       0.06
  above       0.12
  after       0.12
  airplane    0.82
              ...
  yucky       0.59
  yumyum      0.65
  zebra       0.35
  zipper      0.35
  zoo         0.35
  Name: mean, Length: 797, dtype: float64],
 'age_32': [['AL28F118',
   'AP15F088',
   'CV32M038',
   'DY10M048',
   'ER31F058',
   'ET32F098',
   'GB21M058',
   'JH11M058',
   'MS31F058',
   'MV11M058',
   'OF32F058',
   'RA25M039',
   'SW31F048',
   'ZZ21M049'],
  a           0.29
  about       0.14
  above       0.00
  after       0.14
  airplane    0.71
              ...
  yucky       0.43
  yumyum      0.43
  zebra       0.21
  zipper      0.29
  zoo         0.29
  Name: mean, Length: 797, dtype: float64],
 'age_33': [['EC30M058', 'JS32F059', 'PR20F078'],
  a           0.00
  about       0.00
  above       0.00
  after       0.00
  airplane    0.67
              ...
  yucky       0.33
  yumyum      0.00
  zebra       0.33
  zipper      0.00
  zoo         0.33
  Name: mean, Length: 797, dtype: float64],
 'age_34': [['MK03M057'],
  a           0.0
  about       0.0
  above       0.0
  after       0.0
  airplane    1.0
             ...
  yucky       1.0
  yumyum      1.0
  zebra       1.0
  zipper      1.0
  zoo         1.0
  Name: mean, Length: 797, dtype: float64],
 'age_35': [['NR19F069'],
  a           0.0
  about       0.0
  above       0.0
  after       0.0
  airplane    1.0
             ...
  yucky       1.0
  yumyum      1.0
  zebra       1.0
  zipper      0.0
  zoo         1.0
  Name: mean, Length: 797, dtype: float64],
 'age_36': [['JV04M057'],
  a           0.0
  about       1.0
  above       0.0
  after       0.0
  airplane    1.0
             ...
  yucky       0.0
  yumyum      0.0
  zebra       0.0
  zipper      0.0
  zoo         0.0
  Name: mean, Length: 797, dtype: float64]}

In [35]:
for k,v in d.items():
    data[k] = [str(v[0])]+[np.nan]+list(v[1])

In [40]:
data

,0,1,2,3,4,5,6,7,8,9,...,age_27,age_28,age_29,age_30,age_31,age_32,age_33,age_34,age_35,age_36
child_id,AA04M058,AA04M058,AA30F039,AB03F057,AC17F058,AF01F058,AG06M058,AG21M059,AJ14M058,AJ14M058,...,"['AL16F039', 'CF27F089', 'CS21M078', 'EU10F048...","['AG06M058', 'AP28F030', 'CW02F097', 'IC28M039...","['AG21M059', 'AM18M078', 'AS28F039', 'CE24M068...","['AA30F039', 'AO31F030', 'AS24M088', 'BN14M098...","['AJ14M058', 'AW04M057', 'BC21M088', 'CK19F088...","['AL28F118', 'AP15F088', 'CV32M038', 'DY10M048...","['EC30M058', 'JS32F059', 'PR20F078']",['MK03M057'],['NR19F069'],['JV04M057']
age,19,26,30,24,18,22,28,29,24,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
a,0,0,0,1,0,0,0,0,0,0,...,0.22,0.56,0.0,0.36,0.24,0.29,0.0,0.0,0.0,0.0
about,0,0,0,0,0,0,0,0,0,0,...,0.0,0.22,0.0,0.0,0.06,0.14,0.0,0.0,0.0,1.0
above,0,0,0,0,0,0,0,0,0,0,...,0.0,0.11,0.0,0.0,0.12,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yucky,0,0,1,1,0,0,0,1,0,1,...,0.33,0.33,0.21,0.4,0.59,0.43,0.33,1.0,1.0,0.0
yumyum,0,0,0,1,0,0,0,1,0,0,...,0.56,0.67,0.5,0.64,0.65,0.43,0.0,1.0,1.0,0.0
zebra,0,0,0,1,0,0,0,1,0,0,...,0.33,0.33,0.21,0.52,0.35,0.21,0.33,1.0,1.0,0.0
zipper,0,0,0,1,0,0,0,0,0,0,...,0.22,0.33,0.14,0.2,0.35,0.29,0.0,1.0,0.0,0.0
zoo,0,0,1,1,0,0,0,1,0,1,...,0.22,0.22,0.36,0.48,0.35,0.29,0.33,1.0,1.0,0.0

In [41]:
data = data.transpose()[-20:].drop(columns=["age"]).transpose()
data

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,age_27,age_28,age_29,age_30,age_31,age_32,age_33,age_34,age_35,age_36
child_id,"['JM17M039', 'VE15F088']","['AC17F058', 'AM18F020', 'AM18M078', 'DY10M048...","['AA04M058', 'AR15F039', 'CC05M088', 'CG10M058...","['EB19M039', 'FA20M039', 'NA00M058', 'VO19M039']","['CS21M078', 'HE03F038', 'LH19M049', 'NW07M108...","['AF01F058', 'AL13F039', 'JH11M058', 'KB09F049...","['AR15F039', 'CS23F039', 'CW02F097', 'JM08M048...","['AB03F057', 'AJ14M058', 'AL06F098', 'AM18M078...","['AW04M057', 'CG10M058', 'CS04F047', 'DR13M038...","['AA04M058', 'CA26M039', 'CD26M020', 'CS07F078...","['AL16F039', 'CF27F089', 'CS21M078', 'EU10F048...","['AG06M058', 'AP28F030', 'CW02F097', 'IC28M039...","['AG21M059', 'AM18M078', 'AS28F039', 'CE24M068...","['AA30F039', 'AO31F030', 'AS24M088', 'BN14M098...","['AJ14M058', 'AW04M057', 'BC21M088', 'CK19F088...","['AL28F118', 'AP15F088', 'CV32M038', 'DY10M048...","['EC30M058', 'JS32F059', 'PR20F078']",['MK03M057'],['NR19F069'],['JV04M057']
a,0.0,0.25,0.18,0.0,0.0,0.12,0.0,0.14,0.33,0.0,0.22,0.56,0.0,0.36,0.24,0.29,0.0,0.0,0.0,0.0
about,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.22,0.0,0.0,0.06,0.14,0.0,0.0,0.0,1.0
above,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.04,0.0,0.0,0.11,0.0,0.0,0.12,0.0,0.0,0.0,0.0,0.0
after,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.03,0.04,0.0,0.0,0.22,0.0,0.08,0.12,0.14,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yucky,0.0,0.25,0.18,0.0,0.0,0.38,0.33,0.19,0.46,0.44,0.33,0.33,0.21,0.4,0.59,0.43,0.33,1.0,1.0,0.0
yumyum,0.0,0.67,0.29,0.25,0.43,0.25,0.33,0.5,0.46,0.56,0.56,0.67,0.5,0.64,0.65,0.43,0.0,1.0,1.0,0.0
zebra,0.0,0.08,0.06,0.0,0.0,0.0,0.22,0.08,0.29,0.11,0.33,0.33,0.21,0.52,0.35,0.21,0.33,1.0,1.0,0.0
zipper,0.0,0.0,0.06,0.0,0.0,0.12,0.11,0.14,0.17,0.11,0.22,0.33,0.14,0.2,0.35,0.29,0.0,1.0,0.0,0.0
zoo,0.0,0.08,0.12,0.0,0.14,0.0,0.22,0.17,0.17,0.22,0.22,0.22,0.36,0.48,0.35,0.29,0.33,1.0,1.0,0.0

In [42]:
data.to_csv("by_word_by_age.csv")