In [1]:
import pandas as pd
import numpy as np

In [15]:

irish = pd.read_csv("Irish_English.csv")
irish_data = pd.read_csv("Irish_English_data.csv")

In [16]:
irish

,item,itemID,type,choices,complexity_category,definition,gloss
0,ahah,item_1,SOUND EFFECTS AND ANIMAL NOISES,produces; doesn't produce,NaN,ahah,ahah
1,baabaa,item_2,SOUND EFFECTS AND ANIMAL NOISES,produces; doesn't produce,NaN,baabaa,baabaa
2,bowwow,item_3,SOUND EFFECTS AND ANIMAL NOISES,produces; doesn't produce,NaN,bowwow,bowwow
3,choochoo,item_4,SOUND EFFECTS AND ANIMAL NOISES,produces; doesn't produce,NaN,choochoo,choochoo
4,cockadoodledoo,item_5,SOUND EFFECTS AND ANIMAL NOISES,produces; doesn't produce,NaN,cockadoodledoo,cockadoodledoo
...,...,...,...,...,...,...,...
1348,if,item_1349,CONNECTING WORDS,produces; doesn't produce,NaN,if,if
1349,mar,item_1350,CONNECTING WORDS,produces; doesn't produce,NaN,because,because
1350,because,item_1351,CONNECTING WORDS,produces; doesn't produce,NaN,because,because
1351,huair,item_1352,CONNECTING WORDS,produces; doesn't produce,NaN,when,when
1352,when,item_1353,CONNECTING WORDS,produces; doesn't produce,NaN,when,when

In [17]:
is_eng = []
for i,term in irish.iterrows():
    if term[5] == term[6]:
        is_eng.append(True)
    else:
        is_eng.append(False)

In [18]:
irish["is_eng"] = is_eng

In [19]:
english_terms = irish[irish["is_eng"] == True]
# english_terms
english_terms_id = english_terms["itemID"].to_list()
# english_terms_id

In [20]:
irish_data

,CHILD,SessionNo,age,gender,BirthOrder,MainCaregiverIrish,MainCaregiverEnglish,LanguageHousehold,MotherEducationESS,FatherEducationESS,...,item_1349,item_1350,item_1351,item_1352,item_1353,TotIrish,TotEnglish,TotVocab,TotConcepVoc,ComplexityNew
0,101,1,35,Boys,4,Always,Never/rarely,Mostly Irish,3,2,...,0,1,0,1,0,579,204,783,624,40.92
1,102,1,19,girl,5,Always,Never/rarely,Mostly Irish,5,4,...,0,0,0,0,0,212,29,241,227,8.25
2,102,2,26,girl,5,Always,Never/rarely,Mostly Irish,5,4,...,0,1,0,0,0,461,54,515,493,18.81
3,103,1,34,girl,2,Always,Never/rarely,Equal Irish and English,5,4,...,0,1,1,1,1,544,152,696,576,37.62
4,104,1,30,Boys,1,Always,Never/rarely,Mostly Irish,4,4,...,0,1,0,1,0,521,97,618,554,25.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,402,1,36,girl,2,50:50,50:50,Equal Irish and English,4,2,...,0,0,0,0,0,167,330,497,358,22.11
95,501,1,28,girl,1,Always,Never/rarely,Mostly English,4,1,...,0,0,0,0,0,378,136,514,488,40.92
96,503,1,25,girl,2,Always,Never/rarely,Irish Only,4,3,...,0,0,0,0,0,153,29,182,169,10.23
97,504,1,23,girl,3,Usually,Never/rarely,Irish Only,4,1,...,0,0,0,0,0,234,110,344,305,16.50
98,505,1,24,girl,1,Always,Never/rarely,Equal Irish and English,4,2,...,0,0,0,0,0,203,171,374,322,10.23

In [21]:
keep_columns = list(irish_data.columns)
keep_columns = keep_columns[:10]+english_terms_id+keep_columns[-5:]
keep_columns

['CHILD',
 'SessionNo',
 'age',
 'gender',
 'BirthOrder',
 'MainCaregiverIrish',
 'MainCaregiverEnglish',
 'LanguageHousehold',
 'MotherEducationESS',
 'FatherEducationESS',
 'item_1',
 'item_2',
 'item_3',
 'item_4',
 'item_5',
 'item_6',
 'item_7',
 'item_8',
 'item_9',
 'item_10',
 'item_11',
 'item_12',
 'item_13',
 'item_15',
 'item_17',
 'item_18',
 'item_19',
 'item_22',
 'item_24',
 'item_26',
 'item_28',
 'item_30',
 'item_31',
 'item_33',
 'item_35',
 'item_37',
 'item_39',
 'item_41',
 'item_43',
 'item_45',
 'item_47',
 'item_50',
 'item_52',
 'item_54',
 'item_55',
 'item_57',
 'item_59',
 'item_61',
 'item_63',
 'item_65',
 'item_67',
 'item_69',
 'item_71',
 'item_73',
 'item_75',
 'item_78',
 'item_80',
 'item_82',
 'item_86',
 'item_88',
 'item_90',
 'item_92',
 'item_94',
 'item_96',
 'item_99',
 'item_102',
 'item_104',
 'item_105',
 'item_107',
 'item_109',
 'item_111',
 'item_113',
 'item_115',
 'item_116',
 'item_118',
 'item_123',
 'item_125',
 'item_130',
 'item_133',
 'item_135',
 'item_137',
 'item_139',
 'item_141',
 'item_143',
 'item_146',
 'item_147',
 'item_150',
 'item_152',
 'item_154',
 'item_156',
 'item_158',
 'item_160',
 'item_162',
 'item_163',
 'item_165',
 'item_167',
 'item_169',
 'item_171',
 'item_174',
 'item_176',
 'item_178',
 'item_179',
 'item_181',
 'item_183',
 'item_188',
 'item_190',
 'item_192',
 'item_194',
 'item_196',
 'item_198',
 'item_204',
 'item_207',
 'item_208',
 'item_210',
 'item_212',
 'item_214',
 'item_217',
 'item_219',
 'item_221',
 'item_223',
 'item_225',
 'item_227',
 'item_229',
 'item_231',
 'item_234',
 'item_237',
 'item_239',
 'item_241',
 'item_243',
 'item_245',
 'item_247',
 'item_249',
 'item_251',
 'item_253',
 'item_254',
 'item_256',
 'item_258',
 'item_260',
 'item_262',
 'item_264',
 'item_266',
 'item_268',
 'item_270',
 'item_272',
 'item_274',
 'item_276',
 'item_278',
 'item_280',
 'item_282',
 'item_284',
 'item_286',
 'item_290',
 'item_293',
 'item_295',
 'item_297',
 'item_299',
 'item_301',
 'item_303',
 'item_305',
 'item_307',
 'item_309',
 'item_311',
 'item_313',
 'item_315',
 'item_319',
 'item_321',
 'item_324',
 'item_326',
 'item_329',
 'item_331',
 'item_333',
 'item_335',
 'item_337',
 'item_339',
 'item_341',
 'item_343',
 'item_345',
 'item_349',
 'item_351',
 'item_353',
 'item_355',
 'item_357',
 'item_359',
 'item_361',
 'item_363',
 'item_365',
 'item_367',
 'item_370',
 'item_372',
 'item_374',
 'item_376',
 'item_378',
 'item_380',
 'item_382',
 'item_384',
 'item_386',
 'item_388',
 'item_390',
 'item_392',
 'item_394',
 'item_396',
 'item_398',
 'item_400',
 'item_402',
 'item_404',
 'item_406',
 'item_408',
 'item_410',
 'item_412',
 'item_414',
 'item_416',
 'item_418',
 'item_421',
 'item_423',
 'item_425',
 'item_428',
 'item_430',
 'item_432',
 'item_434',
 'item_436',
 'item_438',
 'item_440',
 'item_442',
 'item_446',
 'item_449',
 'item_451',
 'item_453',
 'item_454',
 'item_455',
 'item_456',
 'item_457',
 'item_459',
 'item_462',
 'item_464',
 'item_466',
 'item_468',
 'item_470',
 'item_472',
 'item_474',
 'item_476',
 'item_478',
 'item_482',
 'item_484',
 'item_486',
 'item_488',
 'item_491',
 'item_493',
 'item_495',
 'item_497',
 'item_499',
 'item_501',
 'item_503',
 'item_507',
 'item_509',
 'item_511',
 'item_513',
 'item_515',
 'item_517',
 'item_519',
 'item_521',
 'item_523',
 'item_525',
 'item_527',
 'item_529',
 'item_531',
 'item_533',
 'item_535',
 'item_537',
 'item_539',
 'item_541',
 'item_543',
 'item_545',
 'item_547',
 'item_549',
 'item_553',
 'item_555',
 'item_557',
 'item_559',
 'item_561',
 'item_563',
 'item_565',
 'item_567',
 'item_569',
 'item_571',
 'item_573',
 'item_574',
 'item_575',
 'item_577',
 'item_579',
 'item_581',
 'item_583',
 'item_585',
 'item_587',
 'item_589',
 'item_591',
 'item_593',
 'item_595',
 'item_597',
 'item_599',
 'item_601',
 'item_603',
 'item_605',
 'item_607',
 'item_609',
 'item_611',
 'item_613',
 'item_615',
 'item_617',
 'item_619',
 'item_621',
 'item_623',
 'item_625',
 'item_627',
 'item_629',
 'item_631',
 'item_633',
 'item_635',
 'item_637',
 'item_641',
 'item_643',
 'item_645',
 'item_647',
 'item_649',
 'item_651',
 'item_653',
 'item_655',
 'item_657',
 'item_659',
 'item_662',
 'item_664',
 'item_667',
 'item_669',
 'item_671',
 'item_677',
 'item_679',
 'item_681',
 'item_683',
 'item_685',
 'item_687',
 'item_689',
 'item_691',
 'item_694',
 'item_696',
 'item_698',
 'item_700',
 'item_702',
 'item_704',
 'item_706',
 'item_708',
 'item_710',
 'item_712',
 'item_714',
 'item_718',
 'item_720',
 'item_723',
 'item_725',
 'item_727',
 'item_730',
 'item_734',
 'item_738',
 'item_746',
 'item_748',
 'item_750',
 'item_752',
 'item_756',
 'item_766',
 'item_768',
 'item_770',
 'item_774',
 'item_779',
 'item_782',
 'item_785',
 'item_787',
 'item_789',
 'item_791',
 'item_795',
 'item_797',
 'item_799',
 'item_801',
 'item_803',
 'item_805',
 'item_807',
 'item_809',
 'item_811',
 'item_813',
 'item_815',
 'item_817',
 'item_819',
 'item_821',
 'item_823',
 'item_825',
 'item_827',
 'item_829',
 'item_833',
 'item_835',
 'item_837',
 'item_839',
 'item_841',
 'item_843',
 'item_845',
 'item_847',
 'item_849',
 'item_851',
 'item_853',
 'item_855',
 'item_857',
 'item_859',
 'item_861',
 'item_863',
 'item_865',
 'item_867',
 'item_869',
 'item_871',
 'item_873',
 'item_875',
 'item_877',
 'item_879',
 'item_881',
 'item_883',
 'item_885',
 'item_887',
 'item_889',
 'item_891',
 'item_895',
 'item_897',
 'item_899',
 'item_901',
 'item_903',
 'item_905',
 'item_907',
 'item_909',
 'item_911',
 'item_913',
 'item_915',
 'item_917',
 'item_919',
 'item_921',
 'item_925',
 'item_927',
 'item_929',
 'item_931',
 'item_933',
 'item_935',
 'item_937',
 'item_939',
 'item_941',
 'item_943',
 'item_945',
 'item_947',
 'item_949',
 'item_951',
 'item_953',
 'item_955',
 'item_959',
 'item_961',
 'item_963',
 'item_965',
 'item_967',
 'item_969',
 'item_973',
 'item_975',
 'item_977',
 'item_979',
 'item_981',
 'item_983',
 'item_985',
 'item_987',
 'item_989',
 'item_991',
 'item_993',
 'item_995',
 'item_997',
 'item_999',
 'item_1001',
 'item_1003',
 'item_1005',
 'item_1007',
 'item_1009',
 'item_1011',
 'item_1013',
 'item_1015',
 'item_1017',
 'item_1019',
 'item_1021',
 'item_1023',
 'item_1025',
 'item_1027',
 'item_1029',
 'item_1031',
 'item_1033',
 'item_1035',
 'item_1037',
 'item_1039',
 'item_1041',
 'item_1045',
 'item_1047',
 'item_1049',
 'item_1051',
 'item_1053',
 'item_1055',
 'item_1057',
 'item_1059',
 'item_1061',
 'item_1063',
 'item_1065',
 'item_1067',
 'item_1069',
 'item_1071',
 'item_1073',
 'item_1075',
 'item_1077',
 'item_1079',
 'item_1081',
 'item_1083',
 'item_1085',
 'item_1087',
 'item_1089',
 'item_1091',
 'item_1093',
 'item_1095',
 'item_1097',
 'item_1099',
 'item_1101',
 'item_1103',
 'item_1105',
 'item_1107',
 'item_1109',
 'item_1111',
 'item_1113',
 'item_1115',
 'item_1117',
 'item_1119',
 'item_1121',
 'item_1123',
 'item_1125',
 'item_1127',
 'item_1128',
 'item_1129',
 'item_1130',
 'item_1131',
 'item_1133',
 'item_1135',
 'item_1136',
 'item_1137',
 'item_1139',
 'item_1141',
 'item_1143',
 'item_1145',
 'item_1147',
 'item_1148',
 'item_1150',
 'item_1151',
 'item_1153',
 'item_1157',
 'item_1159',
 'item_1161',
 'item_1167',
 'item_1169',
 'item_1196',
 'item_1198',
 'item_1200',
 'item_1202',
 'item_1204',
 'item_1206',
 'item_1208',
 'item_1210',
 'item_1212',
 'item_1214',
 'item_1216',
 'item_1218',
 'item_1220',
 'item_1222',
 'item_1224',
 'item_1228',
 'item_1229',
 'item_1230',
 'item_1232',
 'item_1234',
 'item_1236',
 'item_1238',
 'item_1239',
 'item_1240',
 'item_1242',
 'item_1244',
 'item_1246',
 'item_1248',
 'item_1250',
 'item_1252',
 'item_1254',
 'item_1256',
 'item_1258',
 'item_1260',
 'item_1262',
 'item_1264',
 'item_1266',
 'item_1268',
 'item_1270',
 'item_1272',
 'item_1275',
 'item_1277',
 'item_1279',
 'item_1281',
 'item_1283',
 'item_1285',
 'item_1287',
 'item_1289',
 'item_1291',
 'item_1293',
 'item_1295',
 'item_1297',
 'item_1299',
 'item_1300',
 'item_1302',
 'item_1304',
 'item_1306',
 'item_1308',
 'item_1310',
 'item_1312',
 'item_1317',
 'item_1319',
 'item_1321',
 'item_1324',
 'item_1325',
 'item_1329',
 'item_1331',
 'item_1341',
 'item_1343',
 'item_1345',
 'item_1347',
 'item_1348',
 'item_1349',
 'item_1350',
 'item_1351',
 'item_1352',
 'item_1353',
 'TotIrish',
 'TotEnglish',
 'TotVocab',
 'TotConcepVoc',
 'ComplexityNew']

In [22]:
english_in_irish = irish_data[keep_columns]
english_in_irish

,CHILD,SessionNo,age,gender,BirthOrder,MainCaregiverIrish,MainCaregiverEnglish,LanguageHousehold,MotherEducationESS,FatherEducationESS,...,item_1349,item_1350,item_1351,item_1352,item_1353,TotIrish,TotEnglish,TotVocab,TotConcepVoc,ComplexityNew
0,101,1,35,Boys,4,Always,Never/rarely,Mostly Irish,3,2,...,0,1,0,1,0,579,204,783,624,40.92
1,102,1,19,girl,5,Always,Never/rarely,Mostly Irish,5,4,...,0,0,0,0,0,212,29,241,227,8.25
2,102,2,26,girl,5,Always,Never/rarely,Mostly Irish,5,4,...,0,1,0,0,0,461,54,515,493,18.81
3,103,1,34,girl,2,Always,Never/rarely,Equal Irish and English,5,4,...,0,1,1,1,1,544,152,696,576,37.62
4,104,1,30,Boys,1,Always,Never/rarely,Mostly Irish,4,4,...,0,1,0,1,0,521,97,618,554,25.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,402,1,36,girl,2,50:50,50:50,Equal Irish and English,4,2,...,0,0,0,0,0,167,330,497,358,22.11
95,501,1,28,girl,1,Always,Never/rarely,Mostly English,4,1,...,0,0,0,0,0,378,136,514,488,40.92
96,503,1,25,girl,2,Always,Never/rarely,Irish Only,4,3,...,0,0,0,0,0,153,29,182,169,10.23
97,504,1,23,girl,3,Usually,Never/rarely,Irish Only,4,1,...,0,0,0,0,0,234,110,344,305,16.50
98,505,1,24,girl,1,Always,Never/rarely,Equal Irish and English,4,2,...,0,0,0,0,0,203,171,374,322,10.23

In [24]:
individual = english_in_irish.transpose()[:7]
individual.transpose().to_csv("individual_info.csv",index=False)

In [10]:
eg = english_in_irish.groupby("age")
sessions = [eg.get_group(x) for x in eg.groups]

In [159]:
english_in_irish = english_in_irish.transpose()

In [160]:
sessions[0]

,CHILD,SessionNo,age,gender,BirthOrder,MainCaregiverIrish,MainCaregiverEnglish,LanguageHousehold,MotherEducationESS,FatherEducationESS,...,item_1349,item_1350,item_1351,item_1352,item_1353,TotIrish,TotEnglish,TotVocab,TotConcepVoc,ComplexityNew
11,107,1,17,Boys,2,Always,Never/rarely,Mostly Irish,2,5,...,0,0,0,0,0,44,13,57,44,0.00
77,317,1,17,girl,3,Always,Never/rarely,Mostly Irish,-99,-99,...,0,0,0,0,0,70,22,92,84,0.33

In [183]:
d = {}
for session in sessions:
    childs = session["CHILD"].to_list()
    column_name = "age_"+str(session["age"].unique()[0])
    df = session.transpose()[10:-5].replace(-99,np.nan)
    df["mean"] = df.mean(axis=1)
    df = df.astype(float).round(2)
#     if column_name=="age_34":
#         for i,j in df.iterrows():
#             if j["mean"]<0:
#                 print(i,j)

    d[column_name] = [childs,df["mean"]]

In [184]:
d

{'age_17': [[107, 317],
  item_1       1.0
  item_2       1.0
  item_3       1.0
  item_4       0.5
  item_5       0.5
              ...
  item_1349    0.0
  item_1350    0.0
  item_1351    0.0
  item_1352    0.0
  item_1353    0.0
  Name: mean, Length: 625, dtype: float64],
 'age_18': [[110],
  item_1       0.0
  item_2       1.0
  item_3       1.0
  item_4       0.0
  item_5       0.0
              ...
  item_1349    0.0
  item_1350    0.0
  item_1351    0.0
  item_1352    0.0
  item_1353    0.0
  Name: mean, Length: 625, dtype: float64],
 'age_19': [[102, 315],
  item_1       0.5
  item_2       1.0
  item_3       1.0
  item_4       1.0
  item_5       1.0
              ...
  item_1349    0.0
  item_1350    0.0
  item_1351    0.0
  item_1352    0.0
  item_1353    0.0
  Name: mean, Length: 625, dtype: float64],
 'age_20': [[119],
  item_1       1.0
  item_2       1.0
  item_3       1.0
  item_4       0.0
  item_5       1.0
              ...
  item_1349    0.0
  item_1350    0.0
  item_1351    0.0
  item_1352    0.0
  item_1353    0.0
  Name: mean, Length: 625, dtype: float64],
 'age_21': [[108, 117, 311],
  item_1       0.33
  item_2       1.00
  item_3       1.00
  item_4       0.67
  item_5       0.33
               ...
  item_1349    0.00
  item_1350    0.00
  item_1351    0.00
  item_1352    0.00
  item_1353    0.00
  Name: mean, Length: 625, dtype: float64],
 'age_22': [[110, 114, 116, 304],
  item_1       0.75
  item_2       1.00
  item_3       1.00
  item_4       0.25
  item_5       0.50
               ...
  item_1349    0.00
  item_1350    0.00
  item_1351    0.00
  item_1352    0.00
  item_1353    0.00
  Name: mean, Length: 625, dtype: float64],
 'age_23': [[107, 109, 401, 504],
  item_1       1.00
  item_2       1.00
  item_3       1.00
  item_4       0.75
  item_5       0.50
               ...
  item_1349    0.00
  item_1350    0.00
  item_1351    0.00
  item_1352    0.00
  item_1353    0.00
  Name: mean, Length: 625, dtype: float64],
 'age_24': [[111, 305, 307, 505],
  item_1       1.00
  item_2       1.00
  item_3       1.00
  item_4       1.00
  item_5       0.75
               ...
  item_1349    0.00
  item_1350    0.25
  item_1351    0.00
  item_1352    0.25
  item_1353    0.00
  Name: mean, Length: 625, dtype: float64],
 'age_25': [[119, 311, 313, 320, 323, 503],
  item_1       1.00
  item_2       1.00
  item_3       1.00
  item_4       0.83
  item_5       0.67
               ...
  item_1349    0.00
  item_1350    0.17
  item_1351    0.00
  item_1352    0.17
  item_1353    0.00
  Name: mean, Length: 625, dtype: float64],
 'age_26': [[102, 108, 114, 115, 302, 303, 304, 306, 316, 319],
  item_1       0.9
  item_2       1.0
  item_3       0.9
  item_4       1.0
  item_5       0.8
              ...
  item_1349    0.0
  item_1350    0.2
  item_1351    0.0
  item_1352    0.0
  item_1353    0.0
  Name: mean, Length: 625, dtype: float64],
 'age_27': [[107, 112, 118, 205, 401],
  item_1       1.0
  item_2       1.0
  item_3       1.0
  item_4       1.0
  item_5       0.6
              ...
  item_1349    0.0
  item_1350    0.0
  item_1351    0.0
  item_1352    0.0
  item_1353    0.0
  Name: mean, Length: 625, dtype: float64],
 'age_28': [[105, 111, 119, 203, 318, 322, 501],
  item_1       1.00
  item_2       1.00
  item_3       0.86
  item_4       1.00
  item_5       0.86
               ...
  item_1349    0.00
  item_1350    0.00
  item_1351    0.00
  item_1352    0.00
  item_1353    0.00
  Name: mean, Length: 625, dtype: float64],
 'age_29': [[113, 305, 314, 319],
  item_1       0.75
  item_2       1.00
  item_3       0.75
  item_4       1.00
  item_5       1.00
               ...
  item_1349    0.00
  item_1350    0.25
  item_1351    0.25
  item_1352    0.00
  item_1353    0.25
  Name: mean, Length: 625, dtype: float64],
 'age_30': [[104, 106, 108, 116, 304, 306, 307, 320, 324],
  item_1       1.00
  item_2       1.00
  item_3       1.00
  item_4       0.89
  item_5       0.89
               ...
  item_1349    0.11
  item_1350    0.56
  item_1351    0.22
  item_1352    0.33
  item_1353    0.11
  Name: mean, Length: 625, dtype: float64],
 'age_31': [[105, 112, 114, 118, 310, 311, 313, 401],
  item_1       0.88
  item_2       0.88
  item_3       1.00
  item_4       1.00
  item_5       0.75
               ...
  item_1349    0.00
  item_1350    0.00
  item_1351    0.12
  item_1352    0.00
  item_1353    0.00
  Name: mean, Length: 625, dtype: float64],
 'age_32': [[111, 115, 318, 322],
  item_1       1.00
  item_2       1.00
  item_3       1.00
  item_4       1.00
  item_5       1.00
               ...
  item_1349    0.25
  item_1350    0.25
  item_1351    0.75
  item_1352    0.75
  item_1353    0.75
  Name: mean, Length: 625, dtype: float64],
 'age_33': [[107, 113, 305, 315, 319],
  item_1       1.0
  item_2       1.0
  item_3       1.0
  item_4       1.0
  item_5       1.0
              ...
  item_1349    0.2
  item_1350    0.4
  item_1351    0.8
  item_1352    1.0
  item_1353    0.6
  Name: mean, Length: 625, dtype: float64],
 'age_34': [[103, 106, 108, 118],
  item_1       1.00
  item_2       1.00
  item_3       1.00
  item_4       1.00
  item_5       0.50
               ...
  item_1349    0.00
  item_1350    0.50
  item_1351    0.50
  item_1352    0.50
  item_1353    0.25
  Name: mean, Length: 625, dtype: float64],
 'age_35': [[101, 104, 105, 112, 115, 304, 308, 311, 314, 318, 325],
  item_1       1.00
  item_2       1.00
  item_3       1.00
  item_4       0.91
  item_5       1.00
               ...
  item_1349    0.27
  item_1350    0.64
  item_1351    0.36
  item_1352    0.64
  item_1353    0.18
  Name: mean, Length: 625, dtype: float64],
 'age_36': [[111, 114, 305, 313, 402],
  item_1       0.8
  item_2       0.8
  item_3       0.8
  item_4       0.8
  item_5       0.8
              ...
  item_1349    0.0
  item_1350    0.4
  item_1351    0.4
  item_1352    0.4
  item_1353    0.0
  Name: mean, Length: 625, dtype: float64]}

In [191]:
for k,v in d.items():
    english_in_irish[k] = [str(v[0])]+[len(v[0])]+[np.nan]*8+list(v[1])+[np.nan]*5

In [192]:
english_in_irish.index = keep_columns[:10]+english_terms["item"].to_list()+keep_columns[-5:]

In [193]:
columns = [c for c in list(english_in_irish.columns) if "age" in str(c)]
columns

['age_17',
 'age_18',
 'age_19',
 'age_20',
 'age_21',
 'age_22',
 'age_23',
 'age_24',
 'age_25',
 'age_26',
 'age_27',
 'age_28',
 'age_29',
 'age_30',
 'age_31',
 'age_32',
 'age_33',
 'age_34',
 'age_35',
 'age_36']

In [194]:
english_in_irish = english_in_irish[columns]

In [195]:
english_in_irish.to_csv("english_in_irish.csv")

In [196]:
english_in_irish

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,age_27,age_28,age_29,age_30,age_31,age_32,age_33,age_34,age_35,age_36
CHILD,"[107, 317]",[110],"[102, 315]",[119],"[108, 117, 311]","[110, 114, 116, 304]","[107, 109, 401, 504]","[111, 305, 307, 505]","[119, 311, 313, 320, 323, 503]","[102, 108, 114, 115, 302, 303, 304, 306, 316, ...","[107, 112, 118, 205, 401]","[105, 111, 119, 203, 318, 322, 501]","[113, 305, 314, 319]","[104, 106, 108, 116, 304, 306, 307, 320, 324]","[105, 112, 114, 118, 310, 311, 313, 401]","[111, 115, 318, 322]","[107, 113, 305, 315, 319]","[103, 106, 108, 118]","[101, 104, 105, 112, 115, 304, 308, 311, 314, ...","[111, 114, 305, 313, 402]"
SessionNo,2,1,2,1,3,4,4,4,6,10,5,7,4,9,8,4,5,4,11,5
age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gender,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BirthOrder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TotIrish,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TotEnglish,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TotVocab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TotConcepVoc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ComplexityNew,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [182]:
## Hebrew