In [86]:
import pandas as pd
import numpy as np

In [147]:
def unify(df):
    df.columns = ["child_ID","age"]+[i.replace("\n","").replace(" ","") for i in list(df.columns)[2:]]
    non_repetitive_column = []
    for i in df.columns:
        if i in non_repetitive_column:
            non_repetitive_column.append(i+"_2")
        else:
            non_repetitive_column.append(i)
    df.columns = non_repetitive_column
    df = df.loc[:,~df.columns.str.contains('\.')].set_index("child_ID")
    return df

In [148]:
spanish_1 = unify(pd.read_csv("spanish/paper/by_child_data.csv"))

In [149]:
spanish_2 = unify(pd.read_csv("Spanish_Marchman/paper/by_child_data.csv"))

In [150]:
irish = unify(pd.read_csv("irish/paper_data/by_child_data.csv"))

In [151]:
hebrew = unify(pd.read_csv("hebrew/paper_data/by_child_data.csv"))

In [152]:
french = unify(pd.read_csv("french/paper_data/by_child_data.csv"))

In [154]:
individual = pd.concat([spanish_1,spanish_2,irish,hebrew,french])
individual

,age,baabaa,choochoo,cockadoodledoo,grr,meow,moo,ouch,quackquack,uhoh,...,teddybear_2,lolipop,buttocks/bottom,brush_2,home_2,firemen,givemefive,gonnagetyou,pattycake_2,sh/shush/hush
child_ID,,,,,,,,,,,,,,,,,,,,,
R01ED400,48,0,1,0,1,1,1,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R01ED402,48,1,1,0,1,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R01ED403,48,1,1,1,1,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R01ED408,48,0,1,1,0,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R01ED409,48,1,1,1,1,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465.0,31.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0
466.0,32.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0
467.0,32.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0
470.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
471.0,31.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [183]:
## map
instruction = pd.read_csv("production_rate(5 languages).csv")
d = dict(zip(instruction.word, instruction.category))

In [185]:
individual = individual.transpose().reset_index()
individual

child_ID,index,R01ED400,R01ED402,R01ED403,R01ED408,R01ED409,R01ED411,R01ED414,R01ED416,R01ED419,...,457.0,458.0,459.0,461.0,463.0,465.0,466.0,467.0,470.0,471.0
0,age,48,48,48,48,48,48,48,48,48,...,31.0,32.0,31.0,32.0,30.0,31.0,32.0,32.0,30.0,31.0
1,baabaa,0,1,1,0,1,0,0,0,0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
2,choochoo,1,1,1,1,1,0,0,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,cockadoodledoo,0,0,1,1,1,0,0,0,0,...,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0
4,grr,1,1,1,0,1,1,0,1,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1498,firemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
1499,givemefive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0
1500,gonnagetyou,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0
1501,pattycake_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
1502,sh/shush/hush,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0

In [317]:
import re

d = d_word2category
def find_in_d(x):
    x = x.replace("_","")
    if x in d:
        return d[x]
    elif  (x+"s" in d) and len(x)>2:
        return d[x+"s"]
    elif  x+"es" in d and len(x)>2:
        return d[x+"es"]
    elif x[-1]=="s":
        if x[:-1] in d:
            return d[x[:-1]]
    return ""
def m(x):
    x = x.split(".")[0]
    x1 = x.replace("(","").replace(")","").lower()
    r1 = find_in_d(x1)
    if r1:
        return r1
    x2 = re.sub(r"\([^()]*\)", "", x).lower()
    r2 = find_in_d(x2)
    if r2:
        return r2
    x3 = re.sub(r"\([^()]*\)", "", x.split("/")[0]).lower()
    r3 = find_in_d(x3)
    if r3:
        return r3
    return ""
    
individual["category"] = individual["index"].apply(lambda x: m(x))
individual = individual.sort_values(["category","index"])
individual

child_ID,index,R01ED400,R01ED402,R01ED403,R01ED408,R01ED409,R01ED411,R01ED414,R01ED416,R01ED419,...,458.0,459.0,461.0,463.0,465.0,466.0,467.0,470.0,471.0,category
68,bite,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,action_words
74,blow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action_words
75,blow.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action_words
76,blow.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action_words
77,blow.4,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,action_words
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620,stroller,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,vehicles
684,tractor,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,vehicles
685,train,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,vehicles
689,tricycle,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,vehicles
690,truck,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,vehicles

In [206]:
individual[["index","category"]].to_csv("all_kid_info.csv")

In [245]:
instruction = pd.read_csv("all_kid_info.csv")
# instruction = instruction[instruction["index"].notna()]

In [226]:
instruction = instruction.drop("Unnamed: 0",axis=1)

In [237]:
instruction.child_ID = instruction.child_ID.apply(lambda x:str(x).replace(".0",""))
instruction["word"] = instruction["index"].apply(lambda x: x.replace("*","").replace("_","").lower())

In [239]:
instruction["category"] = instruction["word"].apply(lambda x: m(x))

In [246]:
instruction = instruction.sort_values(["category","word"])
instruction

     child_ID      word      category
4         327      bite  action_words
5         328      blow  action_words
6         596      blow  action_words
7         593      blow  action_words
8        1442      blow  action_words
..        ...       ...           ...
876        65  stroller      vehicles
877        66   tractor      vehicles
878        67     train      vehicles
879        68  tricycle      vehicles
880        69     truck      vehicles

[881 rows x 3 columns]

In [247]:
d_id2word = dict(zip(instruction.child_ID,instruction.word))
d_word2category = dict(zip(instruction.word,instruction.category))

In [269]:
def m(x):
    if x in d_word2category:
        return d_word2category[x]
    return np.nan

individual["category"] = individual["word"].apply(lambda x: m(x))

<ipython-input-269-123a72545ecd>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual["category"] = individual["word"].apply(lambda x: m(x))

In [274]:
# individual["child_ID"] = individual.level_0
individual = individual.drop("child_ID",axis=1)
individual

child_ID,R01ED400,R01ED402,R01ED403,R01ED408,R01ED409,R01ED411,R01ED414,R01ED416,R01ED419,R01ED420,...,459.0,461.0,463.0,465.0,466.0,467.0,470.0,471.0,category,word
child_ID,,,,,,,,,,,,,,,,,,,,,
896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,vehicles,airplane
574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,animals,alligator
583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action_words,eat
584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action_words,eat
1006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,people,aunt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,1,1,1,0,1,0,0,0,0,1,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,vehicles,stroller
66,0,0,1,0,1,0,1,0,0,1,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,vehicles,tractor
67,1,1,1,1,1,1,1,1,1,1,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,vehicles,train
68,1,0,1,0,1,0,0,0,0,1,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,vehicles,tricycle
69,0,1,1,0,1,0,1,1,1,1,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,vehicles,truck

In [331]:
# individual=individual.transpose().set_index("category")
individual= individual.transpose()
individual

category action_words                                                    ...  \
word             bite blow blow blow blow break break break bring build  ...
child_ID                                                                 ...
R01ED400          1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   0.0  ...
R01ED402          1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
R01ED403          1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
R01ED408          1.0  NaN  NaN  NaN  1.0   NaN   0.0   1.0   1.0   1.0  ...
R01ED409          1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
...               ...  ...  ...  ...  ...   ...   ...   ...   ...   ...  ...
465.0             1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   0.0  ...
466.0             1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
467.0             1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
470.0             1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
471.0             0.0  NaN  NaN  NaN  0.0   NaN   0.0   0.0   0.0   0.0  ...

category vehicles                                                              \
word          car firetruck helicopter motorcycle sled stroller tractor train
child_ID
R01ED400      1.0       1.0        1.0        1.0  0.0      1.0     0.0   1.0
R01ED402      1.0       1.0        1.0        0.0  0.0      1.0     0.0   1.0
R01ED403      1.0       1.0        1.0        1.0  1.0      1.0     1.0   1.0
R01ED408      1.0       1.0        1.0        0.0  0.0      0.0     0.0   1.0
R01ED409      1.0       1.0        1.0        1.0  1.0      1.0     1.0   1.0
...           ...       ...        ...        ...  ...      ...     ...   ...
465.0         1.0       1.0        0.0        1.0  1.0      1.0     0.0   1.0
466.0         1.0       1.0        1.0        1.0  1.0      1.0     1.0   1.0
467.0         1.0       1.0        1.0        1.0  1.0      1.0     1.0   1.0
470.0         1.0       1.0        0.0        0.0  0.0      1.0     1.0   1.0
471.0         1.0       0.0        0.0        0.0  0.0      0.0     0.0   1.0

category
word     tricycle truck
child_ID
R01ED400      1.0   0.0
R01ED402      0.0   1.0
R01ED403      1.0   1.0
R01ED408      0.0   0.0
R01ED409      1.0   1.0
...           ...   ...
465.0         0.0   1.0
466.0         1.0   1.0
467.0         0.0   1.0
470.0         1.0   1.0
471.0         0.0   1.0

[1047 rows x 767 columns]

In [318]:
individual.to_csv("temp.csv")

In [303]:
individual = pd.read_csv("temp.csv")

/opt/homebrew/anaconda3/envs/biling/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,