In [86]:
import pandas as pd
import numpy as np

In [147]:
def unify(df):
    df.columns = ["child_ID","age"]+[i.replace("\n","").replace(" ","") for i in list(df.columns)[2:]]
    non_repetitive_column = []
    for i in df.columns:
        if i in non_repetitive_column:
            non_repetitive_column.append(i+"_2")
        else:
            non_repetitive_column.append(i)
    df.columns = non_repetitive_column
    df = df.loc[:,~df.columns.str.contains('\.')].set_index("child_ID")
    return df

In [148]:
spanish_1 = unify(pd.read_csv("spanish/paper/by_child_data.csv"))

In [149]:
spanish_2 = unify(pd.read_csv("Spanish_Marchman/paper/by_child_data.csv"))

In [150]:
irish = unify(pd.read_csv("irish/paper_data/by_child_data.csv"))

In [151]:
hebrew = unify(pd.read_csv("hebrew/paper_data/by_child_data.csv"))

In [152]:
french = unify(pd.read_csv("french/paper_data/by_child_data.csv"))

In [417]:
age = pd.concat([spanish_1,spanish_2,irish,hebrew,french])
age

,age,baabaa,choochoo,cockadoodledoo,grr,meow,moo,ouch,quackquack,uhoh,...,teddybear_2,lolipop,buttocks/bottom,brush_2,home_2,firemen,givemefive,gonnagetyou,pattycake_2,sh/shush/hush
child_ID,,,,,,,,,,,,,,,,,,,,,
R01ED400,48,0,1,0,1,1,1,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R01ED402,48,1,1,0,1,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R01ED403,48,1,1,1,1,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R01ED408,48,0,1,1,0,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R01ED409,48,1,1,1,1,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465.0,31.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0
466.0,32.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0
467.0,32.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0
470.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
471.0,31.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

['R01ED400',
 'R01ED402',
 'R01ED403',
 'R01ED408',
 'R01ED409',
 'R01ED411',
 'R01ED414',
 'R01ED416',
 'R01ED419',
 'R01ED420',
 'R01ED421',
 'R01ED422',
 'R01ED423',
 'R01ED424',
 'R01ED429',
 'R01ED432',
 'R01ED435',
 'R01ED436',
 'R01ED439',
 'R01ED440',
 'R01ED441',
 'R01ED443',
 'R01ED448',
 'R01ED449',
 'R01ED450',
 'R01ED453',
 'R01ED454',
 'R01ED459',
 'R2130Mo008',
 'R2130Mo013',
 'R2130Mo014',
 'R2130Mo015',
 'R2130Mo020',
 'R2130Mo021',
 'R2130Mo027',
 'R2130Mo032',
 'R2130Mo033',
 'R2130Mo035',
 'R2130Mo037',
 'R2130Mo038',
 'R2130Mo040',
 'R2130Mo041',
 'R2130Mo043',
 'R2130Mo044',
 'R2130Mo045',
 'R2130Mo046',
 'R2130Mo047',
 'R2130Mo050',
 'R2130Mo052',
 'R2130Mo054',
 'R2130Mo055',
 'R2130Mo056',
 'R2130Mo062',
 'R2130Mo067',
 'R2130Mo069',
 'R2130Mo074',
 'R2130Mo080',
 'R2130Mo086',
 'R2130Mo087',
 'R2130Mo088',
 'R2130Mo092',
 'R2130Mo093',
 'R2130Mo094',
 'R2130Mo095',
 'R2130Mo097',
 'R2130Mo101',
 'R2130Mo102',
 'R2130Mo103',
 'R2130Mo104',
 'R2130Mo105',
 'R2130Mo107',
 'R2130Mo108',
 'R2130Mo109',
 'R2130Mo111',
 'R2130Mo112',
 'R2130Mo114',
 'R2130Mo116',
 'R2130Mo117',
 'R2130Mo118',
 'R2130Mo122',
 'R2130Mo123',
 'R2130Mo128',
 'R2130Mo129',
 'R2130Mo132',
 'R2130Mo133',
 'R2130Mo135',
 'R2130Mo136',
 'R2130Mo137',
 'R2130Mo138',
 'R2130Mo139',
 'R2130Mo141',
 'R2130Mo143',
 'R2130Mo144',
 'R2130Mo145',
 'R01ED400',
 'R01ED402',
 'R01ED403',
 'R01ED408',
 'R01ED409',
 'R01ED411',
 'R01ED414',
 'R01ED416',
 'R01ED419',
 'R01ED420',
 'R01ED421',
 'R01ED422',
 'R01ED423',
 'R01ED424',
 'R01ED429',
 'R01ED432',
 'R01ED435',
 'R01ED436',
 'R01ED439',
 'R01ED440',
 'R01ED441',
 'R01ED443',
 'R01ED448',
 'R01ED449',
 'R01ED450',
 'R01ED453',
 'R01ED454',
 'R01ED459',
 'R2130Mo008',
 'R2130Mo013',
 'R2130Mo014',
 'R2130Mo015',
 'R2130Mo020',
 'R2130Mo021',
 'R2130Mo027',
 'R2130Mo032',
 'R2130Mo033',
 'R2130Mo035',
 'R2130Mo037',
 'R2130Mo038',
 'R2130Mo040',
 'R2130Mo041',
 'R2130Mo043',
 'R2130Mo044',
 'R2130Mo045',
 'R2130Mo046',
 'R2130Mo047',
 'R2130Mo050',
 'R2130Mo052',
 'R2130Mo054',
 'R2130Mo055',
 'R2130Mo056',
 'R2130Mo062',
 'R2130Mo067',
 'R2130Mo069',
 'R2130Mo074',
 'R2130Mo080',
 'R2130Mo086',
 'R2130Mo087',
 'R2130Mo088',
 'R2130Mo092',
 'R2130Mo093',
 'R2130Mo094',
 'R2130Mo095',
 'R2130Mo097',
 'R2130Mo101',
 'R2130Mo102',
 'R2130Mo103',
 'R2130Mo104',
 'R2130Mo105',
 'R2130Mo107',
 'R2130Mo108',
 'R2130Mo109',
 'R2130Mo111',
 'R2130Mo112',
 'R2130Mo114',
 'R2130Mo116',
 'R2130Mo117',
 'R2130Mo118',
 'R2130Mo122',
 'R2130Mo123',
 'R2130Mo128',
 'R2130Mo129',
 'R2130Mo132',
 'R2130Mo133',
 'R2130Mo135',
 'R2130Mo136',
 'R2130Mo137',
 'R2130Mo138',
 'R2130Mo139',
 'R2130Mo141',
 'R2130Mo143',
 'R2130Mo144',
 'R2130Mo145',
 'R01ED400',
 'R01ED402',
 'R01ED403',
 'R01ED408',
 'R01ED409',
 'R01ED411',
 'R01ED414',
 'R01ED416',
 'R01ED419',
 'R01ED420',
 'R01ED421',
 'R01ED422',
 'R01ED423',
 'R01ED424',
 'R01ED429',
 'R01ED432',
 'R01ED435',
 'R01ED436',
 'R01ED439',
 'R01ED440',
 'R01ED441',
 'R01ED443',
 'R01ED448',
 'R01ED449',
 'R01ED450',
 'R01ED453',
 'R01ED454',
 'R01ED459',
 'R2130Mo008',
 'R2130Mo013',
 'R2130Mo014',
 'R2130Mo015',
 'R2130Mo020',
 'R2130Mo021',
 'R2130Mo027',
 'R2130Mo032',
 'R2130Mo033',
 'R2130Mo035',
 'R2130Mo037',
 'R2130Mo038',
 'R2130Mo040',
 'R2130Mo041',
 'R2130Mo043',
 'R2130Mo044',
 'R2130Mo045',
 'R2130Mo046',
 'R2130Mo047',
 'R2130Mo050',
 'R2130Mo052',
 'R2130Mo054',
 'R2130Mo055',
 'R2130Mo056',
 'R2130Mo062',
 'R2130Mo067',
 'R2130Mo069',
 'R2130Mo074',
 'R2130Mo080',
 'R2130Mo086',
 'R2130Mo087',
 'R2130Mo088',
 'R2130Mo092',
 'R2130Mo093',
 'R2130Mo094',
 'R2130Mo095',
 'R2130Mo097',
 'R2130Mo101',
 'R2130Mo102',
 'R2130Mo103',
 'R2130Mo104',
 'R2130Mo105',
 'R2130Mo107',
 'R2130Mo108',
 'R2130Mo109',
 'R2130Mo111',
 'R2130Mo112',
 'R2130Mo114',
 'R2130Mo116',
 'R2130Mo117',
 'R2130Mo118',
 'R2130Mo122',
 'R2130Mo123',
 'R2130Mo128',
 'R2130Mo129',
 'R2130Mo132',
 'R2130Mo133',
 'R2130Mo135',
 'R2130Mo136',
 'R2130Mo137',
 'R2130Mo138',
 'R2130Mo139',
 'R2130Mo141',
 'R2130Mo143',
 'R2130Mo144',
 'R2130Mo145',
 'R01ED400',
 'R01ED402',
 'R01ED403',
 'R01ED408',
 'R01ED409',
 'R01ED411',
 'R01ED414',
 'R01ED416',
 'R01ED419',
 'R01ED420',
 'R01ED421',
 'R01ED422',
 'R01ED423',
 'R01ED424',
 'R01ED429',
 'R01ED432',
 'R01ED435',
 'R01ED436',
 'R01ED439',
 'R01ED440',
 'R01ED441',
 'R01ED443',
 'R01ED448',
 'R01ED449',
 'R01ED450',
 'R01ED453',
 'R01ED454',
 'R01ED459',
 'R2130Mo008',
 'R2130Mo013',
 'R2130Mo014',
 'R2130Mo015',
 'R2130Mo020',
 'R2130Mo021',
 'R2130Mo027',
 'R2130Mo032',
 'R2130Mo033',
 'R2130Mo035',
 'R2130Mo037',
 'R2130Mo038',
 'R2130Mo040',
 'R2130Mo041',
 'R2130Mo043',
 'R2130Mo044',
 'R2130Mo045',
 'R2130Mo046',
 'R2130Mo047',
 'R2130Mo050',
 'R2130Mo052',
 'R2130Mo054',
 'R2130Mo055',
 'R2130Mo056',
 'R2130Mo062',
 'R2130Mo067',
 'R2130Mo069',
 'R2130Mo074',
 'R2130Mo080',
 'R2130Mo086',
 'R2130Mo087',
 'R2130Mo088',
 'R2130Mo092',
 'R2130Mo093',
 'R2130Mo094',
 'R2130Mo095',
 'R2130Mo097',
 'R2130Mo101',
 'R2130Mo102',
 'R2130Mo103',
 'R2130Mo104',
 'R2130Mo105',
 'R2130Mo107',
 'R2130Mo108',
 'R2130Mo109',
 'R2130Mo111',
 'R2130Mo112',
 'R2130Mo114',
 'R2130Mo116',
 'R2130Mo117',
 'R2130Mo118',
 'R2130Mo122',
 'R2130Mo123',
 'R2130Mo128',
 'R2130Mo129',
 'R2130Mo132',
 'R2130Mo133',
 'R2130Mo135',
 'R2130Mo136',
 'R2130Mo137',
 'R2130Mo138',
 'R2130Mo139',
 'R2130Mo141',
 'R2130Mo143',
 'R2130Mo144',
 'R2130Mo145',
 'HDPM051',
 'HDPM052',
 'HDPM054',
 'HDPM056',
 'HDPM057',
 'HDPM058',
 'HDPM059',
 'HDPM060????',
 'HDPM061',
 'HDPM062',
 'HDPM063',
 'HDPM064',
 'HDPM065',
 'HDPM066',
 'HDPM068',
 'HDPM069',
 'HDPM070',
 'HDPM071',
 'HDPM072',
 'HDPM076',
 'HDPM077',
 'HDPM078',
 'HDPM079',
 'HDPM080',
 'HDPM081',
 'HDPM082',
 'HDPM083',
 'HDPM084',
 'HDPM085',
 'HDPM086',
 'HDPM087',
 'HDPM088',
 'HDPM091',
 'HDPM092',
 'HDPM093',
 'HDPM094',
 'HDPM097',
 'HDPM098',
 'HDPM099',
 'HDPM100',
 'HDPM131',
 'HDPM132',
 'HDPM133',
 'HDPM134',
 'HDPM135',
 'HDPM136',
 'HDPM137',
 'HDPM138',
 'HDPM052',
 'HDPM054',
 'HDPM056',
 'HDPM057',
 'HDPM058',
 'HDPM059',
 'HDPM060????',
 'HDPM061',
 'HDPM062',
 'HDPM063',
 'HDPM064',
 'HDPM065',
 'HDPM066',
 'HDPM068',
 'HDPM069',
 'HDPM070',
 'HDPM071',
 'HDPM072',
 'HDPM076',
 'HDPM077',
 'HDPM078',
 'HDPM079',
 'HDPM080',
 'HDPM081',
 'HDPM082',
 'HDPM083',
 'HDPM084',
 'HDPM085',
 'HDPM086',
 'HDPM087',
 'HDPM088',
 'HDPM091',
 'HDPM092',
 'HDPM093',
 'HDPM094',
 'HDPM097',
 'HDPM098',
 'HDPM099',
 'HDPM100',
 'HDPM131',
 'HDPM132',
 'HDPM133',
 'HDPM134',
 'HDPM135',
 'HDPM136',
 'HDPM137',
 'HDPM138',
 'HDPM052',
 'HDPM054',
 'HDPM056',
 'HDPM057',
 'HDPM058',
 'HDPM059',
 'HDPM060????',
 'HDPM061',
 'HDPM062',
 'HDPM063',
 'HDPM064',
 'HDPM065',
 'HDPM066',
 'HDPM068',
 'HDPM069',
 'HDPM070',
 'HDPM071',
 'HDPM072',
 'HDPM076',
 'HDPM077',
 'HDPM078',
 'HDPM079',
 'HDPM080',
 'HDPM081',
 'HDPM082',
 'HDPM083',
 'HDPM084',
 'HDPM085',
 'HDPM086',
 'HDPM087',
 'HDPM088',
 'HDPM090',
 'HDPM091',
 'HDPM092',
 'HDPM093',
 'HDPM094',
 'HDPM096',
 'HDPM097',
 'HDPM098',
 'HDPM099',
 'HDPM100',
 'HDPM110',
 'HDPM131',
 'HDPM132',
 'HDPM133',
 'HDPM134',
 'HDPM135',
 'HDPM136',
 'HDPM137',
 'HDPM138',
 'HDPM140',
 'spanish',
 'AA04M058',
 'AA04M058',
 'AA30F039',
 'AB03F057',
 'AC17F058',
 'AF01F058',
 'AG06M058',
 'AG21M059',
 'AJ14M058',
 'AJ14M058',
 'AL06F098',
 'AL13F039',
 'AL16F039',
 'AL28F118',
 'AM18F020',
 'AM18M078',
 'AM18M078',
 'AM18M078',
 'AM22M088',
 'AO31F030',
 'AP15F088',
 'AP15F088',
 'AP28F030',
 'AR15F039',
 'AR15F039',
 'AS24M088',
 'AS28F039',
 'AW04M057',
 'AW04M057',
 'BC21M088',
 'BC21M088',
 'BN14M098',
 'BN14M098',
 'CA26M039',
 'CC05M088',
 'CC05M088',
 'CD26M020',
 'CE24M068',
 'CF27F089',
 'CF27F089',
 'CG10M058',
 'CG10M058',
 'CK19F088',
 'CK19F088',
 'CP31F088',
 'CR29M098',
 'CS04F047',
 'CS04F047',
 'CS07F078',
 'CS21M078',
 'CS21M078',
 'CS23F039',
 'CS23F039',
 'CT21M048',
 'CT21M048',
 'CV32M038',
 'CW02F097',
 'CW02F097',
 'CW02F097',
 'DB31M030',
 'DG12M048',
 'DG29F098',
 'DR13M038',
 'DS29M039',
 'DV27M058',
 'DY10M048',
 'DY10M048',
 'DY10M048',
 'DY10M048',
 'EA22F108',
 'EB19M039',
 'EB19M039',
 'EC29F030',
 'EC30M058',
 'ED06M117',
 'ED06M117',
 'EG03F107',
 'EG12M048',
 'EG12M048',
 'EG31M049',
 'EJ19F108',
 'EJ19F108',
 'EM25F039',
 'EO04F018',
 'EP14F109',
 'ER17M078',
 'ER31F058',
 'ES11M099',
 'ET09F058',
 'ET32F098',
 'EU10F048',
 'EU10F048',
 'EV23F088',
 'FA20M039',
 'FA20M039',
 'FM08F039',
 'GB21M058',
 'GG17M078',
 'GH11M098',
 'GH11M098',
 'GM18F049',
 'GM24F098',
 'GR14M119',
 'GS24F058',
 'GS24F058',
 'HE03F038',
 'HS13M087',
 'IA25F058',
 'IC14F039',
 'IC28M039',
 'IR22M018',
 'IR30M058',
 'JC18M088',
 'JE09M048',
 'JE18M088',
 'JE25F058',
 'JH11M058',
 'JH11M058',
 'JM04F048',
 'JM08M048',
 'JM08M048',
 'JM14F039',
 'JM14F039',
 'JM14M58B',
 'JM17M039',
 'JM17M039',
 'JM17M039',
 'JM30F048',
 'JO21M068',
 'JO21M068',
 'JO25M059',
 'JR15M119',
 'JR23M049',
 'JS20M058',
 'JS25M019',
 'JS32F059',
 'JV04M057',
 'JV04M057',
 'JV04M057',
 'KB09F049',
 'KG23F019',
 'KG23F019',
 'KH06F098',
 'KH24F010',
 'KV23F108',
 'KV23F108',
 'KW16F048',
 'KW16F048',
 'LG21M058',
 'LH19M049',
 'LK24F068',
 'LP21M088',
 'MA05M018',
 'MA05M018',
 'MB30M078',
 'MC07M058',
 'MC07M058',
 'MD06M048',
 'MD27F020',
 'MF04F117',
 'MF04F117',
 'MG00M068',
 'MG04F057',
 'MG21M039',
 'MK03M057',
 'MK03M057',
 'MK03M057',
 'ML27F028',
 'MM16M088',
 'MS11F038',
 'MS31F058',
 'MV11M058',
 'MV11M058',
 'MW02M048',
 'NA00M058',
 'NR19F069',
 'NW07M108',
 'OF32F058',
 'OO18F088',
 'OO18F088',
 'PA26M109',
 'PI20F058',
 'PI20F058',
 'PR20F078',
 'PR20F078',
 'RA25M039',
 'RA25M039',
 'RA25M039',
 'RA26F039',
 'RH19M048',
 'RH19M048',
 'RI30M058',
 'RL17M058',
 'SB12M048',
 'SL03F038',
 'SL14F038',
 'SM17F039',
 'SM17F039',
 'SM25F069',
 'SP24F039',
 'SS07F088',
 'SS11F058',
 'SS11F058',
 'SW31F048',
 'TM30M058',
 'TR12M048',
 'TS20M118',
 'TS20M118',
 'VA24M030',
 'VE15F088',
 'VE15F088',
 'VE15F088',
 'VG11F088',
 'VG11F088',
 'VG27F049',
 'VL18F058',
 'VO19M039',
 'VP23F039',
 'VP23F039',
 'YT29F049',
 'ZZ21M049',
 'ZZ21M049',
 101,
 102,
 102,
 103,
 104,
 104,
 105,
 105,
 105,
 106,
 106,
 107,
 107,
 107,
 107,
 108,
 108,
 108,
 108,
 109,
 110,
 110,
 111,
 111,
 111,
 111,
 112,
 112,
 112,
 113,
 113,
 114,
 114,
 114,
 114,
 115,
 115,
 115,
 116,
 116,
 117,
 118,
 118,
 118,
 119,
 119,
 119,
 203,
 205,
 302,
 303,
 304,
 304,
 304,
 304,
 305,
 305,
 305,
 305,
 306,
 306,
 307,
 307,
 308,
 310,
 311,
 311,
 311,
 311,
 313,
 313,
 313,
 314,
 314,
 315,
 315,
 316,
 317,
 318,
 318,
 318,
 319,
 319,
 319,
 320,
 320,
 322,
 322,
 323,
 324,
 325,
 401,
 401,
 401,
 402,
 501,
 503,
 504,
 505,
 'Child1',
 'Child2',
 'Child3',
 'Child4',
 'Child5',
 'Child6',
 'Child7',
 'Child8',
 'Child9',
 'Child10',
 'Child11',
 'Child12',
 'Child13',
 'Child14',
 'Child15',
 'Child16',
 'Child17',
 'Child18',
 'Child19',
 'Child20',
 'Child21',
 'Child22',
 'Child23',
 'Child24',
 'Child25',
 'Child26',
 'Child27',
 'Child28',
 'Child29',
 'Child30',
 'Child31',
 'Child32',
 'Child33',
 'Child34',
 'Child35',
 'Child36',
 'Child37',
 'Child38',
 'Child39',
 'Child40',
 401.0,
 402.0,
 404.0,
 406.0,
 408.0,
 410.0,
 411.0,
 412.0,
 415.0,
 418.0,
 420.0,
 422.0,
 423.0,
 424.0,
 425.0,
 426.0,
 427.0,
 428.0,
 429.0,
 430.0,
 431.0,
 432.0,
 433.0,
 434.0,
 435.0,
 436.0,
 437.0,
 438.0,
 439.0,
 441.0,
 442.0,
 443.0,
 444.0,
 445.0,
 446.0,
 447.0,
 448.0,
 449.0,
 450.0,
 451.0,
 452.0,
 453.0,
 454.0,
 455.0,
 456.0,
 457.0,
 458.0,
 459.0,
 460.0,
 461.0,
 462.0,
 463.0,
 464.0,
 465.0,
 466.0,
 467.0,
 468.0,
 469.0,
 470.0,
 471.0,
 472.0,
 401.0,
 402.0,
 404.0,
 406.0,
 410.0,
 411.0,
 412.0,
 413.0,
 414.0,
 418.0,
 421.0,
 422.0,
 423.0,
 424.0,
 425.0,
 426.0,
 427.0,
 428.0,
 429.0,
 430.0,
 431.0,
 432.0,
 433.0,
 434.0,
 437.0,
 438.0,
 439.0,
 441.0,
 442.0,
 443.0,
 445.0,
 446.0,
 447.0,
 448.0,
 451.0,
 452.0,
 453.0,
 454.0,
 455.0,
 457.0,
 458.0,
 459.0,
 460.0,
 461.0,
 462.0,
 464.0,
 465.0,
 466.0,
 467.0,
 468.0,
 470.0,
 471.0,
 401.0,
 402.0,
 404.0,
 ...]

In [183]:
## map
instruction = pd.read_csv("production_rate(5 languages).csv")
d = dict(zip(instruction.word, instruction.category))

In [185]:
individual = individual.transpose().reset_index()
individual

child_ID,index,R01ED400,R01ED402,R01ED403,R01ED408,R01ED409,R01ED411,R01ED414,R01ED416,R01ED419,...,457.0,458.0,459.0,461.0,463.0,465.0,466.0,467.0,470.0,471.0
0,age,48,48,48,48,48,48,48,48,48,...,31.0,32.0,31.0,32.0,30.0,31.0,32.0,32.0,30.0,31.0
1,baabaa,0,1,1,0,1,0,0,0,0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
2,choochoo,1,1,1,1,1,0,0,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,cockadoodledoo,0,0,1,1,1,0,0,0,0,...,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0
4,grr,1,1,1,0,1,1,0,1,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1498,firemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
1499,givemefive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0
1500,gonnagetyou,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0
1501,pattycake_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
1502,sh/shush/hush,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0

In [317]:
import re

d = d_word2category
def find_in_d(x):
    x = x.replace("_","")
    if x in d:
        return d[x]
    elif  (x+"s" in d) and len(x)>2:
        return d[x+"s"]
    elif  x+"es" in d and len(x)>2:
        return d[x+"es"]
    elif x[-1]=="s":
        if x[:-1] in d:
            return d[x[:-1]]
    return ""
def m(x):
    x = x.split(".")[0]
    x1 = x.replace("(","").replace(")","").lower()
    r1 = find_in_d(x1)
    if r1:
        return r1
    x2 = re.sub(r"\([^()]*\)", "", x).lower()
    r2 = find_in_d(x2)
    if r2:
        return r2
    x3 = re.sub(r"\([^()]*\)", "", x.split("/")[0]).lower()
    r3 = find_in_d(x3)
    if r3:
        return r3
    return ""
    
individual["category"] = individual["index"].apply(lambda x: m(x))
individual = individual.sort_values(["category","index"])
individual

child_ID,index,R01ED400,R01ED402,R01ED403,R01ED408,R01ED409,R01ED411,R01ED414,R01ED416,R01ED419,...,458.0,459.0,461.0,463.0,465.0,466.0,467.0,470.0,471.0,category
68,bite,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,action_words
74,blow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action_words
75,blow.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action_words
76,blow.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action_words
77,blow.4,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,action_words
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620,stroller,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,vehicles
684,tractor,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,vehicles
685,train,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,vehicles
689,tricycle,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,vehicles
690,truck,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,vehicles

In [206]:
individual[["index","category"]].to_csv("all_kid_info.csv")

In [245]:
instruction = pd.read_csv("all_kid_info.csv")
# instruction = instruction[instruction["index"].notna()]

In [226]:
instruction = instruction.drop("Unnamed: 0",axis=1)

In [237]:
instruction.child_ID = instruction.child_ID.apply(lambda x:str(x).replace(".0",""))
instruction["word"] = instruction["index"].apply(lambda x: x.replace("*","").replace("_","").lower())

In [239]:
instruction["category"] = instruction["word"].apply(lambda x: m(x))

In [246]:
instruction = instruction.sort_values(["category","word"])
instruction

     child_ID      word      category
4         327      bite  action_words
5         328      blow  action_words
6         596      blow  action_words
7         593      blow  action_words
8        1442      blow  action_words
..        ...       ...           ...
876        65  stroller      vehicles
877        66   tractor      vehicles
878        67     train      vehicles
879        68  tricycle      vehicles
880        69     truck      vehicles

[881 rows x 3 columns]

In [247]:
d_id2word = dict(zip(instruction.child_ID,instruction.word))
d_word2category = dict(zip(instruction.word,instruction.category))

In [269]:
def m(x):
    if x in d_word2category:
        return d_word2category[x]
    return np.nan

individual["category"] = individual["word"].apply(lambda x: m(x))

<ipython-input-269-123a72545ecd>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  individual["category"] = individual["word"].apply(lambda x: m(x))

In [274]:
# individual["child_ID"] = individual.level_0
individual = individual.drop("child_ID",axis=1)
individual

child_ID,R01ED400,R01ED402,R01ED403,R01ED408,R01ED409,R01ED411,R01ED414,R01ED416,R01ED419,R01ED420,...,459.0,461.0,463.0,465.0,466.0,467.0,470.0,471.0,category,word
child_ID,,,,,,,,,,,,,,,,,,,,,
896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,vehicles,airplane
574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,animals,alligator
583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action_words,eat
584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action_words,eat
1006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,people,aunt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,1,1,1,0,1,0,0,0,0,1,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,vehicles,stroller
66,0,0,1,0,1,0,1,0,0,1,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,vehicles,tractor
67,1,1,1,1,1,1,1,1,1,1,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,vehicles,train
68,1,0,1,0,1,0,0,0,0,1,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,vehicles,tricycle
69,0,1,1,0,1,0,1,1,1,1,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,vehicles,truck

In [331]:
# individual=individual.transpose().set_index("category")
individual= individual.transpose()
individual

category action_words                                                    ...  \
word             bite blow blow blow blow break break break bring build  ...
child_ID                                                                 ...
R01ED400          1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   0.0  ...
R01ED402          1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
R01ED403          1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
R01ED408          1.0  NaN  NaN  NaN  1.0   NaN   0.0   1.0   1.0   1.0  ...
R01ED409          1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
...               ...  ...  ...  ...  ...   ...   ...   ...   ...   ...  ...
465.0             1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   0.0  ...
466.0             1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
467.0             1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
470.0             1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
471.0             0.0  NaN  NaN  NaN  0.0   NaN   0.0   0.0   0.0   0.0  ...

category vehicles                                                              \
word          car firetruck helicopter motorcycle sled stroller tractor train
child_ID
R01ED400      1.0       1.0        1.0        1.0  0.0      1.0     0.0   1.0
R01ED402      1.0       1.0        1.0        0.0  0.0      1.0     0.0   1.0
R01ED403      1.0       1.0        1.0        1.0  1.0      1.0     1.0   1.0
R01ED408      1.0       1.0        1.0        0.0  0.0      0.0     0.0   1.0
R01ED409      1.0       1.0        1.0        1.0  1.0      1.0     1.0   1.0
...           ...       ...        ...        ...  ...      ...     ...   ...
465.0         1.0       1.0        0.0        1.0  1.0      1.0     0.0   1.0
466.0         1.0       1.0        1.0        1.0  1.0      1.0     1.0   1.0
467.0         1.0       1.0        1.0        1.0  1.0      1.0     1.0   1.0
470.0         1.0       1.0        0.0        0.0  0.0      1.0     1.0   1.0
471.0         1.0       0.0        0.0        0.0  0.0      0.0     0.0   1.0

category
word     tricycle truck
child_ID
R01ED400      1.0   0.0
R01ED402      0.0   1.0
R01ED403      1.0   1.0
R01ED408      0.0   0.0
R01ED409      1.0   1.0
...           ...   ...
465.0         0.0   1.0
466.0         1.0   1.0
467.0         0.0   1.0
470.0         1.0   1.0
471.0         0.0   1.0

[1047 rows x 767 columns]

In [333]:
individual.to_csv("by_child_by_word.csv")

In [335]:
individual

category action_words                                                    ...  \
word             bite blow blow blow blow break break break bring build  ...
child_ID                                                                 ...
R01ED400          1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   0.0  ...
R01ED402          1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
R01ED403          1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
R01ED408          1.0  NaN  NaN  NaN  1.0   NaN   0.0   1.0   1.0   1.0  ...
R01ED409          1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
...               ...  ...  ...  ...  ...   ...   ...   ...   ...   ...  ...
465.0             1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   0.0  ...
466.0             1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
467.0             1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
470.0             1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
471.0             0.0  NaN  NaN  NaN  0.0   NaN   0.0   0.0   0.0   0.0  ...

category vehicles                                                              \
word          car firetruck helicopter motorcycle sled stroller tractor train
child_ID
R01ED400      1.0       1.0        1.0        1.0  0.0      1.0     0.0   1.0
R01ED402      1.0       1.0        1.0        0.0  0.0      1.0     0.0   1.0
R01ED403      1.0       1.0        1.0        1.0  1.0      1.0     1.0   1.0
R01ED408      1.0       1.0        1.0        0.0  0.0      0.0     0.0   1.0
R01ED409      1.0       1.0        1.0        1.0  1.0      1.0     1.0   1.0
...           ...       ...        ...        ...  ...      ...     ...   ...
465.0         1.0       1.0        0.0        1.0  1.0      1.0     0.0   1.0
466.0         1.0       1.0        1.0        1.0  1.0      1.0     1.0   1.0
467.0         1.0       1.0        1.0        1.0  1.0      1.0     1.0   1.0
470.0         1.0       1.0        0.0        0.0  0.0      1.0     1.0   1.0
471.0         1.0       0.0        0.0        0.0  0.0      0.0     0.0   1.0

category
word     tricycle truck
child_ID
R01ED400      1.0   0.0
R01ED402      0.0   1.0
R01ED403      1.0   1.0
R01ED408      0.0   0.0
R01ED409      1.0   1.0
...           ...   ...
465.0         0.0   1.0
466.0         1.0   1.0
467.0         0.0   1.0
470.0         1.0   1.0
471.0         0.0   1.0

[1047 rows x 767 columns]

In [340]:
# individual["words_known"] = individual.sum(axis=1)
individual

category action_words                                                    ...  \
word             bite blow blow blow blow break break break bring build  ...
child_ID                                                                 ...
R01ED400          1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   0.0  ...
R01ED402          1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
R01ED403          1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
R01ED408          1.0  NaN  NaN  NaN  1.0   NaN   0.0   1.0   1.0   1.0  ...
R01ED409          1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
...               ...  ...  ...  ...  ...   ...   ...   ...   ...   ...  ...
465.0             1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   0.0  ...
466.0             1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
467.0             1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
470.0             1.0  NaN  NaN  NaN  1.0   NaN   1.0   1.0   1.0   1.0  ...
471.0             0.0  NaN  NaN  NaN  0.0   NaN   0.0   0.0   0.0   0.0  ...

category  vehicles                                                             \
word     firetruck helicopter motorcycle sled stroller tractor train tricycle
child_ID
R01ED400       1.0        1.0        1.0  0.0      1.0     0.0   1.0      1.0
R01ED402       1.0        1.0        0.0  0.0      1.0     0.0   1.0      0.0
R01ED403       1.0        1.0        1.0  1.0      1.0     1.0   1.0      1.0
R01ED408       1.0        1.0        0.0  0.0      0.0     0.0   1.0      0.0
R01ED409       1.0        1.0        1.0  1.0      1.0     1.0   1.0      1.0
...            ...        ...        ...  ...      ...     ...   ...      ...
465.0          1.0        0.0        1.0  1.0      1.0     0.0   1.0      0.0
466.0          1.0        1.0        1.0  1.0      1.0     1.0   1.0      1.0
467.0          1.0        1.0        1.0  1.0      1.0     1.0   1.0      0.0
470.0          1.0        0.0        0.0  0.0      1.0     1.0   1.0      1.0
471.0          0.0        0.0        0.0  0.0      0.0     0.0   1.0      0.0

category       words_known
word     truck
child_ID
R01ED400   0.0       490.0
R01ED402   1.0       492.0
R01ED403   1.0       549.5
R01ED408   0.0       376.0
R01ED409   1.0       548.0
...        ...         ...
465.0      1.0       430.0
466.0      1.0       466.0
467.0      1.0       438.0
470.0      1.0       475.0
471.0      1.0       115.0

[1047 rows x 768 columns]

In [341]:
individual["bilingual"] = [1]*len(individual)

In [361]:
def input_voc(month):
    '''finds the number of words a typical middle class child hears at a given age (in months)'''
    return 0.625*month*1000000
age["input_words"] = age.age.apply(lambda x: input_voc(x))

In [429]:
individual = pd.read_csv("by_child_by_word.csv").set_index(individual.category)
individual = individual.transpose().reset_index()
individual

/opt/homebrew/anaconda3/envs/biling/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

category,index,word,child_ID,R01ED400,R01ED402,R01ED403,R01ED408,R01ED409,R01ED411,R01ED414,...,457.0,458.0,459.0,461.0,463.0,465.0,466.0,467.0,470.0,471.0
0,category,word,child_ID,R01ED400,R01ED402,R01ED403,R01ED408,R01ED409,R01ED411,R01ED414,...,457.0,458.0,459.0,461.0,463.0,465.0,466.0,467.0,470.0,471.0
1,action_words,bite,NaN,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0
2,action_words.1,blow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,action_words.2,blow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,action_words.3,blow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,vehicles.10,stroller,NaN,1.0,1.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0
764,vehicles.11,tractor,NaN,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
765,vehicles.12,train,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
766,vehicles.13,tricycle,NaN,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
767,vehicles.14,truck,NaN,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [430]:
individual["category"] = individual["index"].apply(lambda x: x.split(".")[0])

In [434]:
individual = individual.drop(["child_ID"],axis=1)[1:]
individual

category,R01ED400,R01ED402,R01ED403,R01ED408,R01ED409,R01ED411,R01ED414,R01ED416,R01ED419,R01ED420,...,458.0,459.0,461.0,463.0,465.0,466.0,467.0,470.0,471.0,category
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action_words
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action_words
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action_words
5,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,action_words
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action_words
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,vehicles
764,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,vehicles
765,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,vehicles
766,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,vehicles
767,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,vehicles

In [443]:
individual = individual.transpose()
individual

,2,3,4,5,6,7,8,9,10,11,...,758,759,760,761,762,763,764,765,766,767
category,,,,,,,,,,,,,,,,,,,,,
R01ED400,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,0.0,1.0,...,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0
R01ED402,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
R01ED403,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
R01ED408,NaN,NaN,NaN,1.0,NaN,0.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
R01ED409,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
467.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0
470.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
471.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
category,action_words,action_words,action_words,action_words,action_words,action_words,action_words,action_words,action_words,action_words,...,vehicles,vehicles,vehicles,vehicles,vehicles,vehicles,vehicles,vehicles,vehicles,vehicles

In [470]:
individual = pd.read_csv("temp.csv")
individual["child_ID"] = individual.category.astype(str)+"_"+individual.age.astype(str)
individual = individual.drop(["category","age"], axis=1)
individual

/opt/homebrew/anaconda3/envs/biling/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,2,3,4,5,6,7,8,9,10,11,...,759,760,761,762,763,764,765,766,767,child_ID
0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,0.0,1.0,...,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,R01ED400_48.0
1,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,R01ED402_48.0
2,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,R01ED403_48.0
3,NaN,NaN,NaN,1.0,NaN,0.0,1.0,1.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,R01ED408_48.0
4,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,R01ED409_48.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1043,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,466.0_32.0
1044,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,467.0_32.0
1045,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,470.0_30.0
1046,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,471.0_31.0
1047,action_words,action_words,action_words,action_words,action_words,action_words,action_words,action_words,action_words,action_words,...,vehicles,vehicles,vehicles,vehicles,vehicles,vehicles,vehicles,vehicles,vehicles,category_nan

In [471]:
individual = individual.set_index("child_ID")
individual = individual.transpose()
individual

child_ID,R01ED400_48.0,R01ED402_48.0,R01ED403_48.0,R01ED408_48.0,R01ED409_48.0,R01ED411_48.0,R01ED414_48.0,R01ED416_48.0,R01ED419_48.0,R01ED420_48.0,...,458.0_32.0,459.0_31.0,461.0_32.0,463.0_30.0,465.0_31.0,466.0_32.0,467.0_32.0,470.0_30.0,471.0_31.0,category_nan
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action_words
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action_words
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action_words
5,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,action_words
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,action_words
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,vehicles
764,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,vehicles
765,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,vehicles
766,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,vehicles
767,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,vehicles

In [482]:
individual.describe().transpose()

               count unique           top   freq
child_ID
R01ED400_48.0  558.0    3.0           1.0  486.0
R01ED402_48.0  558.0    3.0           1.0  490.0
R01ED403_48.0  558.0    3.0           1.0  547.0
R01ED408_48.0  558.0    3.0           1.0  373.0
R01ED409_48.0  558.0    3.0           1.0  544.0
...              ...    ...           ...    ...
466.0_32.0       532      2           1.0    465
467.0_32.0       546      2           1.0    437
470.0_30.0       546      2           1.0    474
471.0_31.0       546      2           0.0    431
category_nan     766     22  action_words    129

[1048 rows x 4 columns]

In [450]:
individual.transpose().to_csv("temp.csv")

In [495]:
def regularize(x):
    return x.sum()/x.count()*len(x)
categories = individual.groupby("category_nan").agg(regularize)

<ipython-input-495-63086d4f96fe>:2: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum()/x.count()*len(x)

In [496]:
individual["R01ED400_48.0"].sum()

489.0

In [501]:
categories.round(0).replace(np.nan,"")

child_ID,R01ED400_48.0,R01ED402_48.0,R01ED403_48.0,R01ED408_48.0,R01ED409_48.0,R01ED411_48.0,R01ED414_48.0,R01ED416_48.0,R01ED419_48.0,R01ED420_48.0,...,426.0_31.0,427.0_31.0,428.0_32.0,429.0_32.0,430.0_30.0,431.0_30.0,432.0_32.0,433.0_31.0,434.0_31.0,437.0_30.0
category_nan,,,,,,,,,,,,,,,,,,,,,
action_words,126.0,121.0,129.0,93.0,129.0,13.0,41.0,18.0,25.0,129.0,...,111.0,90.0,55.0,27.0,15.0,77.0,129.0,9.0,21.0,125.0
animals,37.0,42.0,45.0,35.0,44.0,25.0,25.0,27.0,14.0,42.0,...,38.0,40.0,26.0,31.0,8.0,31.0,46.0,1.0,11.0,46.0
body_parts,7.0,24.0,10.0,7.0,7.0,7.0,0.0,7.0,4.0,7.0,...,32.0,32.0,28.0,28.0,28.0,32.0,35.0,5.0,4.0,35.0
clothing,19.0,25.0,26.0,16.0,26.0,3.0,3.0,6.0,3.0,22.0,...,24.0,17.0,16.0,17.0,14.0,15.0,27.0,2.0,3.0,28.0
connecting_words,,,,,,,,,,,...,,,,,,,,,,
descriptive_words,61.0,54.0,62.0,43.0,62.0,12.0,24.0,14.0,18.0,61.0,...,50.0,48.0,27.0,0.0,14.0,46.0,62.0,4.0,16.0,58.0
food_drink,65.0,73.0,74.0,54.0,74.0,36.0,51.0,29.0,23.0,74.0,...,61.0,59.0,34.0,40.0,22.0,46.0,74.0,5.0,20.0,65.0
furniture_rooms,28.0,28.0,36.0,16.0,36.0,2.0,7.0,11.0,11.0,34.0,...,27.0,26.0,24.0,24.0,7.0,23.0,36.0,0.0,5.0,35.0
games_routines,30.0,29.0,30.0,22.0,30.0,12.0,11.0,7.0,13.0,30.0,...,28.0,23.0,22.0,23.0,8.0,24.0,30.0,5.0,11.0,28.0
helping_verbs,31.0,21.0,31.0,9.0,31.0,0.0,10.0,3.0,0.0,22.0,...,31.0,31.0,31.0,31.0,0.0,31.0,31.0,0.0,0.0,31.0
household,46.0,48.0,51.0,37.0,51.0,5.0,14.0,3.0,14.0,50.0,...,42.0,31.0,32.0,33.0,6.0,28.0,51.0,0.0,4.0,50.0
locations,25.0,16.0,28.0,22.0,28.0,1.0,11.0,2.0,9.0,28.0,...,28.0,21.0,21.0,21.0,4.0,24.0,28.0,4.0,14.0,24.0
outside,32.0,33.0,37.0,27.0,37.0,0.0,8.0,12.0,13.0,36.0,...,32.0,30.0,25.0,25.0,1.0,24.0,37.0,0.0,8.0,37.0
people,9.0,9.0,14.0,4.0,9.0,0.0,0.0,0.0,4.0,9.0,...,30.0,22.0,25.0,25.0,9.0,20.0,36.0,1.0,9.0,30.0
places,18.0,22.0,23.0,16.0,23.0,4.0,13.0,7.0,5.0,22.0,...,17.0,15.0,15.0,15.0,5.0,9.0,23.0,0.0,5.0,21.0
pronouns,,,,,,,,,,,...,21.0,24.0,15.0,15.0,0.0,18.0,27.0,3.0,12.0,24.0
quantifiers,,,,,,,,,,,...,16.0,10.0,13.0,13.0,0.0,16.0,19.0,0.0,6.0,16.0
question_words,,,,,,,,,,,...,6.0,4.0,3.0,3.0,3.0,4.0,7.0,0.0,1.0,4.0
sounds,6.0,11.0,12.0,9.0,12.0,6.0,3.0,5.0,2.0,11.0,...,11.0,12.0,4.0,6.0,10.0,12.0,12.0,3.0,2.0,12.0
time_words,12.0,10.0,12.0,9.0,12.0,2.0,9.0,6.0,1.0,12.0,...,9.0,8.0,9.0,9.0,0.0,9.0,12.0,0.0,0.0,8.0
toys,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,20.0,17.0,12.0,13.0,4.0,13.0,22.0,1.0,1.0,21.0
vehicles,12.0,11.0,15.0,9.0,15.0,6.0,9.0,5.0,10.0,13.0,...,15.0,14.0,9.0,10.0,12.0,12.0,15.0,1.0,11.0,15.0

In [502]:
categories.round(0).replace(np.nan,"").to_csv("by_child_by_category.csv",index=True)

In [451]:
individual = pd.read_csv("temp.csv")

/opt/homebrew/anaconda3/envs/biling/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [381]:
individual.to_csv("by_child_all.csv",index=False)

In [402]:
individual["442.0"]

0   442.0 442.0
1     0.0   0.0
2     0.0   NaN
3     NaN   NaN
4     NaN   NaN
5     0.0   0.0
..    ...   ...
763   0.0   0.0
764   NaN   0.0
765   0.0   0.0
766   NaN   0.0
767   0.0   0.0

[767 rows x 2 columns]