## process all data seperately

In [1]:
import pandas as pd

In [2]:
spanish_hdpm = pd.read_csv("spanish/paper/by_word_by_age(HDPM).csv")
spanish_r01 = pd.read_csv("spanish/paper/by_word_by_age(R01).csv")
spanish = pd.merge(spanish_hdpm, spanish_r01,on="Unnamed: 0", how="inner")
spanish

,Unnamed: 0,age_22,age_25,age_30,age_36.0,age_42.0,age_48.0
0,child,"['HDPM052', 'HDPM054', 'HDPM056', 'HDPM057', '...","['HDPM052', 'HDPM054', 'HDPM056', 'HDPM057', '...","['HDPM051', 'HDPM052', 'HDPM054', 'HDPM056', '...","['R01ED400', 'R01ED402', 'R01ED403', 'R01ED408...","['R01ED400', 'R01ED402', 'R01ED403', 'R01ED408...","['R01ED400', 'R01ED402', 'R01ED403', 'R01ED408..."
1,baa baa,0.77,0.75,0.77,0.69,0.69,0.69
2,choo choo,0.98,0.98,0.98,0.82,0.82,0.82
3,cockadoodledoo,0.53,0.53,0.54,0.52,0.52,0.52
4,grr,0.83,0.8,0.83,0.76,0.76,0.76
...,...,...,...,...,...,...,...
566,shoeses,0.04,0.04,0.04,0.06,0.06,0.06
567,sockses,0.06,0.06,0.06,0.05,0.05,0.05
568,teeths,0.13,0.12,0.12,0.16,0.16,0.16
569,toeses,0.02,0.02,0.02,0.02,0.02,0.02
570,tooths,0.04,0.06,0.04,0.1,0.1,0.1

In [3]:
spanish = spanish[1:]
item = [i.replace(".0","").replace("\n","").replace(" ","") for i in spanish.pop("Unnamed: 0")]
spanish.insert(0, "item", item)
spanish.columns = [i.replace(".0","") for i in list(spanish.columns)]
spanish = spanish.set_index(spanish.item)
spanish = spanish.transpose()[1:].transpose()
spanish = spanish.astype(float).drop_duplicates()
spanish

                age_22  age_25  age_30  age_36  age_42  age_48
item
baabaa            0.77    0.75    0.77    0.69    0.69    0.69
choochoo          0.98    0.98    0.98    0.82    0.82    0.82
cockadoodledoo    0.53    0.53    0.54    0.52    0.52    0.52
grr               0.83    0.80    0.83    0.76    0.76    0.76
meow              0.96    0.94    0.96    0.87    0.87    0.87
...                ...     ...     ...     ...     ...     ...
shoeses           0.04    0.04    0.04    0.06    0.06    0.06
sockses           0.06    0.06    0.06    0.05    0.05    0.05
teeths            0.13    0.12    0.12    0.16    0.16    0.16
toeses            0.02    0.02    0.02    0.02    0.02    0.02
tooths            0.04    0.06    0.04    0.10    0.10    0.10

[531 rows x 6 columns]

In [4]:
irish = pd.read_csv("irish/paper_data/english_in_irish.csv")

irish = irish[2:627]
item = [i.replace(".0","").replace("\n","").replace(" ","")  for i in irish.pop("Unnamed: 0")]
irish.insert(0, "item", item)
irish = irish.set_index(irish.item)
irish = irish.transpose()[1:].transpose()
irish = irish.astype(float).drop_duplicates()
irish

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,age_27,age_28,age_29,age_30,age_31,age_32,age_33,age_34,age_35,age_36
item,,,,,,,,,,,,,,,,,,,,
ahah,1.0,0.0,0.5,1.0,0.33,0.75,1.00,1.00,1.00,0.9,1.0,1.00,0.75,1.00,0.88,1.00,1.0,1.00,1.00,0.8
baabaa,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00,0.88,1.00,1.0,1.00,1.00,0.8
bowwow,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.00,1.00,0.9,1.0,0.86,0.75,1.00,1.00,1.00,1.0,1.00,1.00,0.8
choochoo,0.5,0.0,1.0,0.0,0.67,0.25,0.75,1.00,0.83,1.0,1.0,1.00,1.00,0.89,1.00,1.00,1.0,1.00,0.91,0.8
cockadoodledoo,0.5,0.0,1.0,1.0,0.33,0.50,0.50,0.75,0.67,0.8,0.6,0.86,1.00,0.89,0.75,1.00,1.0,0.50,1.00,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
dá,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.25,0.17,0.0,0.0,0.00,0.00,0.33,0.12,0.00,0.4,0.50,0.36,0.0
mar,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.25,0.17,0.2,0.0,0.00,0.25,0.56,0.00,0.25,0.4,0.50,0.64,0.4
because,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.25,0.22,0.12,0.75,0.8,0.50,0.36,0.4
huair,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.25,0.17,0.0,0.0,0.00,0.00,0.33,0.00,0.75,1.0,0.50,0.64,0.4
when,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.25,0.11,0.00,0.75,0.6,0.25,0.18,0.0

In [5]:
hebrew = pd.read_csv("hebrew/paper_data/by_word_by_month.csv")
hebrew

,Unnamed: 0,age_24,age_26,age_28,age_29,age_30,age_31,age_32,age_34,age_35,age_36,age_40,age_41,age_42,age_43,age_45,age_47
0,Child,"['Child1', 'Child3', 'Child4']","['Child2', 'Child10']",['Child28'],['Child9'],['Child26'],"['Child18', 'Child34', 'Child35']","['Child11', 'Child12', 'Child13', 'Child19', '...","['Child7', 'Child8', 'Child15', 'Child20', 'Ch...","['Child22', 'Child37']","['Child5', 'Child6', 'Child14', 'Child16', 'Ch...","['Child25', 'Child29', 'Child40']",['Child30'],"['Child21', 'Child23', 'Child32']","['Child33', 'Child39']","['Child27', 'Child36']",['Child31']
1,baa baa,1.0,0.5,1.0,1.0,1.0,0.67,0.4,0.4,1.0,0.8,1.0,1.0,0.0,0.5,1.0,1.0
2,choo choo,0.67,0.5,1.0,1.0,0.0,0.67,0.4,0.2,1.0,0.8,0.67,1.0,0.33,1.0,1.0,0.0
3,cockadoodledoo,0.33,0.0,1.0,1.0,0.0,0.0,0.2,0.4,0.0,0.8,0.33,1.0,0.33,1.0,0.0,1.0
4,grrr,0.33,0.0,1.0,0.0,0.0,1.0,0.2,0.4,1.0,0.8,0.67,1.0,0.33,1.0,0.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483,taste,0.0,0.0,1.0,0.0,0.0,0.0,0.2,0.2,1.0,0.6,0.67,0.0,1.0,0.5,0.5,1.0
484,tear,0.0,0.0,1.0,0.0,0.0,0.0,0.2,0.0,0.5,0.4,0.33,0.0,0.33,0.5,0.0,1.0
485,think,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.5,0.4,0.33,0.0,0.33,0.5,0.5,1.0
486,throw,0.0,0.5,1.0,0.0,0.0,0.67,0.6,0.2,1.0,0.6,0.67,0.0,0.67,0.5,0.5,1.0
487,number of subjects,3,2,1,1,1,3,5,5,2,5,3,1,3,2,2,1

In [6]:
hebrew = hebrew[1:487]
item = [i.replace(" ","").replace("\n","").replace(" ","")  for i in hebrew.pop("Unnamed: 0")]
hebrew.insert(0, "item", item)
hebrew = hebrew.set_index(hebrew.item)
hebrew = hebrew.transpose()[1:].transpose()
hebrew = hebrew.astype(float).drop_duplicates()
hebrew

,age_24,age_26,age_28,age_29,age_30,age_31,age_32,age_34,age_35,age_36,age_40,age_41,age_42,age_43,age_45,age_47
item,,,,,,,,,,,,,,,,
baabaa,1.00,0.5,1.0,1.0,1.0,0.67,0.4,0.4,1.0,0.8,1.00,1.0,0.00,0.5,1.0,1.0
choochoo,0.67,0.5,1.0,1.0,0.0,0.67,0.4,0.2,1.0,0.8,0.67,1.0,0.33,1.0,1.0,0.0
cockadoodledoo,0.33,0.0,1.0,1.0,0.0,0.00,0.2,0.4,0.0,0.8,0.33,1.0,0.33,1.0,0.0,1.0
grrr,0.33,0.0,1.0,0.0,0.0,1.00,0.2,0.4,1.0,0.8,0.67,1.0,0.33,1.0,0.5,1.0
meow,0.67,1.0,1.0,1.0,1.0,1.00,1.0,1.0,1.0,1.0,1.00,1.0,1.00,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
talk,0.00,0.0,1.0,0.0,1.0,0.67,0.4,0.6,1.0,0.6,0.33,0.0,1.00,0.5,0.5,1.0
taste,0.00,0.0,1.0,0.0,0.0,0.00,0.2,0.2,1.0,0.6,0.67,0.0,1.00,0.5,0.5,1.0
tear,0.00,0.0,1.0,0.0,0.0,0.00,0.2,0.0,0.5,0.4,0.33,0.0,0.33,0.5,0.0,1.0
think,0.00,0.0,1.0,1.0,0.0,0.00,0.0,0.0,0.5,0.4,0.33,0.0,0.33,0.5,0.5,1.0
throw,0.00,0.5,1.0,0.0,0.0,0.67,0.6,0.2,1.0,0.6,0.67,0.0,0.67,0.5,0.5,1.0

In [7]:
french_wave2 = pd.read_csv("french/paper_data/by_word_by_age(wave2).csv")
french_wave3 = pd.read_csv("french/paper_data/by_word_by_age(wave3).csv")
french = pd.concat([french_wave2.transpose(),french_wave3.transpose()])
french = french.transpose()[2:].transpose()[1:].transpose()
french

,age_21,age_22,age_23,age_24,age_25,age_26,Unnamed: 0,age_28,age_29,age_30,age_31,age_32
2,1.0,0.25,0.5,0.76,0.64,0.0,baa baa,1.0,0.4,0.67,0.69,0.92
3,1.0,0.0,0.81,0.76,0.73,0.0,choo choo,1.0,0.8,0.87,0.94,0.85
4,0.0,0.0,0.25,0.29,0.18,0.0,cockadoodledoo,0.5,0.4,0.47,0.5,0.54
5,0.5,0.25,0.56,0.76,0.82,1.0,grr,0.5,0.2,0.87,0.88,0.77
6,1.0,0.5,0.81,0.65,0.82,0.0,meow,1.0,0.6,0.87,0.94,0.77
...,...,...,...,...,...,...,...,...,...,...,...,...
677,0.0,0.0,0.06,0.06,0.09,0.0,because,0.0,0.0,0.33,0.31,0.38
678,0.0,0.0,0.06,0.06,0.0,0.0,but,0.0,0.2,0.4,0.25,0.38
679,0.0,0.0,0.06,0.06,0.0,0.0,if,0.0,0.0,0.07,0.0,0.31
680,0.0,0.0,0.06,0.06,0.0,0.0,so,0.0,0.0,0.33,0.19,0.31
681,0.0,0.0,0.0,0.0,0.0,0.0,then,0.0,0.2,0.13,0.06,0.31

In [8]:
item = [i.replace(" ","").replace("\n","").replace(" ","")  for i in french.pop("Unnamed: 0")]
french.insert(0, "item", item)
french = french.set_index(french.item)
french = french.transpose()[1:].transpose().astype(float).drop_duplicates()
french

,age_21,age_22,age_23,age_24,age_25,age_26,age_28,age_29,age_30,age_31,age_32
item,,,,,,,,,,,
baabaa,1.0,0.25,0.50,0.76,0.64,0.0,1.0,0.4,0.67,0.69,0.92
choochoo,1.0,0.00,0.81,0.76,0.73,0.0,1.0,0.8,0.87,0.94,0.85
cockadoodledoo,0.0,0.00,0.25,0.29,0.18,0.0,0.5,0.4,0.47,0.50,0.54
grr,0.5,0.25,0.56,0.76,0.82,1.0,0.5,0.2,0.87,0.88,0.77
meow,1.0,0.50,0.81,0.65,0.82,0.0,1.0,0.6,0.87,0.94,0.77
...,...,...,...,...,...,...,...,...,...,...,...
because,0.0,0.00,0.06,0.06,0.09,0.0,0.0,0.0,0.33,0.31,0.38
but,0.0,0.00,0.06,0.06,0.00,0.0,0.0,0.2,0.40,0.25,0.38
if,0.0,0.00,0.06,0.06,0.00,0.0,0.0,0.0,0.07,0.00,0.31
so,0.0,0.00,0.06,0.06,0.00,0.0,0.0,0.0,0.33,0.19,0.31
then,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.2,0.13,0.06,0.31

## Marchman Spanish data

In [19]:
spanish_marchman = pd.read_csv("Spanish_Marchman/paper/by_word_by_age.csv")
spanish_marchman = spanish_marchman[1:]
item = [i.replace(".0","").replace("\n","").replace(" ","") for i in spanish_marchman.pop("Unnamed: 0")]
spanish_marchman.insert(0, "item", item)
spanish_marchman = spanish_marchman.set_index(spanish_marchman.item)
spanish_marchman = spanish_marchman.transpose()[1:].transpose()
spanish_marchman = spanish_marchman.astype(float).drop_duplicates()
spanish_marchman

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,age_27,age_28,age_29,age_30,age_31,age_32,age_33,age_34,age_35,age_36
item,,,,,,,,,,,,,,,,,,,,
a,0.0,0.25,0.18,0.00,0.00,0.12,0.00,0.14,0.33,0.00,0.22,0.56,0.00,0.36,0.24,0.29,0.00,0.0,0.0,0.0
about,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.22,0.00,0.00,0.06,0.14,0.00,0.0,0.0,1.0
above,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.04,0.00,0.00,0.11,0.00,0.00,0.12,0.00,0.00,0.0,0.0,0.0
after,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.03,0.04,0.00,0.00,0.22,0.00,0.08,0.12,0.14,0.00,0.0,0.0,0.0
airplane,0.0,0.42,0.18,0.25,0.43,0.38,0.56,0.31,0.62,0.44,0.33,0.56,0.43,0.72,0.82,0.71,0.67,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yucky,0.0,0.25,0.18,0.00,0.00,0.38,0.33,0.19,0.46,0.44,0.33,0.33,0.21,0.40,0.59,0.43,0.33,1.0,1.0,0.0
yumyum,0.0,0.67,0.29,0.25,0.43,0.25,0.33,0.50,0.46,0.56,0.56,0.67,0.50,0.64,0.65,0.43,0.00,1.0,1.0,0.0
zebra,0.0,0.08,0.06,0.00,0.00,0.00,0.22,0.08,0.29,0.11,0.33,0.33,0.21,0.52,0.35,0.21,0.33,1.0,1.0,0.0
zipper,0.0,0.00,0.06,0.00,0.00,0.12,0.11,0.14,0.17,0.11,0.22,0.33,0.14,0.20,0.35,0.29,0.00,1.0,0.0,0.0
zoo,0.0,0.08,0.12,0.00,0.14,0.00,0.22,0.17,0.17,0.22,0.22,0.22,0.36,0.48,0.35,0.29,0.33,1.0,1.0,0.0

## merge into one dataframe and get the mean

In [9]:
# def to_list(x):
#     return [[i] for i in x]

# french = french.apply(to_list)
# spanish = spanish.apply(to_list)
# irish = irish.apply(to_list)
# hebrew = hebrew.apply(to_list)

In [10]:
irish

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,age_27,age_28,age_29,age_30,age_31,age_32,age_33,age_34,age_35,age_36
item,,,,,,,,,,,,,,,,,,,,
ahah,1.0,0.0,0.5,1.0,0.33,0.75,1.00,1.00,1.00,0.9,1.0,1.00,0.75,1.00,0.88,1.00,1.0,1.00,1.00,0.8
baabaa,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00,0.88,1.00,1.0,1.00,1.00,0.8
bowwow,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.00,1.00,0.9,1.0,0.86,0.75,1.00,1.00,1.00,1.0,1.00,1.00,0.8
choochoo,0.5,0.0,1.0,0.0,0.67,0.25,0.75,1.00,0.83,1.0,1.0,1.00,1.00,0.89,1.00,1.00,1.0,1.00,0.91,0.8
cockadoodledoo,0.5,0.0,1.0,1.0,0.33,0.50,0.50,0.75,0.67,0.8,0.6,0.86,1.00,0.89,0.75,1.00,1.0,0.50,1.00,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
dá,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.25,0.17,0.0,0.0,0.00,0.00,0.33,0.12,0.00,0.4,0.50,0.36,0.0
mar,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.25,0.17,0.2,0.0,0.00,0.25,0.56,0.00,0.25,0.4,0.50,0.64,0.4
because,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.25,0.22,0.12,0.75,0.8,0.50,0.36,0.4
huair,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.25,0.17,0.0,0.0,0.00,0.00,0.33,0.00,0.75,1.0,0.50,0.64,0.4
when,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.25,0.11,0.00,0.75,0.6,0.25,0.18,0.0

In [20]:
def add_lang(lang,df):
    df["lang"] = [lang]*len(df)
    
    return df.reset_index()

french = add_lang("french",french)
hebrew = add_lang("hebrew",hebrew)
spanish = add_lang("spanish",spanish)
irish = add_lang("irish",irish)
spanish_marchman = add_lang("spanish",spanish_marchman)

In [12]:
hebrew

,item,age_24,age_26,age_28,age_29,age_30,age_31,age_32,age_34,age_35,age_36,age_40,age_41,age_42,age_43,age_45,age_47,lang
0,baabaa,1.00,0.5,1.0,1.0,1.0,0.67,0.4,0.4,1.0,0.8,1.00,1.0,0.00,0.5,1.0,1.0,hebrew
1,choochoo,0.67,0.5,1.0,1.0,0.0,0.67,0.4,0.2,1.0,0.8,0.67,1.0,0.33,1.0,1.0,0.0,hebrew
2,cockadoodledoo,0.33,0.0,1.0,1.0,0.0,0.00,0.2,0.4,0.0,0.8,0.33,1.0,0.33,1.0,0.0,1.0,hebrew
3,grrr,0.33,0.0,1.0,0.0,0.0,1.00,0.2,0.4,1.0,0.8,0.67,1.0,0.33,1.0,0.5,1.0,hebrew
4,meow,0.67,1.0,1.0,1.0,1.0,1.00,1.0,1.0,1.0,1.0,1.00,1.0,1.00,1.0,1.0,1.0,hebrew
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,talk,0.00,0.0,1.0,0.0,1.0,0.67,0.4,0.6,1.0,0.6,0.33,0.0,1.00,0.5,0.5,1.0,hebrew
467,taste,0.00,0.0,1.0,0.0,0.0,0.00,0.2,0.2,1.0,0.6,0.67,0.0,1.00,0.5,0.5,1.0,hebrew
468,tear,0.00,0.0,1.0,0.0,0.0,0.00,0.2,0.0,0.5,0.4,0.33,0.0,0.33,0.5,0.0,1.0,hebrew
469,think,0.00,0.0,1.0,1.0,0.0,0.00,0.0,0.0,0.5,0.4,0.33,0.0,0.33,0.5,0.5,1.0,hebrew
470,throw,0.00,0.5,1.0,0.0,0.0,0.67,0.6,0.2,1.0,0.6,0.67,0.0,0.67,0.5,0.5,1.0,hebrew

In [21]:
import string
df_all = pd.concat([hebrew,irish,spanish,french,spanish_marchman],ignore_index=True)
df_all = df_all.reindex(sorted(df_all.columns), axis=1).dropna(how="all")
df_all.item = df_all.item.apply(lambda x: x.translate(str.maketrans('', '', string.punctuation)))
df_all

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,...,age_40,age_41,age_42,age_43,age_45,age_47,age_48,index,item,lang
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,NaN,0.50,...,1.00,1.0,0.00,0.5,1.0,1.0,NaN,0.0,baabaa,hebrew
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.67,NaN,0.50,...,0.67,1.0,0.33,1.0,1.0,0.0,NaN,1.0,choochoo,hebrew
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.33,NaN,0.00,...,0.33,1.0,0.33,1.0,0.0,1.0,NaN,2.0,cockadoodledoo,hebrew
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.33,NaN,0.00,...,0.67,1.0,0.33,1.0,0.5,1.0,NaN,3.0,grrr,hebrew
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.67,NaN,1.00,...,1.00,1.0,1.00,1.0,1.0,1.0,NaN,4.0,meow,hebrew
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3084,0.0,0.25,0.18,0.00,0.00,0.38,0.33,0.19,0.46,0.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yucky,spanish
3085,0.0,0.67,0.29,0.25,0.43,0.25,0.33,0.50,0.46,0.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yumyum,spanish
3086,0.0,0.08,0.06,0.00,0.00,0.00,0.22,0.08,0.29,0.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,zebra,spanish
3087,0.0,0.00,0.06,0.00,0.00,0.12,0.11,0.14,0.17,0.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,zipper,spanish
3088,0.0,0.08,0.12,0.00,0.14,0.00,0.22,0.17,0.17,0.22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,zoo,spanish

In [22]:
import numpy as np
df_mean = df_all.groupby("item").agg(np.mean)
df_mean = df_mean.sort_index(key=lambda x: x.str.lower())
df_mean

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,...,age_35,age_36,age_40,age_41,age_42,age_43,age_45,age_47,age_48,index
item,,,,,,,,,,,,,,,,,,,,,
a,0.0,0.125,0.090,0.000,0.000000,0.123333,0.083333,0.170000,0.226667,0.000000,...,0.275000,0.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,581.000000
about,0.0,0.000,0.000,0.000,0.000000,0.030000,0.030000,0.000000,0.033333,0.000000,...,0.000000,0.715000,NaN,NaN,0.430,NaN,NaN,NaN,0.43,541.000000
above,0.0,0.000,0.000,0.000,0.000000,0.000000,0.030000,0.000000,0.065000,0.000000,...,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,611.000000
across,0.0,0.000,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.270000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,585.000000
aeroplane,0.0,0.000,0.000,0.000,0.000000,0.000000,0.250000,0.500000,0.170000,0.200000,...,0.450000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yucky,0.0,0.125,0.090,0.000,0.110000,0.307500,0.320000,0.490000,0.462500,0.280000,...,0.865000,0.510000,NaN,NaN,0.730,NaN,NaN,NaN,0.73,512.666667
yumyum,0.5,0.835,0.645,0.625,0.533333,0.452500,0.630000,0.585000,0.765000,0.515000,...,1.000000,0.552500,0.67,0.0,0.570,0.5,1.0,1.0,0.81,11.250000
zebra,0.0,0.040,0.030,0.000,0.000000,0.132500,0.136667,0.252500,0.377500,0.227500,...,0.786667,0.672500,0.67,0.0,0.945,0.5,1.0,1.0,0.89,52.500000
zipper,0.0,0.000,0.060,0.000,0.000000,0.243333,0.210000,0.126667,0.306667,0.203333,...,0.500000,0.363333,0.67,0.0,0.845,0.5,1.0,1.0,0.69,171.333333
zoo,0.0,0.040,0.060,0.000,0.046667,0.095000,0.113333,0.197500,0.185000,0.205000,...,0.726667,0.557500,0.67,0.0,0.915,1.0,0.5,1.0,0.83,322.000000

## sanity check

In [23]:
df_mean.transpose()["wannawantto"]

age_17        NaN
age_18        NaN
age_19        NaN
age_20        NaN
age_21      0.000
age_22      0.405
age_23      0.120
age_24      0.240
age_25      0.500
age_26      0.000
age_27        NaN
age_28      0.000
age_29      0.400
age_30      0.640
age_31      0.620
age_32      0.850
age_33        NaN
age_34        NaN
age_35        NaN
age_36      0.850
age_40        NaN
age_41        NaN
age_42      0.850
age_43        NaN
age_45        NaN
age_47        NaN
age_48      0.850
index     589.000
Name: wannawantto, dtype: float64

In [24]:
df_all[df_all.item.str.contains("wanna")]

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,...,age_40,age_41,age_42,age_43,age_45,age_47,age_48,index,item,lang
1600,NaN,NaN,NaN,NaN,NaN,0.81,NaN,NaN,0.82,NaN,...,NaN,NaN,0.85,NaN,NaN,NaN,0.85,509.0,wannawantto,spanish
2291,NaN,NaN,NaN,NaN,0.0,0.00,0.12,0.24,0.18,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,669.0,wannawantto,french
3044,0.0,0.25,0.0,0.0,0.0,0.00,0.00,0.06,0.25,0.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wanna,spanish

In [25]:
df_mean.to_csv("production_rate(5 languages).csv")

## manual check and remerge
http://wordbank.stanford.edu/analyses?name=item_data

In [36]:
df_mean = pd.read_csv("production_rate(5 languages).csv")
df_mean = df_mean.groupby("item").agg(np.mean)
df_mean

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,...,age_35,age_36,age_40,age_41,age_42,age_43,age_45,age_47,age_48,index
item,,,,,,,,,,,,,,,,,,,,,
Drink1,0.0,0.000,0.000,0.000,0.000000,0.000000,0.000000,0.030000,0.040000,0.000000,...,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
I,0.0,0.420,0.180,0.250,0.000000,0.250000,0.180000,0.100000,0.260000,0.110000,...,0.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,583.000000
Nameself,NaN,NaN,NaN,NaN,0.500000,0.000000,0.500000,0.825000,0.910000,0.500000,...,1.000000,0.800000,1.00,0.0,1.000,1.0,1.0,1.0,NaN,359.500000
Pool,0.0,0.000,0.500,0.000,0.000000,0.000000,0.000000,0.250000,0.330000,0.400000,...,0.640000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,292.000000
TV,0.5,0.250,0.290,0.500,0.070000,0.390000,0.470000,0.595000,0.720000,0.470000,...,0.500000,0.837500,0.33,0.0,0.475,0.5,0.5,0.0,0.95,268.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yucky,0.0,0.125,0.090,0.000,0.110000,0.307500,0.320000,0.490000,0.462500,0.280000,...,0.865000,0.510000,NaN,NaN,0.730,NaN,NaN,NaN,0.73,512.666667
yumyum,0.5,0.835,0.645,0.625,0.533333,0.452500,0.630000,0.585000,0.765000,0.515000,...,1.000000,0.552500,0.67,0.0,0.570,0.5,1.0,1.0,0.81,11.250000
zebra,0.0,0.040,0.030,0.000,0.000000,0.132500,0.136667,0.252500,0.377500,0.227500,...,0.786667,0.672500,0.67,0.0,0.945,0.5,1.0,1.0,0.89,52.500000
zipper,0.0,0.000,0.060,0.000,0.000000,0.243333,0.210000,0.126667,0.306667,0.203333,...,0.500000,0.363333,0.67,0.0,0.845,0.5,1.0,1.0,0.69,171.333333
zoo,0.0,0.040,0.060,0.000,0.046667,0.095000,0.113333,0.197500,0.185000,0.205000,...,0.726667,0.557500,0.67,0.0,0.915,1.0,0.5,1.0,0.83,322.000000

In [39]:
df_mean = df_mean.transpose()

In [41]:
df_mean.columns = [str(i).lower() for i in list(df_mean.columns)]
df_mean = df_mean.transpose()
df_mean

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,...,age_35,age_36,age_40,age_41,age_42,age_43,age_45,age_47,age_48,index
drink1,0.0,0.000,0.000,0.000,0.000000,0.000000,0.000000,0.030000,0.040000,0.000000,...,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
i,0.0,0.420,0.180,0.250,0.000000,0.250000,0.180000,0.100000,0.260000,0.110000,...,0.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,583.000000
nameself,NaN,NaN,NaN,NaN,0.500000,0.000000,0.500000,0.825000,0.910000,0.500000,...,1.000000,0.800000,1.00,0.0,1.000,1.0,1.0,1.0,NaN,359.500000
pool,0.0,0.000,0.500,0.000,0.000000,0.000000,0.000000,0.250000,0.330000,0.400000,...,0.640000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,292.000000
tv,0.5,0.250,0.290,0.500,0.070000,0.390000,0.470000,0.595000,0.720000,0.470000,...,0.500000,0.837500,0.33,0.0,0.475,0.5,0.5,0.0,0.95,268.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yucky,0.0,0.125,0.090,0.000,0.110000,0.307500,0.320000,0.490000,0.462500,0.280000,...,0.865000,0.510000,NaN,NaN,0.730,NaN,NaN,NaN,0.73,512.666667
yumyum,0.5,0.835,0.645,0.625,0.533333,0.452500,0.630000,0.585000,0.765000,0.515000,...,1.000000,0.552500,0.67,0.0,0.570,0.5,1.0,1.0,0.81,11.250000
zebra,0.0,0.040,0.030,0.000,0.000000,0.132500,0.136667,0.252500,0.377500,0.227500,...,0.786667,0.672500,0.67,0.0,0.945,0.5,1.0,1.0,0.89,52.500000
zipper,0.0,0.000,0.060,0.000,0.000000,0.243333,0.210000,0.126667,0.306667,0.203333,...,0.500000,0.363333,0.67,0.0,0.845,0.5,1.0,1.0,0.69,171.333333
zoo,0.0,0.040,0.060,0.000,0.046667,0.095000,0.113333,0.197500,0.185000,0.205000,...,0.726667,0.557500,0.67,0.0,0.915,1.0,0.5,1.0,0.83,322.000000

In [42]:
df_mean.sort_index()

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,...,age_35,age_36,age_40,age_41,age_42,age_43,age_45,age_47,age_48,index
a,0.0,0.125,0.090,0.000,0.000000,0.123333,0.083333,0.170000,0.226667,0.000000,...,0.275000,0.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,581.000000
about,0.0,0.000,0.000,0.000,0.000000,0.030000,0.030000,0.000000,0.033333,0.000000,...,0.000000,0.715000,NaN,NaN,0.430,NaN,NaN,NaN,0.43,541.000000
above,0.0,0.000,0.000,0.000,0.000000,0.000000,0.030000,0.000000,0.065000,0.000000,...,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,611.000000
across,0.0,0.000,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.270000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,585.000000
aeroplane,0.0,0.000,0.000,0.000,0.000000,0.000000,0.250000,0.500000,0.170000,0.200000,...,0.450000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yucky,0.0,0.125,0.090,0.000,0.110000,0.307500,0.320000,0.490000,0.462500,0.280000,...,0.865000,0.510000,NaN,NaN,0.730,NaN,NaN,NaN,0.73,512.666667
yumyum,0.5,0.835,0.645,0.625,0.533333,0.452500,0.630000,0.585000,0.765000,0.515000,...,1.000000,0.552500,0.67,0.0,0.570,0.5,1.0,1.0,0.81,11.250000
zebra,0.0,0.040,0.030,0.000,0.000000,0.132500,0.136667,0.252500,0.377500,0.227500,...,0.786667,0.672500,0.67,0.0,0.945,0.5,1.0,1.0,0.89,52.500000
zipper,0.0,0.000,0.060,0.000,0.000000,0.243333,0.210000,0.126667,0.306667,0.203333,...,0.500000,0.363333,0.67,0.0,0.845,0.5,1.0,1.0,0.69,171.333333
zoo,0.0,0.040,0.060,0.000,0.046667,0.095000,0.113333,0.197500,0.185000,0.205000,...,0.726667,0.557500,0.67,0.0,0.915,1.0,0.5,1.0,0.83,322.000000

In [47]:
df_mean = df_mean.sort_index().round(2)
df_mean.to_csv("production_rate(5 languages).csv")

In [44]:
## map the words to their groups
group_df = pd.read_csv("item_data.csv")
group_df

,num_item_id,definition,type,category,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30
0,1,baa baa,word,sounds,0.47,0.57,0.61,0.69,0.70,0.63,0.78,0.77,0.79,0.81,0.83,0.82,0.90,0.86,0.92
1,2,choo choo,word,sounds,0.28,0.33,0.51,0.59,0.61,0.59,0.74,0.78,0.80,0.84,0.86,0.85,0.95,0.87,0.93
2,3,cockadoodledoo,word,sounds,0.13,0.11,0.19,0.25,0.27,0.34,0.39,0.39,0.51,0.53,0.55,0.53,0.75,0.57,0.73
3,4,grrr,word,sounds,0.54,0.57,0.63,0.66,0.66,0.64,0.75,0.80,0.83,0.80,0.86,0.81,0.94,0.83,0.89
4,5,meow,word,sounds,0.50,0.49,0.68,0.72,0.73,0.79,0.82,0.87,0.90,0.90,0.94,0.91,0.97,0.93,0.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,676,because,word,connecting_words,0.00,0.00,0.01,0.02,0.03,0.04,0.10,0.13,0.12,0.15,0.27,0.30,0.37,0.42,0.49
676,677,but,word,connecting_words,0.00,0.00,0.00,0.01,0.02,0.04,0.04,0.05,0.07,0.11,0.17,0.23,0.25,0.27,0.39
677,678,if,word,connecting_words,0.00,0.01,0.00,0.01,0.01,0.02,0.02,0.03,0.04,0.10,0.08,0.12,0.19,0.20,0.23
678,679,so,word,connecting_words,0.00,0.01,0.01,0.02,0.03,0.05,0.06,0.10,0.10,0.15,0.20,0.25,0.29,0.30,0.38
679,680,then,word,connecting_words,0.00,0.00,0.00,0.01,0.02,0.02,0.03,0.06,0.07,0.11,0.20,0.21,0.28,0.24,0.34

In [89]:
group_df = group_df[["definition","category"]]
group_df.definition = group_df.definition.apply(lambda x: x.split("/")[0].replace(" ","").replace("*",""))
d = dict(zip(group_df["definition"],group_df["category"]))
d

{'baabaa': 'sounds',
 'choochoo': 'sounds',
 'cockadoodledoo': 'sounds',
 'grrr': 'sounds',
 'meow': 'sounds',
 'moo': 'sounds',
 'ouch': 'sounds',
 'quackquack': 'sounds',
 'uhoh': 'sounds',
 'vroom': 'sounds',
 'woofwoof': 'sounds',
 'yumyum': 'sounds',
 'alligator': 'animals',
 'animal': 'animals',
 'ant': 'animals',
 'bear': 'animals',
 'bee': 'animals',
 'bird': 'animals',
 'bug': 'animals',
 'bunny': 'animals',
 'butterfly': 'animals',
 'cat': 'animals',
 'chicken(animal)': 'animals',
 'cow': 'animals',
 'deer': 'animals',
 'dog': 'animals',
 'donkey': 'animals',
 'duck': 'animals',
 'elephant': 'animals',
 'fish(animal)': 'animals',
 'frog': 'animals',
 'giraffe': 'animals',
 'goose': 'animals',
 'hen': 'animals',
 'horse': 'animals',
 'kitty': 'animals',
 'lamb': 'animals',
 'lion': 'animals',
 'monkey': 'animals',
 'moose': 'animals',
 'mouse': 'animals',
 'owl': 'animals',
 'penguin': 'animals',
 'pig': 'animals',
 'pony': 'animals',
 'puppy': 'animals',
 'rooster': 'animals',
 'sheep': 'animals',
 'squirrel': 'animals',
 'teddybear': 'animals',
 'tiger': 'animals',
 'turkey': 'animals',
 'turtle': 'animals',
 'wolf': 'animals',
 'zebra': 'animals',
 'airplane': 'vehicles',
 'bicycle': 'vehicles',
 'boat': 'vehicles',
 'bus': 'vehicles',
 'car': 'vehicles',
 'firetruck': 'vehicles',
 'helicopter': 'vehicles',
 'motorcycle': 'vehicles',
 'sled': 'vehicles',
 'stroller': 'vehicles',
 'tractor': 'vehicles',
 'train': 'vehicles',
 'tricycle': 'vehicles',
 'truck': 'vehicles',
 'ball': 'toys',
 'balloon': 'toys',
 'bat': 'toys',
 'block': 'toys',
 'book': 'toys',
 'bubbles': 'toys',
 'chalk': 'toys',
 'crayon': 'toys',
 'doll': 'toys',
 'game': 'toys',
 'glue': 'toys',
 'pen': 'toys',
 'pencil': 'toys',
 'playdough': 'toys',
 'present': 'toys',
 'puzzle': 'toys',
 'story': 'toys',
 'toy(object)': 'toys',
 'apple': 'food_drink',
 'applesauce': 'food_drink',
 'banana': 'food_drink',
 'beans': 'food_drink',
 'bread': 'food_drink',
 'butter': 'food_drink',
 'cake': 'food_drink',
 'candy': 'food_drink',
 'carrots': 'food_drink',
 'cereal': 'food_drink',
 'cheerios': 'food_drink',
 'cheese': 'food_drink',
 'chicken(food)': 'food_drink',
 'chocolate': 'food_drink',
 'coffee': 'food_drink',
 'coke': 'food_drink',
 'cookie': 'food_drink',
 'corn': 'food_drink',
 'cracker': 'food_drink',
 'donut': 'food_drink',
 'drink(beverage)': 'food_drink',
 'egg': 'food_drink',
 'fish(food)': 'food_drink',
 'food': 'food_drink',
 'frenchfries': 'food_drink',
 'grapes': 'food_drink',
 'greenbeans': 'food_drink',
 'gum': 'food_drink',
 'hamburger': 'food_drink',
 'ice': 'food_drink',
 'icecream': 'food_drink',
 'jello': 'food_drink',
 'jelly': 'food_drink',
 'juice': 'food_drink',
 'lollipop': 'food_drink',
 'meat': 'food_drink',
 'melon': 'food_drink',
 'milk': 'food_drink',
 'muffin': 'food_drink',
 'noodles': 'food_drink',
 'nuts': 'food_drink',
 'orange(food)': 'food_drink',
 'pancake': 'food_drink',
 'peas': 'food_drink',
 'peanutbutter': 'food_drink',
 'pickle': 'food_drink',
 'pizza': 'food_drink',
 'popcorn': 'food_drink',
 'popsicle': 'food_drink',
 'potatochip': 'food_drink',
 'potato': 'food_drink',
 'pretzel': 'food_drink',
 'pudding': 'food_drink',
 'pumpkin': 'food_drink',
 'raisin': 'food_drink',
 'salt': 'food_drink',
 'sandwich': 'food_drink',
 'sauce': 'food_drink',
 'soda': 'food_drink',
 'soup': 'food_drink',
 'spaghetti': 'food_drink',
 'strawberry': 'food_drink',
 'toast': 'food_drink',
 'tuna': 'food_drink',
 'vanilla': 'food_drink',
 'vitamins': 'food_drink',
 'water(beverage)': 'food_drink',
 'yogurt': 'food_drink',
 'beads': 'clothing',
 'belt': 'clothing',
 'bib': 'clothing',
 'boots': 'clothing',
 'button': 'clothing',
 'coat': 'clothing',
 'diaper': 'clothing',
 'dress(object)': 'clothing',
 'gloves': 'clothing',
 'hat': 'clothing',
 'jacket': 'clothing',
 'jeans': 'clothing',
 'mittens': 'clothing',
 'necklace': 'clothing',
 'pajamas': 'clothing',
 'pants': 'clothing',
 'scarf': 'clothing',
 'shirt': 'clothing',
 'shoe': 'clothing',
 'shorts': 'clothing',
 'slipper': 'clothing',
 'sneaker': 'clothing',
 'snowsuit': 'clothing',
 'sock': 'clothing',
 'sweater': 'clothing',
 'tights': 'clothing',
 'underpants': 'clothing',
 'zipper': 'clothing',
 'ankle': 'body_parts',
 'arm': 'body_parts',
 'bellybutton': 'body_parts',
 'buttocks': 'body_parts',
 'cheek': 'body_parts',
 'chin': 'body_parts',
 'ear': 'body_parts',
 'eye': 'body_parts',
 'face': 'body_parts',
 'finger': 'body_parts',
 'foot': 'body_parts',
 'hair': 'body_parts',
 'hand': 'body_parts',
 'head': 'body_parts',
 'knee': 'body_parts',
 'leg': 'body_parts',
 'lips': 'body_parts',
 'mouth': 'body_parts',
 'nose': 'body_parts',
 'owie': 'body_parts',
 'penis': 'body_parts',
 'shoulder': 'body_parts',
 'toe': 'body_parts',
 'tongue': 'body_parts',
 'tooth': 'body_parts',
 'tummy': 'body_parts',
 'vagina': 'body_parts',
 'basket': 'household',
 'blanket': 'household',
 'bottle': 'household',
 'bowl': 'household',
 'box': 'household',
 'broom': 'household',
 'brush': 'household',
 'bucket': 'household',
 'camera': 'household',
 'can(object)': 'household',
 'clock': 'household',
 'comb': 'household',
 'cup': 'household',
 'dish': 'household',
 'fork': 'household',
 'garbage': 'household',
 'glass': 'household',
 'glasses': 'household',
 'hammer': 'household',
 'jar': 'household',
 'keys': 'household',
 'knife': 'household',
 'lamp': 'household',
 'light': 'household',
 'medicine': 'household',
 'money': 'household',
 'mop': 'household',
 'nail': 'household',
 'napkin': 'household',
 'paper': 'household',
 'penny': 'household',
 'picture': 'household',
 'pillow': 'household',
 'plant': 'household',
 'plate': 'household',
 'purse': 'household',
 'radio': 'household',
 'scissors': 'household',
 'soap': 'household',
 'spoon': 'household',
 'tape': 'household',
 'telephone': 'household',
 'tissue': 'household',
 'toothbrush': 'household',
 'towel': 'household',
 'trash': 'household',
 'tray': 'household',
 'vacuum': 'household',
 'walker': 'household',
 'watch(object)': 'household',
 'basement': 'furniture_rooms',
 'bathroom': 'furniture_rooms',
 'bathtub': 'furniture_rooms',
 'bed': 'furniture_rooms',
 'bedroom': 'furniture_rooms',
 'bench': 'furniture_rooms',
 'chair': 'furniture_rooms',
 'closet': 'furniture_rooms',
 'couch': 'furniture_rooms',
 'crib': 'furniture_rooms',
 'door': 'furniture_rooms',
 'drawer': 'furniture_rooms',
 'dryer': 'furniture_rooms',
 'garage': 'furniture_rooms',
 'highchair': 'furniture_rooms',
 'kitchen': 'furniture_rooms',
 'livingroom': 'furniture_rooms',
 'oven': 'furniture_rooms',
 'playpen': 'furniture_rooms',
 'porch': 'furniture_rooms',
 'potty': 'furniture_rooms',
 'rockingchair': 'furniture_rooms',
 'refrigerator': 'furniture_rooms',
 'room': 'furniture_rooms',
 'shower': 'furniture_rooms',
 'sink': 'furniture_rooms',
 'sofa': 'furniture_rooms',
 'stairs': 'furniture_rooms',
 'stove': 'furniture_rooms',
 'table': 'furniture_rooms',
 'TV': 'furniture_rooms',
 'window': 'furniture_rooms',
 'washingmachine': 'furniture_rooms',
 'backyard': 'outside',
 'cloud': 'outside',
 'flag': 'outside',
 'flower': 'outside',
 'garden': 'outside',
 'grass': 'outside',
 'hose': 'outside',
 'ladder': 'outside',
 'lawnmower': 'outside',
 'moon': 'outside',
 'pool': 'outside',
 'rain': 'outside',
 'rock': 'outside',
 'roof': 'outside',
 'sandbox': 'outside',
 'shovel': 'outside',
 'sidewalk': 'outside',
 'sky': 'outside',
 'slide(object)': 'outside',
 'snow': 'outside',
 'snowman': 'outside',
 'sprinkler': 'outside',
 'star': 'outside',
 'stick': 'outside',
 'stone': 'outside',
 'street': 'outside',
 'sun': 'outside',
 'swing(object)': 'outside',
 'tree': 'outside',
 'water(notbeverage)': 'outside',
 'wind': 'outside',
 'beach': 'places',
 'camping': 'places',
 'church': 'places',
 'circus': 'places',
 'country': 'places',
 'downtown': 'places',
 'farm': 'places',
 'gasstation': 'places',
 'home': 'places',
 'house': 'places',
 'movie': 'places',
 'outside': 'places',
 'park': 'places',
 'party': 'places',
 'picnic': 'places',
 'playground': 'places',
 'school': 'places',
 'store': 'places',
 'woods': 'places',
 'work(place)': 'places',
 'yard': 'places',
 'zoo': 'places',
 'aunt': 'people',
 'baby': 'people',
 'babysitter': 'people',
 "babysitter'sname": 'people',
 'boy': 'people',
 'brother': 'people',
 'child': 'people',
 'clown': 'people',
 'cowboy': 'people',
 'daddy': 'people',
 'doctor': 'people',
 'fireman': 'people',
 'friend': 'people',
 'girl': 'people',
 'grandma': 'people',
 'grandpa': 'people',
 'lady': 'people',
 'mailman': 'people',
 'man': 'people',
 'mommy': 'people',
 'nurse': 'people',
 "child'sownname": 'people',
 'people': 'people',
 'person': 'people',
 "pet'sname": 'people',
 'police': 'people',
 'sister': 'people',
 'teacher': 'people',
 'uncle': 'people',
 'bath': 'games_routines',
 'breakfast': 'games_routines',
 'bye': 'games_routines',
 'call(onphone)': 'games_routines',
 'dinner': 'games_routines',
 'givemefive!': 'games_routines',
 'gonnagetyou!': 'games_routines',
 'gopotty': 'games_routines',
 'hello': 'games_routines',
 'hi': 'games_routines',
 'lunch': 'games_routines',
 'nap': 'games_routines',
 'nightnight': 'games_routines',
 'no': 'games_routines',
 'pattycake': 'games_routines',
 'peekaboo': 'games_routines',
 'please': 'games_routines',
 'shh': 'games_routines',
 'shopping': 'games_routines',
 'snack': 'games_routines',
 'sobig!': 'games_routines',
 'thankyou': 'games_routines',
 'thislittlepiggy': 'games_routines',
 'turnaround': 'games_routines',
 'yes': 'games_routines',
 'bite': 'action_words',
 'blow': 'action_words',
 'break': 'action_words',
 'bring': 'action_words',
 'build': 'action_words',
 'bump': 'action_words',
 'buy': 'action_words',
 'carry': 'action_words',
 'catch': 'action_words',
 'chase': 'action_words',
 'clap': 'action_words',
 'clean(action)': 'action_words',
 'climb': 'action_words',
 'close': 'action_words',
 'cook': 'action_words',
 'cover': 'action_words',
 'cry': 'action_words',
 'cut': 'action_words',
 'dance': 'action_words',
 'draw': 'action_words',
 'drink(action)': 'action_words',
 'drive': 'action_words',
 'drop': 'action_words',
 'dry(action)': 'action_words',
 'dump': 'action_words',
 'eat': 'action_words',
 'fall': 'action_words',
 'feed': 'action_words',
 'find': 'action_words',
 'finish': 'action_words',
 'fit': 'action_words',
 'fix': 'action_words',
 'get': 'action_words',
 'give': 'action_words',
 'go': 'action_words',
 'hate': 'action_words',
 'have': 'action_words',
 'hear': 'action_words',
 'help': 'action_words',
 'hide': 'action_words',
 'hit': 'action_words',
 'hold': 'action_words',
 'hug': 'action_words',
 'hurry': 'action_words',
 'jump': 'action_words',
 'kick': 'action_words',
 'kiss': 'action_words',
 'knock': 'action_words',
 'lick': 'action_words',
 'like': 'action_words',
 'listen': 'action_words',
 'look': 'action_words',
 'love': 'action_words',
 'make': 'action_words',
 'open': 'action_words',
 'paint': 'action_words',
 'pick': 'action_words',
 'play': 'action_words',
 'pour': 'action_words',
 'pretend': 'action_words',
 'pull': 'action_words',
 'push': 'action_words',
 'put': 'action_words',
 'read': 'action_words',
 'ride': 'action_words',
 'rip': 'action_words',
 'run': 'action_words',
 'say': 'action_words',
 'see': 'action_words',
 'shake': 'action_words',
 'share': 'action_words',
 'show': 'action_words',
 'sing': 'action_words',
 'sit': 'action_words',
 'skate': 'action_words',
 'sleep': 'action_words',
 'slide(action)': 'action_words',
 'smile': 'action_words',
 'spill': 'action_words',
 'splash': 'action_words',
 'stand': 'action_words',
 'stay': 'action_words',
 'stop': 'action_words',
 'sweep': 'action_words',
 'swim': 'action_words',
 'swing(action)': 'action_words',
 'take': 'action_words',
 'talk': 'action_words',
 'taste': 'action_words',
 'tear': 'action_words',
 'think': 'action_words',
 'throw': 'action_words',
 'tickle': 'action_words',
 'touch': 'action_words',
 'wait': 'action_words',
 'wake': 'action_words',
 'walk': 'action_words',
 'wash': 'action_words',
 'watch(action)': 'action_words',
 'wipe': 'action_words',
 'wish': 'action_words',
 'work(action)': 'action_words',
 'write': 'action_words',
 'allgone': 'descriptive_words',
 'asleep': 'descriptive_words',
 'awake': 'descriptive_words',
 'bad': 'descriptive_words',
 'better': 'descriptive_words',
 'big': 'descriptive_words',
 'black': 'descriptive_words',
 'blue': 'descriptive_words',
 'broken': 'descriptive_words',
 'brown': 'descriptive_words',
 'careful': 'descriptive_words',
 'clean(description)': 'descriptive_words',
 'cold': 'descriptive_words',
 'cute': 'descriptive_words',
 'dark': 'descriptive_words',
 'dirty': 'descriptive_words',
 'dry(description)': 'descriptive_words',
 'empty': 'descriptive_words',
 'fast': 'descriptive_words',
 'fine': 'descriptive_words',
 'first': 'descriptive_words',
 'full': 'descriptive_words',
 'gentle': 'descriptive_words',
 'good': 'descriptive_words',
 'green': 'descriptive_words',
 'happy': 'descriptive_words',
 'hard': 'descriptive_words',
 'heavy': 'descriptive_words',
 'high': 'descriptive_words',
 'hot': 'descriptive_words',
 'hungry': 'descriptive_words',
 'hurt': 'descriptive_words',
 'last': 'descriptive_words',
 'little(description)': 'descriptive_words',
 'long': 'descriptive_words',
 'loud': 'descriptive_words',
 'mad': 'descriptive_words',
 'naughty': 'descriptive_words',
 'new': 'descriptive_words',
 'nice': 'descriptive_words',
 'noisy': 'descriptive_words',
 'old': 'descriptive_words',
 'orange(description)': 'descriptive_words',
 'poor': 'descriptive_words',
 'pretty': 'descriptive_words',
 'quiet': 'descriptive_words',
 'red': 'descriptive_words',
 'sad': 'descriptive_words',
 'scared': 'descriptive_words',
 'sick': 'descriptive_words',
 'sleepy': 'descriptive_words',
 'slow': 'descriptive_words',
 'soft': 'descriptive_words',
 'sticky': 'descriptive_words',
 'stuck': 'descriptive_words',
 'thirsty': 'descriptive_words',
 'tiny': 'descriptive_words',
 'tired': 'descriptive_words',
 'wet': 'descriptive_words',
 'white': 'descriptive_words',
 'windy': 'descriptive_words',
 'yellow': 'descriptive_words',
 'yucky': 'descriptive_words',
 'after': 'time_words',
 'before': 'time_words',
 'day': 'time_words',
 'later': 'time_words',
 'morning': 'time_words',
 'night': 'time_words',
 'now': 'time_words',
 'time': 'time_words',
 'today': 'time_words',
 'tomorrow': 'time_words',
 'tonight': 'time_words',
 'yesterday': 'time_words',
 'he': 'pronouns',
 'her': 'pronouns',
 'hers': 'pronouns',
 'him': 'pronouns',
 'his': 'pronouns',
 'I': 'pronouns',
 'it': 'pronouns',
 'me': 'pronouns',
 'mine': 'pronouns',
 'my': 'pronouns',
 'myself': 'pronouns',
 'our': 'pronouns',
 'she': 'pronouns',
 'that': 'pronouns',
 'their': 'pronouns',
 'them': 'pronouns',
 'these': 'pronouns',
 'they': 'pronouns',
 'this': 'pronouns',
 'those': 'pronouns',
 'us': 'pronouns',
 'we': 'pronouns',
 'you': 'pronouns',
 'your': 'pronouns',
 'yourself': 'pronouns',
 'how': 'question_words',
 'what': 'question_words',
 'when': 'question_words',
 'where': 'question_words',
 'which': 'question_words',
 'who': 'question_words',
 'why': 'question_words',
 'about': 'locations',
 'above': 'locations',
 'around': 'locations',
 'at': 'locations',
 'away': 'locations',
 'back': 'locations',
 'behind': 'locations',
 'beside': 'locations',
 'by': 'locations',
 'down': 'locations',
 'for': 'locations',
 'here': 'locations',
 'inside': 'locations',
 'into': 'locations',
 'nextto': 'locations',
 'of': 'locations',
 'off': 'locations',
 'on': 'locations',
 'ontopof': 'locations',
 'out': 'locations',
 'over': 'locations',
 'there': 'locations',
 'to': 'locations',
 'under': 'locations',
 'up': 'locations',
 'with': 'locations',
 'a': 'quantifiers',
 'all': 'quantifiers',
 'alot': 'quantifiers',
 'an': 'quantifiers',
 'another': 'quantifiers',
 'any': 'quantifiers',
 'each': 'quantifiers',
 'every': 'quantifiers',
 'more': 'quantifiers',
 'much': 'quantifiers',
 'none': 'quantifiers',
 'not': 'quantifiers',
 'other': 'quantifiers',
 'same': 'quantifiers',
 'some': 'quantifiers',
 'the': 'quantifiers',
 'too': 'quantifiers',
 'am': 'helping_verbs',
 'are': 'helping_verbs',
 'be': 'helping_verbs',
 'can(auxiliary)': 'helping_verbs',
 'could': 'helping_verbs',
 'did': 'helping_verbs',
 'do': 'helping_verbs',
 'does': 'helping_verbs',
 "don't": 'helping_verbs',
 'gonna': 'helping_verbs',
 'gotta': 'helping_verbs',
 'hafta': 'helping_verbs',
 'is': 'helping_verbs',
 'lemme': 'helping_verbs',
 'need': 'helping_verbs',
 'try': 'helping_verbs',
 'wanna': 'helping_verbs',
 'was': 'helping_verbs',
 'were': 'helping_verbs',
 'will': 'helping_verbs',
 'would': 'helping_verbs',
 'and': 'connecting_words',
 'because': 'connecting_words',
 'but': 'connecting_words',
 'if': 'connecting_words',
 'so': 'connecting_words',
 'then': 'connecting_words'}

In [92]:
def m(x):
    if x in d:
        return d[x]
    else:
        return ""
    
# df_mean["category"] = df_mean.level_0.apply(lambda x: m(x))

In [94]:
# df_mean.sort_values(["category","level_0"]).to_csv("production_rate(5 languages).csv", index=False)

In [103]:
# ## manual work again
df_mean = pd.read_csv("production_rate(5 languages).csv")
# # make a dictionary because we are going to merge same items
# d = dict(zip(df_mean.index,df_mean.category))
# df_mean = df_mean.groupby("index").agg(np.mean)
# df_mean = df_mean.transpose().sort_index().reset_index()
# df_mean = df_mean.groupby("index").agg(np.mean)
# df_mean = df_mean.reset_index()
# df_mean["category"] = df_mean["index"].apply(lambda x: m(x))
# df_mean = df_mean.sort_values(["category","index"])
# df_mean = df_mean.set_index("index")
df_mean = df_mean.round(2)
df_mean

,word,category,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,...,age_34,age_35,age_36,age_40,age_41,age_42,age_43,age_45,age_47,age_48
0,bite,action_words,0.00,0.08,0.12,0.00,0.00,0.39,0.22,0.31,...,0.60,0.75,0.52,0.33,0.0,0.88,1.0,1.0,1.0,0.77
1,blow,action_words,0.00,0.01,0.02,0.00,0.03,0.06,0.06,0.06,...,0.10,0.08,0.12,0.67,0.0,0.68,1.0,1.0,1.0,0.69
2,break,action_words,0.00,0.05,0.01,0.00,0.01,0.11,0.18,0.12,...,0.64,0.13,0.19,0.67,0.0,0.86,1.0,0.5,1.0,0.82
3,bring,action_words,0.00,0.08,0.03,0.00,0.00,0.08,0.09,0.07,...,0.10,0.25,0.38,0.67,0.0,0.84,1.0,1.0,1.0,0.67
4,build,action_words,0.00,0.00,0.00,0.00,0.00,0.10,0.12,0.14,...,0.10,0.50,0.35,0.33,0.0,0.82,1.0,0.5,1.0,0.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,stroller,vehicles,0.00,0.00,0.00,0.00,0.25,0.17,0.22,0.43,...,0.80,0.50,0.40,0.33,0.0,0.63,0.5,0.5,1.0,0.59
671,tractor,vehicles,0.25,0.54,0.25,0.50,0.16,0.20,0.25,0.50,...,0.67,0.44,0.81,1.00,0.0,0.72,1.0,0.0,1.0,0.43
672,train,vehicles,0.50,0.33,0.18,0.50,0.25,0.57,0.50,0.51,...,0.90,1.00,0.93,1.00,0.0,0.99,1.0,1.0,1.0,0.98
673,tricycle,vehicles,0.00,0.00,0.00,0.25,0.25,0.12,0.03,0.04,...,0.60,0.00,0.28,0.33,0.0,0.22,0.5,0.5,0.0,0.43
674,truck,vehicles,0.50,0.33,0.18,0.25,0.57,0.55,0.53,0.62,...,1.00,1.00,0.89,1.00,0.0,0.76,0.5,0.5,1.0,0.86

In [104]:
df_mean.to_csv("production_rate(5 languages).csv")