## process all data seperately

In [75]:
import pandas as pd

/opt/homebrew/anaconda3/envs/biling/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [76]:
spanish_hdpm = pd.read_csv("spanish/paper/by_word_by_age(HDPM).csv")
spanish_r01 = pd.read_csv("spanish/paper/by_word_by_age(R01).csv")
spanish = pd.merge(spanish_hdpm, spanish_r01,on="Unnamed: 0", how="inner")
spanish

,Unnamed: 0,age_22,age_25,age_30,age_36.0,age_42.0,age_48.0
0,child,"['HDPM052', 'HDPM054', 'HDPM056', 'HDPM057', '...","['HDPM052', 'HDPM054', 'HDPM056', 'HDPM057', '...","['HDPM051', 'HDPM052', 'HDPM054', 'HDPM056', '...","['R01ED400', 'R01ED402', 'R01ED403', 'R01ED408...","['R01ED400', 'R01ED402', 'R01ED403', 'R01ED408...","['R01ED400', 'R01ED402', 'R01ED403', 'R01ED408..."
1,baa baa,0.77,0.75,0.77,0.69,0.69,0.69
2,choo choo,0.98,0.98,0.98,0.82,0.82,0.82
3,cockadoodledoo,0.53,0.53,0.54,0.52,0.52,0.52
4,grr,0.83,0.8,0.83,0.76,0.76,0.76
...,...,...,...,...,...,...,...
566,shoeses,0.04,0.04,0.04,0.06,0.06,0.06
567,sockses,0.06,0.06,0.06,0.05,0.05,0.05
568,teeths,0.13,0.12,0.12,0.16,0.16,0.16
569,toeses,0.02,0.02,0.02,0.02,0.02,0.02
570,tooths,0.04,0.06,0.04,0.1,0.1,0.1

In [77]:
spanish = spanish[1:]
item = [i.replace(".0","").replace("\n","").replace(" ","") for i in spanish.pop("Unnamed: 0")]
spanish.insert(0, "item", item)
spanish.columns = [i.replace(".0","") for i in list(spanish.columns)]
spanish = spanish.set_index(spanish.item)
spanish = spanish.transpose()[1:].transpose()
spanish = spanish.astype(float).drop_duplicates()
spanish

/opt/homebrew/anaconda3/envs/biling/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

                age_22  age_25  age_30  age_36  age_42  age_48
item
baabaa            0.77    0.75    0.77    0.69    0.69    0.69
choochoo          0.98    0.98    0.98    0.82    0.82    0.82
cockadoodledoo    0.53    0.53    0.54    0.52    0.52    0.52
grr               0.83    0.80    0.83    0.76    0.76    0.76
meow              0.96    0.94    0.96    0.87    0.87    0.87
...                ...     ...     ...     ...     ...     ...
shoeses           0.04    0.04    0.04    0.06    0.06    0.06
sockses           0.06    0.06    0.06    0.05    0.05    0.05
teeths            0.13    0.12    0.12    0.16    0.16    0.16
toeses            0.02    0.02    0.02    0.02    0.02    0.02
tooths            0.04    0.06    0.04    0.10    0.10    0.10

[531 rows x 6 columns]

In [78]:
irish = pd.read_csv("irish/paper_data/english_in_irish.csv")

irish = irish[2:627]
item = [i.replace(".0","").replace("\n","").replace(" ","")  for i in irish.pop("Unnamed: 0")]
irish.insert(0, "item", item)
irish = irish.set_index(irish.item)
irish = irish.transpose()[1:].transpose()
irish = irish.astype(float).drop_duplicates()
irish

/opt/homebrew/anaconda3/envs/biling/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,age_27,age_28,age_29,age_30,age_31,age_32,age_33,age_34,age_35,age_36
item,,,,,,,,,,,,,,,,,,,,
ahah,1.0,0.0,0.5,1.0,0.33,0.75,1.00,1.00,1.00,0.9,1.0,1.00,0.75,1.00,0.88,1.00,1.0,1.00,1.00,0.8
baabaa,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00,0.88,1.00,1.0,1.00,1.00,0.8
bowwow,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.00,1.00,0.9,1.0,0.86,0.75,1.00,1.00,1.00,1.0,1.00,1.00,0.8
choochoo,0.5,0.0,1.0,0.0,0.67,0.25,0.75,1.00,0.83,1.0,1.0,1.00,1.00,0.89,1.00,1.00,1.0,1.00,0.91,0.8
cockadoodledoo,0.5,0.0,1.0,1.0,0.33,0.50,0.50,0.75,0.67,0.8,0.6,0.86,1.00,0.89,0.75,1.00,1.0,0.50,1.00,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
dá,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.25,0.17,0.0,0.0,0.00,0.00,0.33,0.12,0.00,0.4,0.50,0.36,0.0
mar,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.25,0.17,0.2,0.0,0.00,0.25,0.56,0.00,0.25,0.4,0.50,0.64,0.4
because,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.25,0.22,0.12,0.75,0.8,0.50,0.36,0.4
huair,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.25,0.17,0.0,0.0,0.00,0.00,0.33,0.00,0.75,1.0,0.50,0.64,0.4
when,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.25,0.11,0.00,0.75,0.6,0.25,0.18,0.0

In [79]:
hebrew = pd.read_csv("hebrew/paper_data/by_word_by_month.csv")
hebrew

/opt/homebrew/anaconda3/envs/biling/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,Unnamed: 0,age_24,age_26,age_28,age_29,age_30,age_31,age_32,age_34,age_35,age_36,age_40,age_41,age_42,age_43,age_45,age_47
0,Child,"['Child1', 'Child3', 'Child4']","['Child2', 'Child10']",['Child28'],['Child9'],['Child26'],"['Child18', 'Child34', 'Child35']","['Child11', 'Child12', 'Child13', 'Child19', '...","['Child7', 'Child8', 'Child15', 'Child20', 'Ch...","['Child22', 'Child37']","['Child5', 'Child6', 'Child14', 'Child16', 'Ch...","['Child25', 'Child29', 'Child40']",['Child30'],"['Child21', 'Child23', 'Child32']","['Child33', 'Child39']","['Child27', 'Child36']",['Child31']
1,baa baa,1.0,0.5,1.0,1.0,1.0,0.67,0.4,0.4,1.0,0.8,1.0,1.0,0.0,0.5,1.0,1.0
2,choo choo,0.67,0.5,1.0,1.0,0.0,0.67,0.4,0.2,1.0,0.8,0.67,1.0,0.33,1.0,1.0,0.0
3,cockadoodledoo,0.33,0.0,1.0,1.0,0.0,0.0,0.2,0.4,0.0,0.8,0.33,1.0,0.33,1.0,0.0,1.0
4,grrr,0.33,0.0,1.0,0.0,0.0,1.0,0.2,0.4,1.0,0.8,0.67,1.0,0.33,1.0,0.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483,taste,0.0,0.0,1.0,0.0,0.0,0.0,0.2,0.2,1.0,0.6,0.67,0.0,1.0,0.5,0.5,1.0
484,tear,0.0,0.0,1.0,0.0,0.0,0.0,0.2,0.0,0.5,0.4,0.33,0.0,0.33,0.5,0.0,1.0
485,think,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.5,0.4,0.33,0.0,0.33,0.5,0.5,1.0
486,throw,0.0,0.5,1.0,0.0,0.0,0.67,0.6,0.2,1.0,0.6,0.67,0.0,0.67,0.5,0.5,1.0
487,number of subjects,3,2,1,1,1,3,5,5,2,5,3,1,3,2,2,1

In [80]:
hebrew = hebrew[1:487]
item = [i.replace(" ","").replace("\n","").replace(" ","")  for i in hebrew.pop("Unnamed: 0")]
hebrew.insert(0, "item", item)
hebrew = hebrew.set_index(hebrew.item)
hebrew = hebrew.transpose()[1:].transpose()
hebrew = hebrew.astype(float).drop_duplicates()
hebrew

/opt/homebrew/anaconda3/envs/biling/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,age_24,age_26,age_28,age_29,age_30,age_31,age_32,age_34,age_35,age_36,age_40,age_41,age_42,age_43,age_45,age_47
item,,,,,,,,,,,,,,,,
baabaa,1.00,0.5,1.0,1.0,1.0,0.67,0.4,0.4,1.0,0.8,1.00,1.0,0.00,0.5,1.0,1.0
choochoo,0.67,0.5,1.0,1.0,0.0,0.67,0.4,0.2,1.0,0.8,0.67,1.0,0.33,1.0,1.0,0.0
cockadoodledoo,0.33,0.0,1.0,1.0,0.0,0.00,0.2,0.4,0.0,0.8,0.33,1.0,0.33,1.0,0.0,1.0
grrr,0.33,0.0,1.0,0.0,0.0,1.00,0.2,0.4,1.0,0.8,0.67,1.0,0.33,1.0,0.5,1.0
meow,0.67,1.0,1.0,1.0,1.0,1.00,1.0,1.0,1.0,1.0,1.00,1.0,1.00,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
talk,0.00,0.0,1.0,0.0,1.0,0.67,0.4,0.6,1.0,0.6,0.33,0.0,1.00,0.5,0.5,1.0
taste,0.00,0.0,1.0,0.0,0.0,0.00,0.2,0.2,1.0,0.6,0.67,0.0,1.00,0.5,0.5,1.0
tear,0.00,0.0,1.0,0.0,0.0,0.00,0.2,0.0,0.5,0.4,0.33,0.0,0.33,0.5,0.0,1.0
think,0.00,0.0,1.0,1.0,0.0,0.00,0.0,0.0,0.5,0.4,0.33,0.0,0.33,0.5,0.5,1.0
throw,0.00,0.5,1.0,0.0,0.0,0.67,0.6,0.2,1.0,0.6,0.67,0.0,0.67,0.5,0.5,1.0

In [81]:
french_wave2 = pd.read_csv("french/paper_data/by_word_by_age(wave2).csv")
french_wave3 = pd.read_csv("french/paper_data/by_word_by_age(wave3).csv")
french = pd.concat([french_wave2.transpose(),french_wave3.transpose()])
french = french.transpose()[2:].transpose()[1:].transpose()
french

/opt/homebrew/anaconda3/envs/biling/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,age_21,age_22,age_23,age_24,age_25,age_26,Unnamed: 0,age_28,age_29,age_30,age_31,age_32
2,1.0,0.25,0.5,0.76,0.64,0.0,baa baa,1.0,0.4,0.67,0.69,0.92
3,1.0,0.0,0.81,0.76,0.73,0.0,choo choo,1.0,0.8,0.87,0.94,0.85
4,0.0,0.0,0.25,0.29,0.18,0.0,cockadoodledoo,0.5,0.4,0.47,0.5,0.54
5,0.5,0.25,0.56,0.76,0.82,1.0,grr,0.5,0.2,0.87,0.88,0.77
6,1.0,0.5,0.81,0.65,0.82,0.0,meow,1.0,0.6,0.87,0.94,0.77
...,...,...,...,...,...,...,...,...,...,...,...,...
677,0.0,0.0,0.06,0.06,0.09,0.0,because,0.0,0.0,0.33,0.31,0.38
678,0.0,0.0,0.06,0.06,0.0,0.0,but,0.0,0.2,0.4,0.25,0.38
679,0.0,0.0,0.06,0.06,0.0,0.0,if,0.0,0.0,0.07,0.0,0.31
680,0.0,0.0,0.06,0.06,0.0,0.0,so,0.0,0.0,0.33,0.19,0.31
681,0.0,0.0,0.0,0.0,0.0,0.0,then,0.0,0.2,0.13,0.06,0.31

In [82]:
item = [i.replace(" ","").replace("\n","").replace(" ","")  for i in french.pop("Unnamed: 0")]
french.insert(0, "item", item)
french = french.set_index(french.item)
french = french.transpose()[1:].transpose().astype(float).drop_duplicates()
french

/opt/homebrew/anaconda3/envs/biling/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,age_21,age_22,age_23,age_24,age_25,age_26,age_28,age_29,age_30,age_31,age_32
item,,,,,,,,,,,
baabaa,1.0,0.25,0.50,0.76,0.64,0.0,1.0,0.4,0.67,0.69,0.92
choochoo,1.0,0.00,0.81,0.76,0.73,0.0,1.0,0.8,0.87,0.94,0.85
cockadoodledoo,0.0,0.00,0.25,0.29,0.18,0.0,0.5,0.4,0.47,0.50,0.54
grr,0.5,0.25,0.56,0.76,0.82,1.0,0.5,0.2,0.87,0.88,0.77
meow,1.0,0.50,0.81,0.65,0.82,0.0,1.0,0.6,0.87,0.94,0.77
...,...,...,...,...,...,...,...,...,...,...,...
because,0.0,0.00,0.06,0.06,0.09,0.0,0.0,0.0,0.33,0.31,0.38
but,0.0,0.00,0.06,0.06,0.00,0.0,0.0,0.2,0.40,0.25,0.38
if,0.0,0.00,0.06,0.06,0.00,0.0,0.0,0.0,0.07,0.00,0.31
so,0.0,0.00,0.06,0.06,0.00,0.0,0.0,0.0,0.33,0.19,0.31
then,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.2,0.13,0.06,0.31

In [83]:
# def to_list(x):
#     return [[i] for i in x]

# french = french.apply(to_list)
# spanish = spanish.apply(to_list)
# irish = irish.apply(to_list)
# hebrew = hebrew.apply(to_list)

/opt/homebrew/anaconda3/envs/biling/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [84]:
irish

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,age_27,age_28,age_29,age_30,age_31,age_32,age_33,age_34,age_35,age_36
item,,,,,,,,,,,,,,,,,,,,
ahah,1.0,0.0,0.5,1.0,0.33,0.75,1.00,1.00,1.00,0.9,1.0,1.00,0.75,1.00,0.88,1.00,1.0,1.00,1.00,0.8
baabaa,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00,0.88,1.00,1.0,1.00,1.00,0.8
bowwow,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.00,1.00,0.9,1.0,0.86,0.75,1.00,1.00,1.00,1.0,1.00,1.00,0.8
choochoo,0.5,0.0,1.0,0.0,0.67,0.25,0.75,1.00,0.83,1.0,1.0,1.00,1.00,0.89,1.00,1.00,1.0,1.00,0.91,0.8
cockadoodledoo,0.5,0.0,1.0,1.0,0.33,0.50,0.50,0.75,0.67,0.8,0.6,0.86,1.00,0.89,0.75,1.00,1.0,0.50,1.00,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
dá,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.25,0.17,0.0,0.0,0.00,0.00,0.33,0.12,0.00,0.4,0.50,0.36,0.0
mar,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.25,0.17,0.2,0.0,0.00,0.25,0.56,0.00,0.25,0.4,0.50,0.64,0.4
because,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.25,0.22,0.12,0.75,0.8,0.50,0.36,0.4
huair,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.25,0.17,0.0,0.0,0.00,0.00,0.33,0.00,0.75,1.0,0.50,0.64,0.4
when,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.00,0.25,0.11,0.00,0.75,0.6,0.25,0.18,0.0

In [85]:
def add_lang(lang,df):
    df["lang"] = [lang]*len(df)
    
    return df.reset_index()

french = add_lang("french",french)
hebrew = add_lang("hebrew",hebrew)
spanish = add_lang("spanish",spanish)
irish = add_lang("irish",irish)

/opt/homebrew/anaconda3/envs/biling/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [86]:
hebrew

,item,age_24,age_26,age_28,age_29,age_30,age_31,age_32,age_34,age_35,age_36,age_40,age_41,age_42,age_43,age_45,age_47,lang
0,baabaa,1.00,0.5,1.0,1.0,1.0,0.67,0.4,0.4,1.0,0.8,1.00,1.0,0.00,0.5,1.0,1.0,hebrew
1,choochoo,0.67,0.5,1.0,1.0,0.0,0.67,0.4,0.2,1.0,0.8,0.67,1.0,0.33,1.0,1.0,0.0,hebrew
2,cockadoodledoo,0.33,0.0,1.0,1.0,0.0,0.00,0.2,0.4,0.0,0.8,0.33,1.0,0.33,1.0,0.0,1.0,hebrew
3,grrr,0.33,0.0,1.0,0.0,0.0,1.00,0.2,0.4,1.0,0.8,0.67,1.0,0.33,1.0,0.5,1.0,hebrew
4,meow,0.67,1.0,1.0,1.0,1.0,1.00,1.0,1.0,1.0,1.0,1.00,1.0,1.00,1.0,1.0,1.0,hebrew
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,talk,0.00,0.0,1.0,0.0,1.0,0.67,0.4,0.6,1.0,0.6,0.33,0.0,1.00,0.5,0.5,1.0,hebrew
467,taste,0.00,0.0,1.0,0.0,0.0,0.00,0.2,0.2,1.0,0.6,0.67,0.0,1.00,0.5,0.5,1.0,hebrew
468,tear,0.00,0.0,1.0,0.0,0.0,0.00,0.2,0.0,0.5,0.4,0.33,0.0,0.33,0.5,0.0,1.0,hebrew
469,think,0.00,0.0,1.0,1.0,0.0,0.00,0.0,0.0,0.5,0.4,0.33,0.0,0.33,0.5,0.5,1.0,hebrew
470,throw,0.00,0.5,1.0,0.0,0.0,0.67,0.6,0.2,1.0,0.6,0.67,0.0,0.67,0.5,0.5,1.0,hebrew

## merge into one dataframe and get the mean

In [91]:
import string
df_all = pd.concat([hebrew,irish,spanish,french],ignore_index=True)
df_all = df_all.reindex(sorted(df_all.columns), axis=1).dropna(how="all")
df_all.item = df_all.item.apply(lambda x: x.translate(str.maketrans('', '', string.punctuation)))
df_all

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,...,age_36,age_40,age_41,age_42,age_43,age_45,age_47,age_48,item,lang
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,NaN,0.5,...,0.8,1.00,1.0,0.00,0.5,1.0,1.0,NaN,baabaa,hebrew
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.67,NaN,0.5,...,0.8,0.67,1.0,0.33,1.0,1.0,0.0,NaN,choochoo,hebrew
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.33,NaN,0.0,...,0.8,0.33,1.0,0.33,1.0,0.0,1.0,NaN,cockadoodledoo,hebrew
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.33,NaN,0.0,...,0.8,0.67,1.0,0.33,1.0,0.5,1.0,NaN,grrr,hebrew
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.67,NaN,1.0,...,1.0,1.00,1.0,1.00,1.0,1.0,1.0,NaN,meow,hebrew
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2297,NaN,NaN,NaN,NaN,0.0,0.0,0.06,0.06,0.09,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,because,french
2298,NaN,NaN,NaN,NaN,0.0,0.0,0.06,0.06,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,but,french
2299,NaN,NaN,NaN,NaN,0.0,0.0,0.06,0.06,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,if,french
2300,NaN,NaN,NaN,NaN,0.0,0.0,0.06,0.06,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,so,french
2301,NaN,NaN,NaN,NaN,0.0,0.0,0.00,0.00,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,then,french

In [98]:
import numpy as np
df_mean = df_all.groupby("item").agg(np.mean)
df_mean = df_mean.sort_index(key=lambda x: x.str.lower())
df_mean

/opt/homebrew/anaconda3/envs/biling/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,...,age_34,age_35,age_36,age_40,age_41,age_42,age_43,age_45,age_47,age_48
item,,,,,,,,,,,,,,,,,,,,,
a,0.0,0.0,0.0,0.0,0.000,0.125000,0.125,0.185000,0.175000,0.000000,...,0.000,0.55,0.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
about,NaN,NaN,NaN,NaN,0.000,0.045000,0.060,0.000000,0.050000,0.000000,...,NaN,NaN,0.430000,NaN,NaN,0.430,NaN,NaN,NaN,0.43
above,NaN,NaN,NaN,NaN,0.000,0.000000,0.060,0.000000,0.090000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
across,0.0,0.0,0.0,0.0,0.000,0.000000,0.000,0.000000,0.000000,0.000000,...,0.000,0.27,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aeroplane,0.0,0.0,0.0,0.0,0.000,0.000000,0.250,0.500000,0.170000,0.200000,...,0.330,0.45,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yucky,0.0,0.0,0.0,0.0,0.165,0.283333,0.315,0.640000,0.463333,0.200000,...,0.250,0.73,0.765000,NaN,NaN,0.730,NaN,NaN,NaN,0.73
yumyum,1.0,1.0,1.0,1.0,0.585,0.520000,0.780,0.613333,0.866667,0.500000,...,0.800,1.00,0.736667,0.67,0.0,0.570,0.5,1.0,1.0,0.81
zebra,0.0,0.0,0.0,0.0,0.000,0.176667,0.095,0.310000,0.406667,0.266667,...,0.325,0.68,0.896667,0.67,0.0,0.945,0.5,1.0,1.0,0.89
zipper,NaN,NaN,NaN,NaN,0.000,0.305000,0.310,0.120000,0.375000,0.250000,...,0.400,1.00,0.545000,0.67,0.0,0.845,0.5,1.0,1.0,0.69
zoo,0.0,0.0,0.0,0.0,0.000,0.126667,0.060,0.206667,0.190000,0.200000,...,0.100,0.59,0.743333,0.67,0.0,0.915,1.0,0.5,1.0,0.83

## sanity check

In [95]:
df_mean.transpose()["wannawantto"]

/opt/homebrew/anaconda3/envs/biling/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

age_17      NaN
age_18      NaN
age_19      NaN
age_20      NaN
age_21    0.000
age_22    0.405
age_23    0.120
age_24    0.240
age_25    0.500
age_26    0.000
age_27      NaN
age_28    0.000
age_29    0.400
age_30    0.640
age_31    0.620
age_32    0.850
age_33      NaN
age_34      NaN
age_35      NaN
age_36    0.850
age_40      NaN
age_41      NaN
age_42    0.850
age_43      NaN
age_45      NaN
age_47      NaN
age_48    0.850
Name: wannawantto, dtype: float64

In [94]:
df_all[df_all.item.str.contains("wanna")]

/opt/homebrew/anaconda3/envs/biling/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,...,age_36,age_40,age_41,age_42,age_43,age_45,age_47,age_48,item,lang
1600,NaN,NaN,NaN,NaN,NaN,0.81,NaN,NaN,0.82,NaN,...,0.85,NaN,NaN,0.85,NaN,NaN,NaN,0.85,wannawantto,spanish
2291,NaN,NaN,NaN,NaN,0.0,0.00,0.12,0.24,0.18,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wannawantto,french

In [100]:
df_mean.to_csv("production_rate(4 languages).csv")

In [116]:
## manual check and remerge
df_mean = pd.read_csv("production_rate(4 languages).csv")
df_mean = df_mean.groupby("item").agg(np.mean)
df_mean

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,...,age_34,age_35,age_36,age_40,age_41,age_42,age_43,age_45,age_47,age_48
item,,,,,,,,,,,,,,,,,,,,,
I,NaN,NaN,NaN,NaN,0.000,0.000000,0.250,0.120000,0.270000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TV,NaN,NaN,NaN,NaN,0.000,0.530000,0.380,0.660000,0.730000,0.500000,...,0.200,1.00,0.675000,0.33,0.0,0.475,0.5,0.5,0.0,0.95
a,0.0,0.0,0.0,0.0,0.000,0.125000,0.125,0.185000,0.175000,0.000000,...,0.000,0.55,0.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
about,NaN,NaN,NaN,NaN,0.000,0.045000,0.060,0.000000,0.050000,0.000000,...,NaN,NaN,0.430000,NaN,NaN,0.430,NaN,NaN,NaN,0.43
above,NaN,NaN,NaN,NaN,0.000,0.000000,0.060,0.000000,0.090000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yucky,0.0,0.0,0.0,0.0,0.165,0.283333,0.315,0.640000,0.463333,0.200000,...,0.250,0.73,0.765000,NaN,NaN,0.730,NaN,NaN,NaN,0.73
yumyum,1.0,1.0,1.0,1.0,0.585,0.520000,0.780,0.613333,0.866667,0.500000,...,0.800,1.00,0.736667,0.67,0.0,0.570,0.5,1.0,1.0,0.81
zebra,0.0,0.0,0.0,0.0,0.000,0.176667,0.095,0.310000,0.406667,0.266667,...,0.325,0.68,0.896667,0.67,0.0,0.945,0.5,1.0,1.0,0.89
zipper,NaN,NaN,NaN,NaN,0.000,0.305000,0.310,0.120000,0.375000,0.250000,...,0.400,1.00,0.545000,0.67,0.0,0.845,0.5,1.0,1.0,0.69
zoo,0.0,0.0,0.0,0.0,0.000,0.126667,0.060,0.206667,0.190000,0.200000,...,0.100,0.59,0.743333,0.67,0.0,0.915,1.0,0.5,1.0,0.83

In [118]:
df_mean.round(2).to_csv("production_rate(4 languages).csv")