In [1]:
import pandas as pd
import numpy as np

## Spanish-English
https://sci-hub.do/10.1016/j.jecp.2010.07.011

In [163]:
spanish_hdpm = pd.read_csv("spanish/paper/by_word_by_age(HDPM).csv")
spanish_r01 = pd.read_csv("spanish/paper/by_word_by_age(R01).csv")
spanish_subject_r01 = pd.read_csv("spanish/paper/individual_info_R01.csv")
spanish_subject_hdpm = pd.read_csv("spanish/paper/individual_info(HDPM).csv")

spanish_subject = pd.concat([spanish_subject_hdpm,spanish_subject_r01])
# spanish_subject = spanish_subject.drop(["Unnamed: 0"],axis=1)
# spanish_subject.to_csv("spanish/paper/individual_info(HDPM).csv", index=False)
spanish_subject = spanish_subject.transpose()[:4].transpose()
spanish_subject
# The participants were 41 Spanish–English bilingually developing children (21 boys and 20 girls)
# who were born in the United States and were living in South Florida. According to parental reports,
# they had been exposed to both English and Spanish since birth, and the less frequently heard language
# constituted at least 10% of their input. The balance of language exposure ranged from 10% English and
# 90% Spanish to 90% English and 10% Spanish, with an average home language input of 49.9%
# (SD = 29.1). All children were described by their parents as learning both languages, and all children
# were producing words in both languages at 22 months of age

          child Country Daycare language   age
0       HDPM051    U.S.               UK  30.0
1       HDPM052    U.S.               UK  30.0
2       HDPM054    U.S.               UK  30.0
3       HDPM056    U.S.               UK  30.0
4       HDPM057    U.S.               UK  30.0
..          ...     ...              ...   ...
371  R2130Mo139     NaN              NaN  36.0
372  R2130Mo141     NaN              NaN  36.0
373  R2130Mo143     NaN              NaN  36.0
374  R2130Mo144     NaN              NaN  36.0
375  R2130Mo145     NaN              NaN  36.0

[522 rows x 4 columns]

In [164]:
## there's more information
r01 = pd.read_excel("spanish/raw/Participant information Hoff & Core R01 datafile.xlsx")
hdpm = pd.read_excel("spanish/raw/Participant information Hoff & Core HDPM data file at 30 months.xlsx")
additional_information = pd.concat([r01,hdpm])
additional_information = additional_information[["Participant_ID","Input_percent_Eng_home_30","Input_percent_Eng_home_36","Input_percent_Eng_home_42","Input_percent_Eng_home_48"]]
child = additional_information.pop("Participant_ID")
additional_information.insert(0,"child",child)
additional_information

,child,Input_percent_Eng_home_30,Input_percent_Eng_home_36,Input_percent_Eng_home_42,Input_percent_Eng_home_48
0,R01ED001,100.0,100.0,100.0,100.0
1,R01ED002,100.0,100.0,100.0,100.0
2,R01ED003,100.0,100.0,100.0,100.0
3,R01ED004,100.0,-997.0,-997.0,-997.0
4,R01ED005,100.0,96.0,100.0,98.0
...,...,...,...,...,...
128,HDPM141,NaN,NaN,NaN,NaN
129,HDPM151,NaN,NaN,NaN,NaN
130,HDPM153,NaN,NaN,NaN,NaN
131,HDPM156,100.0,NaN,NaN,NaN
132,HDPM157,NaN,NaN,NaN,NaN

In [165]:
spanish_subject = pd.merge(spanish_subject, additional_information, how="inner",on=["child"])
spanish_subject

,child,Country,Daycare language,age,Input_percent_Eng_home_30,Input_percent_Eng_home_36,Input_percent_Eng_home_42,Input_percent_Eng_home_48
0,HDPM051,U.S.,UK,30.0,70.0,NaN,NaN,NaN
1,HDPM052,U.S.,UK,30.0,50.0,NaN,NaN,NaN
2,HDPM052,U.S.,UK,22.0,50.0,NaN,NaN,NaN
3,HDPM052,U.S.,UK,25.0,50.0,NaN,NaN,NaN
4,HDPM054,U.S.,UK,30.0,80.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
514,R2130Mo144,NaN,NaN,36.0,20.0,20.0,10.0,10.0
515,R2130Mo145,NaN,NaN,48.0,0.0,0.0,0.0,5.0
516,R2130Mo145,NaN,NaN,42.0,0.0,0.0,0.0,5.0
517,R2130Mo145,NaN,NaN,30.0,0.0,0.0,0.0,5.0
518,R2130Mo145,NaN,NaN,36.0,0.0,0.0,0.0,5.0

In [9]:
spanish_subject.insert(1,"Country",["U.S."]*146)
spanish_subject

,child,Country,age,baa baa,choo choo,cockadoodledoo,grr,meow,moo,ouch,...,foots,mans,mens,mices,mouses,shoeses,sockses,teeths,toeses,tooths
0,HDPM051,U.S.,30,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0,1,0,0,1,0,0,0,0,0.0
1,HDPM052,U.S.,30,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1,0,0,0,1,1,1,1,1,1.0
2,HDPM054,U.S.,30,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0.0
3,HDPM056,U.S.,30,0.0,1.0,0.0,0.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0.0
4,HDPM057,U.S.,30,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,HDPM135,U.S.,25,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,1,0,0.0
142,HDPM136,U.S.,25,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0.0
143,HDPM137,U.S.,25,1.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0.0
144,HDPM138,U.S.,25,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1,0,0,0,0,0,0,0,0,0.0
145,HDPM140,U.S.,25,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0.0

In [10]:
## daycare language information not found 
spanish_subject.insert(2,"Daycare language",["UK"]*146)

In [14]:
spanish_subject.to_csv("spanish/paper/individual_info(HDPM).csv")

In [13]:
## number of unique subjects
len(spanish_subject.child.unique())

52

## Irish - English
https://www-tandfonline-com.ezp-prod1.hul.harvard.edu/doi/pdf/10.1080/13670050.2016.1179258?needAccess=true

In [45]:
irish = pd.read_csv("irish/paper_data/english_in_irish.csv")
irish_subject = pd.read_csv("irish/paper_data/individual_info.csv")

## country 
# The participants in this group were living in Irish-speaking communities in the
# west of Ireland, but most were also exposed to English from birth.
irish_subject.insert(1,"Country",["Ireland"]*99)
irish_subject

,CHILD,Country,SessionNo,age,gender,BirthOrder,MainCaregiverIrish,MainCaregiverEnglish,LanguageHousehold
0,101,Ireland,1,35,Boys,4,Always,Never/rarely,Mostly Irish
1,102,Ireland,1,19,girl,5,Always,Never/rarely,Mostly Irish
2,102,Ireland,2,26,girl,5,Always,Never/rarely,Mostly Irish
3,103,Ireland,1,34,girl,2,Always,Never/rarely,Equal Irish and English
4,104,Ireland,1,30,Boys,1,Always,Never/rarely,Mostly Irish
...,...,...,...,...,...,...,...,...,...
94,402,Ireland,1,36,girl,2,50:50,50:50,Equal Irish and English
95,501,Ireland,1,28,girl,1,Always,Never/rarely,Mostly English
96,503,Ireland,1,25,girl,2,Always,Never/rarely,Irish Only
97,504,Ireland,1,23,girl,3,Usually,Never/rarely,Irish Only
98,505,Ireland,1,24,girl,1,Always,Never/rarely,Equal Irish and English

In [46]:
# convert MainCaregiverIrish and MainCaregiverEnglish into 5-point scales
# proportionEnglish1 = MainCaregiverEnglish / (MainCaregiverEnglish + MainCaregiverIrish)
irish_subject.MainCaregiverIrish.unique()

array(['Always', 'sometimes', 'Never/rarely', 'Usually', '50:50'],
      dtype=object)

In [47]:
def map_irish_maincare(x):
    if x=='Always':
        return 5
    elif x=='Usually':
        return 4
    elif x=="50:50":
        return 3
    elif x=='sometimes':
        return 2
    elif x =='Never/rarely':
        return 1 
    else:
        return np.nan
    
irish_subject.MainCaregiverIrish = irish_subject.MainCaregiverIrish.apply(lambda x: map_irish_maincare(x))
irish_subject.MainCaregiverEnglish = irish_subject.MainCaregiverEnglish.apply(lambda x: map_irish_maincare(x))

In [48]:
irish_subject

,CHILD,Country,SessionNo,age,gender,BirthOrder,MainCaregiverIrish,MainCaregiverEnglish,LanguageHousehold
0,101,Ireland,1,35,Boys,4,5,1,Mostly Irish
1,102,Ireland,1,19,girl,5,5,1,Mostly Irish
2,102,Ireland,2,26,girl,5,5,1,Mostly Irish
3,103,Ireland,1,34,girl,2,5,1,Equal Irish and English
4,104,Ireland,1,30,Boys,1,5,1,Mostly Irish
...,...,...,...,...,...,...,...,...,...
94,402,Ireland,1,36,girl,2,3,3,Equal Irish and English
95,501,Ireland,1,28,girl,1,5,1,Mostly English
96,503,Ireland,1,25,girl,2,5,1,Irish Only
97,504,Ireland,1,23,girl,3,4,1,Irish Only
98,505,Ireland,1,24,girl,1,5,1,Equal Irish and English

In [49]:
irish_subject.LanguageHousehold.unique()

array(['Mostly Irish', 'Equal Irish and English', 'Mostly English',
       'Irish Only', 'English Only'], dtype=object)

In [50]:
# convert LanguageHousehold to a scale: EnglishOnly = 1, Mostly English = .75, Equal Irish & ENglish = .5, Mostly Irish = .25, Irish only = 0
# Average proportionEnglish1 and LanguageHousehold

def map_irish_household(x):
    if x =='Mostly Irish':
        return 0.25
    elif x =='Equal Irish and English':
        return 0.5
    elif x=='Mostly English':
        return 0.75
    elif x=='Irish Only':
        return 0
    elif x=='English Only':
        return 1
    else:
        return np.nan
    
irish_subject.LanguageHousehold = irish_subject.LanguageHousehold.map(lambda x: map_irish_household(x))
irish_subject

,CHILD,Country,SessionNo,age,gender,BirthOrder,MainCaregiverIrish,MainCaregiverEnglish,LanguageHousehold
0,101,Ireland,1,35,Boys,4,5,1,0.25
1,102,Ireland,1,19,girl,5,5,1,0.25
2,102,Ireland,2,26,girl,5,5,1,0.25
3,103,Ireland,1,34,girl,2,5,1,0.50
4,104,Ireland,1,30,Boys,1,5,1,0.25
...,...,...,...,...,...,...,...,...,...
94,402,Ireland,1,36,girl,2,3,3,0.50
95,501,Ireland,1,28,girl,1,5,1,0.75
96,503,Ireland,1,25,girl,2,5,1,0.00
97,504,Ireland,1,23,girl,3,4,1,0.00
98,505,Ireland,1,24,girl,1,5,1,0.50

In [51]:
## Average proportionEnglish1 (converted to scale 0-1) and LanguageHousehold
irish_subject["Proportion of time"] = ((irish_subject.MainCaregiverIrish/(irish_subject.MainCaregiverIrish+irish_subject.MainCaregiverEnglish))/5+irish_subject.LanguageHousehold)/2
irish_subject

,CHILD,Country,SessionNo,age,gender,BirthOrder,MainCaregiverIrish,MainCaregiverEnglish,LanguageHousehold,Proportion of time
0,101,Ireland,1,35,Boys,4,5,1,0.25,0.208333
1,102,Ireland,1,19,girl,5,5,1,0.25,0.208333
2,102,Ireland,2,26,girl,5,5,1,0.25,0.208333
3,103,Ireland,1,34,girl,2,5,1,0.50,0.333333
4,104,Ireland,1,30,Boys,1,5,1,0.25,0.208333
...,...,...,...,...,...,...,...,...,...,...
94,402,Ireland,1,36,girl,2,3,3,0.50,0.300000
95,501,Ireland,1,28,girl,1,5,1,0.75,0.458333
96,503,Ireland,1,25,girl,2,5,1,0.00,0.083333
97,504,Ireland,1,23,girl,3,4,1,0.00,0.080000
98,505,Ireland,1,24,girl,1,5,1,0.50,0.333333

### Daycare information
> For this response, most of the groups said that all of the children (100%) were usually or always
exposed to the L1, apart from three children in the Irish-English group who were never/rarely exposed 
to Irish (their Irish exposure came through preschool), four from the Turkish-German and five
from the English-Hebrew groups who were only sometimes exposed to the L1. For L2 exposure a more
mixed picture emerged, which is presented in Figure 2

No other information were given.

In [52]:
## daycare language information not found 
# irish_subject.insert(2,"Daycare language",["UK"]*99)
irish_subject.drop(["MainCaregiverIrish","MainCaregiverEnglish","LanguageHousehold","gender","BirthOrder"],axis=1)

    CHILD  Country  SessionNo  age  Proportion of time
0     101  Ireland          1   35            0.208333
1     102  Ireland          1   19            0.208333
2     102  Ireland          2   26            0.208333
3     103  Ireland          1   34            0.333333
4     104  Ireland          1   30            0.208333
..    ...      ...        ...  ...                 ...
94    402  Ireland          1   36            0.300000
95    501  Ireland          1   28            0.458333
96    503  Ireland          1   25            0.083333
97    504  Ireland          1   23            0.080000
98    505  Ireland          1   24            0.333333

[99 rows x 5 columns]

In [53]:
irish_subject.to_csv("irish_subject.csv",index=False)

## English - Hebrew
https://www-tandfonline-com.ezp-prod1.hul.harvard.edu/doi/pdf/10.1080/13670050.2016.1179257?needAccess=true

The present study explores the vocabulary development of bilingual
children when neither of their languages has a minority language status.
With both languages having high relative prestige, it is possible to
address the impact of exposure variables: age of onset, length of 
exposure, and frequency of exposure (FoE) to both languages.

In [117]:
hebrew = pd.read_csv("hebrew/paper_data/by_word_by_month.csv")
hebrew_subject = pd.read_csv("hebrew/paper_data/individual_info.csv")[:40]
def m_gender(x):
    if x==1:
        return "Female"
    elif x==2:
        return "Male"
    else:
        return ""

hebrew_subject.gender = hebrew_subject.gender.map(lambda x:m_gender(x))
session = hebrew_subject.pop("ageband")
hebrew_subject.insert(1,"session",session)
hebrew_subject

,ID,session,gender,age,Age of L1 exposure,Age of L2 exposure,FreqexposureL1,FreaexposureL2
0,Child1,2.0,Male,24,0,0.0,3.0,4.0
1,Child2,2.0,Female,26,0,0.0,4.0,4.0
2,Child3,2.0,Female,24,0,0.0,3.0,3.0
3,Child4,2.0,Female,24,0,0.0,2.0,4.0
4,Child5,3.0,Male,36,0,0.0,4.0,4.0
5,Child6,3.0,Male,36,0,6.0,3.0,3.0
6,Child7,3.0,Male,34,0,0.0,4.0,4.0
7,Child8,3.0,Female,34,0,0.0,4.0,4.0
8,Child9,2.0,Female,29,0,18.0,4.0,4.0
9,Child10,2.0,Female,26,0,0.0,3.0,3.0
10,Child11,3.0,Male,32,0,0.0,4.0,3.0
11,Child12,3.0,Male,32,0,0.0,3.0,4.0
12,Child13,3.0,Male,32,0,0.0,2.0,4.0
13,Child14,3.0,Male,36,0,0.0,2.0,4.0
14,Child15,3.0,Male,34,0,0.0,4.0,4.0
15,Child16,3.0,Male,36,0,0.0,4.0,2.0
16,Child17,3.0,Female,36,0,18.0,4.0,3.0
17,Child18,3.0,Male,31,0,3.0,2.0,3.0
18,Child19,3.0,Male,32,0,11.0,3.0,2.0
19,Child20,3.0,Male,34,0,0.0,4.0,4.0
20,Child21,4.0,Female,42,0,20.0,4.0,4.0
21,Child22,3.0,Male,35,0,28.0,3.0,2.0
22,Child23,4.0,Female,42,0,12.0,4.0,4.0
23,Child24,3.0,Male,32,0,2.0,4.0,4.0
24,Child25,4.0,Female,40,0,6.0,2.0,4.0
25,Child26,3.0,Female,30,0,0.0,4.0,4.0
26,Child27,4.0,Female,45,0,0.0,2.0,4.0
27,Child28,2.0,Female,28,0,2.0,4.0,3.0
28,Child29,4.0,Male,40,0,0.0,3.0,4.0
29,Child30,4.0,Male,41,0,0.0,3.0,4.0
30,Child31,4.0,Male,47,0,3.5,4.0,4.0
31,Child32,4.0,Male,42,0,2.0,4.0,4.0
32,Child33,4.0,Male,43,0,0.0,2.0,2.0
33,Child34,3.0,Female,31,0,13.5,4.0,4.0
34,Child35,3.0,Male,31,5,0.0,3.0,4.0
35,Child36,4.0,Female,45,0,3.0,4.0,4.0
36,Child37,3.0,Female,35,0,3.5,3.0,3.0
37,Child38,3.0,Male,34,0,7.0,4.0,4.0
38,Child39,4.0,Male,43,0,32.0,3.0,2.0
39,Child40,4.0,Female,40,0,16.0,3.0,3.0

In [118]:
hebrew_subject.columns = [i.replace("L1","English").replace("L2","Hebrew") for i in list(hebrew_subject.columns)]
hebrew_subject.session = hebrew_subject.session.astype(int)
hebrew_subject["Age of Hebrew exposure"] = hebrew_subject["Age of Hebrew exposure"].astype(int)
hebrew_subject

,ID,session,gender,age,Age of English exposure,Age of Hebrew exposure,FreqexposureEnglish,FreaexposureHebrew
0,Child1,2,Male,24,0,0,3.0,4.0
1,Child2,2,Female,26,0,0,4.0,4.0
2,Child3,2,Female,24,0,0,3.0,3.0
3,Child4,2,Female,24,0,0,2.0,4.0
4,Child5,3,Male,36,0,0,4.0,4.0
5,Child6,3,Male,36,0,6,3.0,3.0
6,Child7,3,Male,34,0,0,4.0,4.0
7,Child8,3,Female,34,0,0,4.0,4.0
8,Child9,2,Female,29,0,18,4.0,4.0
9,Child10,2,Female,26,0,0,3.0,3.0
10,Child11,3,Male,32,0,0,4.0,3.0
11,Child12,3,Male,32,0,0,3.0,4.0
12,Child13,3,Male,32,0,0,2.0,4.0
13,Child14,3,Male,36,0,0,2.0,4.0
14,Child15,3,Male,34,0,0,4.0,4.0
15,Child16,3,Male,36,0,0,4.0,2.0
16,Child17,3,Female,36,0,18,4.0,3.0
17,Child18,3,Male,31,0,3,2.0,3.0
18,Child19,3,Male,32,0,11,3.0,2.0
19,Child20,3,Male,34,0,0,4.0,4.0
20,Child21,4,Female,42,0,20,4.0,4.0
21,Child22,3,Male,35,0,28,3.0,2.0
22,Child23,4,Female,42,0,12,4.0,4.0
23,Child24,3,Male,32,0,2,4.0,4.0
24,Child25,4,Female,40,0,6,2.0,4.0
25,Child26,3,Female,30,0,0,4.0,4.0
26,Child27,4,Female,45,0,0,2.0,4.0
27,Child28,2,Female,28,0,2,4.0,3.0
28,Child29,4,Male,40,0,0,3.0,4.0
29,Child30,4,Male,41,0,0,3.0,4.0
30,Child31,4,Male,47,0,3,4.0,4.0
31,Child32,4,Male,42,0,2,4.0,4.0
32,Child33,4,Male,43,0,0,2.0,2.0
33,Child34,3,Female,31,0,13,4.0,4.0
34,Child35,3,Male,31,5,0,3.0,4.0
35,Child36,4,Female,45,0,3,4.0,4.0
36,Child37,3,Female,35,0,3,3.0,3.0
37,Child38,3,Male,34,0,7,4.0,4.0
38,Child39,4,Male,43,0,32,3.0,2.0
39,Child40,4,Female,40,0,16,3.0,3.0

In [119]:
## Hebrew: proportionL1 = Freqexposurel1 / (Freqexposurel1 + Freqexposurel2)
### converted 50 1-5 scale, normalized 
hebrew_subject["Proportion of time"] = ((hebrew_subject.FreqexposureEnglish+1)/5+(hebrew_subject.FreaexposureHebrew+1)/5)/2   
hebrew_subject = hebrew_subject.drop(["FreqexposureEnglish","FreaexposureHebrew"], axis=1)
hebrew_subject.insert(1,"Country",["Israel"]*40)
hebrew_subject

,ID,Country,session,gender,age,Age of English exposure,Age of Hebrew exposure,Proportion of time
0,Child1,Israel,2,Male,24,0,0,0.9
1,Child2,Israel,2,Female,26,0,0,1.0
2,Child3,Israel,2,Female,24,0,0,0.8
3,Child4,Israel,2,Female,24,0,0,0.8
4,Child5,Israel,3,Male,36,0,0,1.0
5,Child6,Israel,3,Male,36,0,6,0.8
6,Child7,Israel,3,Male,34,0,0,1.0
7,Child8,Israel,3,Female,34,0,0,1.0
8,Child9,Israel,2,Female,29,0,18,1.0
9,Child10,Israel,2,Female,26,0,0,0.8
10,Child11,Israel,3,Male,32,0,0,0.9
11,Child12,Israel,3,Male,32,0,0,0.9
12,Child13,Israel,3,Male,32,0,0,0.8
13,Child14,Israel,3,Male,36,0,0,0.8
14,Child15,Israel,3,Male,34,0,0,1.0
15,Child16,Israel,3,Male,36,0,0,0.8
16,Child17,Israel,3,Female,36,0,18,0.9
17,Child18,Israel,3,Male,31,0,3,0.7
18,Child19,Israel,3,Male,32,0,11,0.7
19,Child20,Israel,3,Male,34,0,0,1.0
20,Child21,Israel,4,Female,42,0,20,1.0
21,Child22,Israel,3,Male,35,0,28,0.7
22,Child23,Israel,4,Female,42,0,12,1.0
23,Child24,Israel,3,Male,32,0,2,1.0
24,Child25,Israel,4,Female,40,0,6,0.8
25,Child26,Israel,3,Female,30,0,0,1.0
26,Child27,Israel,4,Female,45,0,0,0.8
27,Child28,Israel,2,Female,28,0,2,0.9
28,Child29,Israel,4,Male,40,0,0,0.9
29,Child30,Israel,4,Male,41,0,0,0.9
30,Child31,Israel,4,Male,47,0,3,1.0
31,Child32,Israel,4,Male,42,0,2,1.0
32,Child33,Israel,4,Male,43,0,0,0.6
33,Child34,Israel,3,Female,31,0,13,1.0
34,Child35,Israel,3,Male,31,5,0,0.9
35,Child36,Israel,4,Female,45,0,3,1.0
36,Child37,Israel,3,Female,35,0,3,0.8
37,Child38,Israel,3,Male,34,0,7,1.0
38,Child39,Israel,4,Male,43,0,32,0.7
39,Child40,Israel,4,Female,40,0,16,0.8

In [120]:
hebrew_subject.to_csv("hebrew_info.csv", index=False)

## French-English
https://www-cambridge-org.ezp-prod1.hul.harvard.edu/core/journals/bilingualism-language-and-cognition/article/vocabulary-size-and-speed-of-word-recognition-in-very-young-frenchenglish-bilinguals-a-longitudinal-study/BB675BF2138A7FD87EEEF89318BE4A1C

In [24]:
french_wave1 = pd.read_csv("french/paper_data/by_word_by_age(wave1).csv")
french_wave2 = pd.read_csv("french/paper_data/by_word_by_age(wave2).csv")
french_wave3 = pd.read_csv("french/paper_data/by_word_by_age(wave3).csv")
french = pd.concat([french_wave1, french_wave2,french_wave3],axis=1)

french_wave1_subject = pd.read_csv("french/paper_data/individual_info(wave1).csv")
french_wave2_subject = pd.read_csv("french/paper_data/individual_info(wave2).csv")
french_wave3_subject = pd.read_csv("french/paper_data/individual_info(wave3).csv")
french_subject =  pd.concat([french_wave1_subject, french_wave2_subject,french_wave3_subject], axis=0)

In [25]:
french_subject = french_subject.transpose()[:2].transpose().dropna().astype(int)
french_subject

    Subject  Age at English Visit
0       401                    16
1       402                    17
2       404                    19
3       406                    17
4       408                    16
..      ...                   ...
46      465                    31
47      466                    32
48      467                    32
49      470                    30
51      471                    31

[164 rows x 2 columns]

### counrty
Bilingual participants were recruited through birth lists provided by a governmental health agency, and were from a large city in eastern Canada, whereas the monolingual participants were recruited through birth lists provided by the Canton of Geneva, Switzerland.

In [26]:
french_subject.insert(1,"Country",["Canada"]*164)

## Language exposure
Bilingual participants were required to be French–English bilinguals from birth, and needed to have at least 20% exposure to their second language (Wave 1: M = 37%, SD = 9%, Range = 20 – 49%; Wave 2: M = 35%, SD = 9%, Range = 21 – 50%). Exposure to a third language, if any, was below 10%.

In [27]:
french_subject.insert(1,"Proportion of time",["UK"]*164)
## nothing about daycare
french_subject.insert(1,"Daycare", ["UK"]*164)
# french_subject = french_subject.drop(["Language Grp","Age at English Visit","Age at French visit"],axis=1)
# french_subject = french_subject.transpose()[:8].transpose()

In [28]:
french_subject

    Subject Daycare Proportion of time Country  Age at English Visit
0       401      UK                 UK  Canada                    16
1       402      UK                 UK  Canada                    17
2       404      UK                 UK  Canada                    19
3       406      UK                 UK  Canada                    17
4       408      UK                 UK  Canada                    16
..      ...     ...                ...     ...                   ...
46      465      UK                 UK  Canada                    31
47      466      UK                 UK  Canada                    32
48      467      UK                 UK  Canada                    32
49      470      UK                 UK  Canada                    30
51      471      UK                 UK  Canada                    31

[164 rows x 5 columns]

In [29]:
french_subject.to_csv("french_info.csv",index=False)