In [168]:
import pandas as pd
import numpy as np

In [169]:
irish = pd.read_csv("irish/Irish_English.csv")
irish_data = pd.read_csv("irish/Irish_English_data.csv")

In [170]:
is_eng = []
for i,term in irish.iterrows():
    if term[5] == term[6]:
        is_eng.append(True)
    else:
        is_eng.append(False)

In [171]:
irish["is_eng"] = is_eng

In [172]:
english_terms = irish[irish["is_eng"] == True]
# english_terms
english_terms_id = english_terms["itemID"].to_list()
# english_terms_id

In [173]:
keep_columns = list(irish_data.columns)
keep_columns = keep_columns[:10]+english_terms_id+keep_columns[-5:]
# keep_columns

In [174]:
english_in_irish = irish_data[keep_columns]

In [175]:
eg = english_in_irish.groupby("SessionNo")
sessions = [eg.get_group(x) for x in eg.groups]

In [176]:
english_in_irish = english_in_irish.transpose()

In [177]:
sessions[0]

,CHILD,SessionNo,age,gender,BirthOrder,MainCaregiverIrish,MainCaregiverEnglish,LanguageHousehold,MotherEducationESS,FatherEducationESS,...,item_1349,item_1350,item_1351,item_1352,item_1353,TotIrish,TotEnglish,TotVocab,TotConcepVoc,ComplexityNew
0,101,1,35,Boys,4,Always,Never/rarely,Mostly Irish,3,2,...,0,1,0,1,0,579,204,783,624,40.92
1,102,1,19,girl,5,Always,Never/rarely,Mostly Irish,5,4,...,0,0,0,0,0,212,29,241,227,8.25
3,103,1,34,girl,2,Always,Never/rarely,Equal Irish and English,5,4,...,0,1,1,1,1,544,152,696,576,37.62
4,104,1,30,Boys,1,Always,Never/rarely,Mostly Irish,4,4,...,0,1,0,1,0,521,97,618,554,25.08
6,105,1,28,Boys,3,Always,Never/rarely,Equal Irish and English,2,4,...,0,0,0,0,0,312,69,381,355,9.90
9,106,1,30,Boys,1,Always,Never/rarely,Mostly Irish,5,1,...,0,1,0,0,0,481,50,531,506,34.98
11,107,1,17,Boys,2,Always,Never/rarely,Mostly Irish,2,5,...,0,0,0,0,0,44,13,57,44,0.00
15,108,1,21,girl,4,Always,Never/rarely,Mostly Irish,2,2,...,0,0,0,0,0,18,8,26,18,0.00
19,109,1,23,girl,3,Always,Never/rarely,Mostly Irish,2,4,...,0,0,0,0,0,19,6,25,20,0.00
22,111,1,24,Boys,1,Always,Never/rarely,Equal Irish and English,4,4,...,0,0,0,0,0,262,68,330,307,7.26
26,112,1,27,Boys,2,Always,Never/rarely,Mostly Irish,4,5,...,0,0,0,0,0,362,63,425,405,26.40
29,113,1,29,girl,3,Always,Never/rarely,Equal Irish and English,4,4,...,0,1,0,0,0,494,41,535,514,36.63
31,114,1,22,girl,1,Always,Never/rarely,Mostly English,4,4,...,0,0,0,0,0,166,47,213,192,0.00
35,115,1,26,girl,3,Always,Never/rarely,Mostly English,4,5,...,0,1,0,0,0,314,57,371,357,14.52
38,116,1,22,girl,3,Always,Never/rarely,Irish Only,4,4,...,0,0,0,0,0,66,7,73,68,0.00
40,117,1,21,girl,2,sometimes,Usually,Mostly English,4,-99,...,0,0,0,0,0,52,86,138,122,0.00
41,118,1,27,Boys,2,Always,Never/rarely,Equal Irish and English,3,1,...,0,0,0,0,0,218,118,336,305,0.00
44,119,1,20,girl,1,Always,Never/rarely,Irish Only,2,-99,...,0,0,0,0,0,146,41,187,171,0.00
47,203,1,28,girl,3,Always,Never/rarely,Mostly Irish,3,5,...,0,0,0,0,0,229,249,478,363,23.43
48,205,1,27,girl,1,sometimes,Usually,Mostly English,4,4,...,0,0,0,0,0,131,304,435,323,12.87
49,302,1,26,girl,1,Always,Never/rarely,Irish Only,4,5,...,0,0,0,0,0,250,50,300,280,28.71
50,303,1,26,Boys,2,Always,Never/rarely,Irish Only,4,4,...,0,0,0,0,0,230,49,279,260,20.79
55,305,1,24,Boys,2,Always,Never/rarely,Mostly Irish,4,3,...,0,0,0,0,0,83,36,119,108,2.31
59,306,1,26,girl,2,Always,Never/rarely,Equal Irish and English,4,2,...,0,0,0,0,0,298,73,371,327,6.27
61,307,1,24,girl,3,Always,Never/rarely,Irish Only,4,4,...,0,1,0,1,0,628,428,1056,658,36.63
63,308,1,35,Boys,1,Always,Never/rarely,Mostly Irish,5,4,...,1,1,1,1,0,488,379,867,593,42.24
64,310,1,31,girl,2,Always,Never/rarely,Irish Only,5,5,...,0,0,0,0,0,407,17,424,410,23.43
65,311,1,21,Boys,1,Never/rarely,Always,English Only,2,3,...,0,0,0,0,0,13,59,72,60,0.00
69,313,1,25,girl,2,Usually,sometimes,Mostly Irish,3,4,...,0,0,0,0,0,185,111,296,223,15.51
72,314,1,29,Boys,3,sometimes,Usually,Equal Irish and English,4,2,...,0,0,1,0,1,266,516,782,535,14.52
76,316,1,26,girl,2,Always,Never/rarely,Mostly Irish,4,3,...,0,0,0,0,0,166,94,260,240,7.26
77,317,1,17,girl,3,Always,Never/rarely,Mostly Irish,-99,-99,...,0,0,0,0,0,70,22,92,84,0.33
78,318,1,28,Boys,2,Always,Never/rarely,Mostly Irish,2,-99,...,0,0,0,0,0,251,214,465,291,0.00
81,319,1,26,Boys,1,Always,Never/rarely,Equal Irish and English,4,2,...,0,0,0,0,0,236,291,527,346,13.53
84,320,1,25,Boys,3,Always,Never/rarely,Mostly Irish,4,1,...,0,0,0,0,0,180,44,224,208,6.93
86,322,1,28,girl,1,Always,Never/rarely,Irish Only,5,4,...,0,0,0,0,0,258,58,316,303,26.07
88,323,1,25,Boys,4,Always,Never/rarely,Irish Only,4,4,...,0,1,0,1,0,612,140,752,655,NaN
89,324,1,30,girl,1,Always,Never/rarely,Mostly Irish,5,2,...,0,0,1,0,0,302,131,433,370,16.50
90,325,1,35,girl,2,Always,Never/rarely,Mostly Irish,4,2,...,0,1,0,1,0,334,11,345,337,15.84
91,401,1,23,Boys,1,Always,Never/rarely,Mostly English,5,5,...,0,0,0,0,0,111,16,127,112,1.32
94,402,1,36,girl,2,50:50,50:50,Equal Irish and English,4,2,...,0,0,0,0,0,167,330,497,358,22.11
95,501,1,28,girl,1,Always,Never/rarely,Mostly English,4,1,...,0,0,0,0,0,378,136,514,488,40.92
96,503,1,25,girl,2,Always,Never/rarely,Irish Only,4,3,...,0,0,0,0,0,153,29,182,169,10.23
97,504,1,23,girl,3,Usually,Never/rarely,Irish Only,4,1,...,0,0,0,0,0,234,110,344,305,16.50
98,505,1,24,girl,1,Always,Never/rarely,Equal Irish and English,4,2,...,0,0,0,0,0,203,171,374,322,10.23

In [178]:
d = {}
for session in sessions:
    column_name = "session_"+str(session["SessionNo"].unique()[0])
    df = session.transpose()[10:-5]
    df["mean"] = df.mean(axis=1)
    d[column_name] = df["mean"]

In [195]:
for k,v in d.items():
    english_in_irish[k] = [np.nan]*10+list(v)+[np.nan]*5

In [196]:
english_in_irish.index = keep_columns[:10]+english_terms["item"].to_list()+keep_columns[-5:]

In [197]:
english_in_irish = english_in_irish.transpose()[-6:].transpose()

In [198]:
english_in_irish = english_in_irish.astype(float).round(2)[10:]

,session_1,session_2,session_3,session_4,session_5,session_6
ahah,0.91,0.85,0.94,1.00,1.0,1.0
baabaa,0.96,1.00,1.00,1.00,1.0,1.0
bowwow,0.96,0.93,1.00,1.00,1.0,1.0
choochoo,0.84,0.89,0.89,1.00,1.0,1.0
cockadoodledoo,0.69,0.81,0.89,0.83,1.0,1.0
...,...,...,...,...,...,...
TotIrish,NaN,NaN,NaN,NaN,NaN,NaN
TotEnglish,NaN,NaN,NaN,NaN,NaN,NaN
TotVocab,NaN,NaN,NaN,NaN,NaN,NaN
TotConcepVoc,NaN,NaN,NaN,NaN,NaN,NaN
ComplexityNew,NaN,NaN,NaN,NaN,NaN,NaN

In [199]:
english_in_irish.to_csv("english_in_irish.csv")

In [200]:
english_in_irish[10:]

,session_1,session_2,session_3,session_4,session_5,session_6
ahah,0.911111,0.851852,0.944444,1.000000,1.0,1.0
baabaa,0.955556,1.000000,1.000000,1.000000,1.0,1.0
bowwow,0.955556,0.925926,1.000000,1.000000,1.0,1.0
choochoo,0.844444,0.888889,0.888889,1.000000,1.0,1.0
cockadoodledoo,0.688889,0.814815,0.888889,0.833333,1.0,1.0
...,...,...,...,...,...,...
TotIrish,NaN,NaN,NaN,NaN,NaN,NaN
TotEnglish,NaN,NaN,NaN,NaN,NaN,NaN
TotVocab,NaN,NaN,NaN,NaN,NaN,NaN
TotConcepVoc,NaN,NaN,NaN,NaN,NaN,NaN
ComplexityNew,NaN,NaN,NaN,NaN,NaN,NaN