In [74]:
import pandas as pd
import numpy as np

In [90]:
instruction = pd.read_csv("wordbank/r01/Spanish_English_R01.csv").fillna("")
data = pd.read_csv("wordbank/r01/Spanish-English(R01, Bilingual).csv").fillna("")
instruction

,item,type,choices,itemID,complexity_category,gloss
0,baa baa,Sound Effects and Animal Sounds,produces/does not produce,item_1,,baa baa
1,choo choo,Sound Effects and Animal Sounds,produces/does not produce,item_2,,choo choo
2,cockadoodledoo,Sound Effects and Animal Sounds,produces/does not produce,item_3,,cockadoodledoo
3,grr,Sound Effects and Animal Sounds,produces/does not produce,item_4,,grr
4,meow,Sound Effects and Animal Sounds,produces/does not produce,item_5,,meow
...,...,...,...,...,...,...
565,shoeses,C. Word Endings Part 2,produces/does not produce,item_566,,shoeses
566,sockses,C. Word Endings Part 2,produces/does not produce,item_567,,sockses
567,teeths,C. Word Endings Part 2,produces/does not produce,item_568,,teeths
568,toeses,C. Word Endings Part 2,produces/does not produce,item_569,,toeses
569,tooths,C. Word Endings Part 2,produces/does not produce,item_570,,tooths

In [91]:
# data = data[:52]
data

,child,age(years),item_1,item_2,item_3,item_4,item_5,item_6,item_7,item_8,...,item_561,item_562,item_563,item_564,item_565,item_566,item_567,item_568,item_569,item_570
0,R01ED400,4.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1,R01ED402,4.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1,0,0,0,0,0,0,1,0,1
2,R01ED403,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0,0,1,1,0,0,0,1,0,0
3,R01ED408,4.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,R01ED409,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,R2130Mo139,3.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1,0,0,1,0,0,0,0,0,0
372,R2130Mo141,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,1,0,0
373,R2130Mo143,3.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
374,R2130Mo144,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
375,R2130Mo145,3.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0

In [92]:
# instruction = instruction[instruction["lang"]=="eng"]
item_dict = dict(zip(instruction["itemID"],instruction["item"]))
item_dict

{'item_1': 'baa baa',
 'item_2': 'choo choo',
 'item_3': 'cockadoodledoo',
 'item_4': 'grr',
 'item_5': 'meow',
 'item_6': 'moo',
 'item_7': 'ouch',
 'item_8': 'quack quack',
 'item_9': 'uh oh',
 'item_10': 'vroom',
 'item_11': 'woof woof',
 'item_12': 'yum yum',
 'item_13': 'alligator',
 'item_14': 'animal',
 'item_15': 'ant',
 'item_16': 'bear',
 'item_17': 'bee',
 'item_18': 'bird',
 'item_19': 'bug',
 'item_20': 'bunny',
 'item_21': 'butterfly',
 'item_22': 'cat',
 'item_23': 'chicken',
 'item_24': 'cow',
 'item_25': 'deer',
 'item_26': 'dog',
 'item_27': 'donkey',
 'item_28': 'duck',
 'item_29': 'elephant',
 'item_30': 'fish',
 'item_31': 'frog',
 'item_32': 'giraffe',
 'item_33': 'goose',
 'item_34': 'hen',
 'item_35': 'horse',
 'item_36': 'kitty',
 'item_37': 'lamb',
 'item_38': 'lion',
 'item_39': 'monkey',
 'item_40': 'moose',
 'item_41': 'mouse',
 'item_42': 'owl',
 'item_43': 'penguin',
 'item_44': 'pig',
 'item_45': 'pony',
 'item_46': 'puppy',
 'item_47': 'rooster',
 'item_48': 'sheep',
 'item_49': 'squirrel',
 'item_50': 'teddybear',
 'item_51': 'tiger',
 'item_52': 'turkey',
 'item_53': 'turtle',
 'item_54': 'wolf',
 'item_55': 'zebra',
 'item_56': 'airplane',
 'item_57': 'bicycle',
 'item_58': 'boat',
 'item_59': 'bus',
 'item_60': 'car',
 'item_61': 'firetruck',
 'item_62': 'helicopter',
 'item_63': 'motorcycle',
 'item_64': 'sled',
 'item_65': 'stroller',
 'item_66': 'tractor',
 'item_67': 'train',
 'item_68': 'tricycle',
 'item_69': 'truck',
 'item_70': 'apple',
 'item_71': 'applesauce',
 'item_72': 'banana',
 'item_73': 'beans',
 'item_74': 'bread',
 'item_75': 'butter',
 'item_76': 'cake',
 'item_77': 'candy',
 'item_78': 'carrots',
 'item_79': 'cereal',
 'item_80': 'cheerios',
 'item_81': 'cheese',
 'item_82': 'chicken_2',
 'item_83': 'chocolate',
 'item_84': 'coffee',
 'item_85': 'coke',
 'item_86': 'cookie',
 'item_87': 'corn',
 'item_88': 'cracker',
 'item_89': 'donut',
 'item_90': 'drink',
 'item_91': 'egg',
 'item_92': 'fish_2',
 'item_93': 'food',
 'item_94': 'french fries',
 'item_95': 'grapes',
 'item_96': 'green beans',
 'item_97': 'gum',
 'item_98': 'hamburger',
 'item_99': 'ice',
 'item_100': 'ice cream',
 'item_101': 'jello',
 'item_102': 'jelly',
 'item_103': 'juice',
 'item_104': 'lollipop',
 'item_105': 'meat',
 'item_106': 'melon',
 'item_107': 'milk',
 'item_108': 'muffin',
 'item_109': 'noodles',
 'item_110': 'nuts',
 'item_111': 'orange',
 'item_112': 'pancake',
 'item_113': 'peanut butter',
 'item_114': 'peas',
 'item_115': 'pickle',
 'item_116': 'pizza',
 'item_117': 'popcorn',
 'item_118': 'popsicle',
 'item_119': 'potato',
 'item_120': 'potato chip',
 'item_121': 'pretzel',
 'item_122': 'pudding',
 'item_123': 'pumpkin',
 'item_124': 'raisin',
 'item_125': 'salt',
 'item_126': 'sandwich',
 'item_127': 'sauce',
 'item_128': 'soda/pop',
 'item_129': 'soup',
 'item_130': 'spaghetti',
 'item_131': 'strawberry',
 'item_132': 'toast',
 'item_133': 'tuna',
 'item_134': 'vanilla',
 'item_135': 'vitamins',
 'item_136': 'water',
 'item_137': 'yogurt',
 'item_138': 'beads',
 'item_139': 'belt',
 'item_140': 'bib',
 'item_141': 'boots',
 'item_142': 'button',
 'item_143': 'coat',
 'item_144': 'diaper',
 'item_145': 'dress',
 'item_146': 'gloves',
 'item_147': 'hat',
 'item_148': 'jacket',
 'item_149': 'jeans',
 'item_150': 'mittens',
 'item_151': 'necklace',
 'item_152': 'pajamas',
 'item_153': 'pants',
 'item_154': 'scarf',
 'item_155': 'shirt',
 'item_156': 'shoe',
 'item_157': 'shorts',
 'item_158': 'slipper',
 'item_159': 'sneaker',
 'item_160': 'snowsuit',
 'item_161': 'sock',
 'item_162': 'sweater',
 'item_163': 'tights',
 'item_164': 'underpants',
 'item_165': 'zipper',
 'item_166': 'basket',
 'item_167': 'blanket',
 'item_168': 'bottle',
 'item_169': 'box',
 'item_170': 'bowl',
 'item_171': 'broom',
 'item_172': 'brush',
 'item_173': 'bucket',
 'item_174': 'camera',
 'item_175': 'can',
 'item_176': 'clock',
 'item_177': 'comb',
 'item_178': 'cup',
 'item_179': 'dish',
 'item_180': 'fork',
 'item_181': 'garbage',
 'item_182': 'glass',
 'item_183': 'glasses',
 'item_184': 'hammer',
 'item_185': 'jar',
 'item_186': 'keys',
 'item_187': 'knife',
 'item_188': 'lamp',
 'item_189': 'light',
 'item_190': 'medicine',
 'item_191': 'money',
 'item_192': 'mop',
 'item_193': 'nail',
 'item_194': 'napkin',
 'item_195': 'paper',
 'item_196': 'penny',
 'item_197': 'picture',
 'item_198': 'pillow',
 'item_199': 'plant',
 'item_200': 'plate',
 'item_201': 'purse',
 'item_202': 'radio',
 'item_203': 'scissors',
 'item_204': 'soap',
 'item_205': 'spoon',
 'item_206': 'tape',
 'item_207': 'telephone',
 'item_208': 'tissue/kleenex',
 'item_209': 'toothbrush',
 'item_210': 'towel',
 'item_211': 'trash',
 'item_212': 'tray',
 'item_213': 'vacuum',
 'item_214': 'walker',
 'item_215': 'watch',
 'item_216': 'basement',
 'item_217': 'bathroom',
 'item_218': 'bathtub',
 'item_219': 'bed',
 'item_220': 'bedroom',
 'item_221': 'bench',
 'item_222': 'chair',
 'item_223': 'closet',
 'item_224': 'couch',
 'item_225': 'crib',
 'item_226': 'door',
 'item_227': 'drawer',
 'item_228': 'dryer',
 'item_229': 'garage',
 'item_230': 'high chair',
 'item_231': 'kitchen',
 'item_232': 'living room',
 'item_233': 'oven',
 'item_234': 'play pen',
 'item_235': 'porch',
 'item_236': 'potty',
 'item_237': 'refrigerator',
 'item_238': 'rocking chair',
 'item_239': 'room',
 'item_240': 'shower',
 'item_241': 'sink',
 'item_242': 'sofa',
 'item_243': 'stairs',
 'item_244': 'stove',
 'item_245': 'table',
 'item_246': 'TV',
 'item_247': 'washing machine',
 'item_248': 'window',
 'item_249': 'backyard',
 'item_250': 'cloud',
 'item_251': 'flag',
 'item_252': 'flower',
 'item_253': 'garden',
 'item_254': 'grass',
 'item_255': 'hose',
 'item_256': 'ladder',
 'item_257': 'lawn mower',
 'item_258': 'moon',
 'item_259': 'pool',
 'item_260': 'rain',
 'item_261': 'rock',
 'item_262': 'roof',
 'item_263': 'sandbox',
 'item_264': 'shovel',
 'item_265': 'sidewalk',
 'item_266': 'sky',
 'item_267': 'slide',
 'item_268': 'snow',
 'item_269': 'snowman',
 'item_270': 'sprinkler',
 'item_271': 'star',
 'item_272': 'stick',
 'item_273': 'stone',
 'item_274': 'street',
 'item_275': 'sun',
 'item_276': 'swing',
 'item_277': 'tree',
 'item_278': 'water_2',
 'item_279': 'wind',
 'item_280': 'beach',
 'item_281': 'camping',
 'item_282': 'church*',
 'item_283': 'circus',
 'item_284': 'country',
 'item_285': 'downtown',
 'item_286': 'farm',
 'item_287': 'gas station',
 'item_288': 'home',
 'item_289': 'house',
 'item_290': 'movie',
 'item_291': 'outside',
 'item_292': 'park',
 'item_293': 'party',
 'item_294': 'picnic',
 'item_295': 'playground',
 'item_296': 'school',
 'item_297': 'store',
 'item_298': 'woods',
 'item_299': 'work',
 'item_300': 'yard',
 'item_301': 'zoo',
 'item_302': 'bath',
 'item_303': 'breakfast',
 'item_304': 'bye',
 'item_305': 'call (on phone)',
 'item_306': 'dinner',
 'item_307': 'give me five!',
 'item_308': 'gonna get you!',
 'item_309': 'go potty',
 'item_310': 'hi',
 'item_311': 'hello',
 'item_312': 'lunch',
 'item_313': 'nap',
 'item_314': 'night night',
 'item_315': 'no',
 'item_316': 'patty cake',
 'item_317': 'peekaboo',
 'item_318': 'please',
 'item_319': 'shh/shush/hush',
 'item_320': 'shopping',
 'item_321': 'snack',
 'item_322': 'so big!',
 'item_323': 'thank you',
 'item_324': 'this little piggy',
 'item_325': 'turn around',
 'item_326': 'yes',
 'item_327': 'bite',
 'item_328': 'blow',
 'item_329': 'break',
 'item_330': 'bring',
 'item_331': 'build',
 'item_332': 'bump',
 'item_333': 'buy',
 'item_334': 'carry',
 'item_335': 'catch',
 'item_336': 'chase',
 'item_337': 'clap',
 'item_338': 'clean',
 'item_339': 'climb',
 'item_340': 'close',
 'item_341': 'cook',
 'item_342': 'cover',
 'item_343': 'cry',
 'item_344': 'cut',
 'item_345': 'dance',
 'item_346': 'draw',
 'item_347': 'drink_2',
 'item_348': 'drive',
 'item_349': 'drop',
 'item_350': 'dry',
 'item_351': 'dump',
 'item_352': 'eat',
 'item_353': 'fall',
 'item_354': 'feed',
 'item_355': 'find',
 'item_356': 'finish',
 'item_357': 'fit',
 'item_358': 'fix',
 'item_359': 'get',
 'item_360': 'give',
 'item_361': 'go',
 'item_362': 'hate',
 'item_363': 'have',
 'item_364': 'hear',
 'item_365': 'help',
 'item_366': 'hide',
 'item_367': 'hit',
 'item_368': 'hold',
 'item_369': 'hug',
 'item_370': 'hurry',
 'item_371': 'jump',
 'item_372': 'kick',
 'item_373': 'kiss',
 'item_374': 'knock',
 'item_375': 'lick',
 'item_376': 'like',
 'item_377': 'listen',
 'item_378': 'look',
 'item_379': 'love',
 'item_380': 'make',
 'item_381': 'open',
 'item_382': 'paint',
 'item_383': 'pick',
 'item_384': 'play',
 'item_385': 'pour',
 'item_386': 'pretend',
 'item_387': 'pull',
 'item_388': 'push',
 'item_389': 'put',
 'item_390': 'read',
 'item_391': 'ride',
 'item_392': 'rip',
 'item_393': 'run',
 'item_394': 'say',
 'item_395': 'see',
 'item_396': 'shake',
 'item_397': 'share',
 'item_398': 'show',
 'item_399': 'sing',
 'item_400': 'sit',
 'item_401': 'skate',
 'item_402': 'sleep',
 'item_403': 'slide_2',
 'item_404': 'smile',
 'item_405': 'spill',
 'item_406': 'splash',
 'item_407': 'stand',
 'item_408': 'stay',
 'item_409': 'stop',
 'item_410': 'sweep',
 'item_411': 'swim',
 'item_412': 'swing_2',
 'item_413': 'take',
 'item_414': 'talk',
 'item_415': 'taste',
 'item_416': 'tear',
 'item_417': 'think',
 'item_418': 'throw',
 'item_419': 'tickle',
 'item_420': 'touch',
 'item_421': 'wait',
 'item_422': 'wake',
 'item_423': 'walk',
 'item_424': 'wash',
 'item_425': 'watch_2',
 'item_426': 'wipe',
 'item_427': 'wish',
 'item_428': 'work_2',
 'item_429': ' write',
 'item_430': 'allgone',
 'item_431': 'asleep',
 'item_432': 'awake',
 'item_433': 'bad',
 'item_434': 'better',
 'item_435': 'big',
 'item_436': 'black',
 'item_437': 'blue',
 'item_438': 'broken',
 'item_439': 'brown',
 'item_440': 'careful',
 'item_441': 'clean_2',
 'item_442': 'cold',
 'item_443': 'cute',
 'item_444': 'dark',
 'item_445': 'dirty',
 'item_446': 'dry_2',
 'item_447': 'empty',
 'item_448': 'fast',
 'item_449': 'fine',
 'item_450': 'first',
 'item_451': 'full',
 'item_452': 'gentle',
 'item_453': 'good',
 'item_454': 'green',
 'item_455': 'happy',
 'item_456': 'hard',
 'item_457': 'heavy',
 'item_458': 'high',
 'item_459': 'hot',
 'item_460': 'hungry',
 'item_461': 'hurt',
 'item_462': 'last',
 'item_463': 'little',
 'item_464': 'long',
 'item_465': 'loud',
 'item_466': 'mad',
 'item_467': 'naughty',
 'item_468': 'new',
 'item_469': 'nice',
 'item_470': 'noisy',
 'item_471': 'old',
 'item_472': 'orange_2',
 'item_473': 'poor',
 'item_474': 'pretty',
 'item_475': 'quiet',
 'item_476': 'red',
 'item_477': 'sad',
 'item_478': 'scared',
 'item_479': 'sick',
 'item_480': 'sleepy',
 'item_481': 'slow',
 'item_482': 'soft',
 'item_483': 'sticky',
 'item_484': 'stuck',
 'item_485': 'thirsty',
 'item_486': 'tiny',
 'item_487': 'tired',
 'item_488': 'wet',
 'item_489': 'white',
 'item_490': 'windy',
 'item_491': 'yellow',
 'item_492': 'yucky',
 'item_493': 'after',
 'item_494': 'before',
 'item_495': 'day',
 'item_496': 'later',
 'item_497': 'morning',
 'item_498': 'night',
 'item_499': 'now',
 'item_500': 'time',
 'item_501': 'today',
 'item_502': 'tomorrow',
 'item_503': 'tonight',
 'item_504': 'yesterday',
 'item_505': 'about ',
 'item_506': 'above',
 'item_507': 'around',
 'item_508': 'at',
 'item_509': 'away',
 'item_510': 'back',
 'item_511': 'behind',
 'item_512': 'beside',
 'item_513': 'by',
 'item_514': 'down',
 'item_515': 'for',
 'item_516': 'here',
 'item_517': 'inside/in',
 'item_518': 'into',
 'item_519': 'next to',
 'item_520': 'of',
 'item_521': 'off',
 'item_522': 'on',
 'item_523': 'on top of',
 'item_524': 'out',
 'item_525': 'over',
 'item_526': 'there',
 'item_527': 'to',
 'item_528': 'under',
 'item_529': 'up',
 'item_530': 'with',
 'item_531': 'am',
 'item_532': 'are',
 'item_533': 'be',
 'item_534': 'can_2',
 'item_535': 'could',
 'item_536': 'did/did ya',
 'item_537': 'do',
 'item_538': 'does',
 'item_539': 'don’t',
 'item_540': 'gonna/ going to',
 'item_541': 'gotta/ got to',
 'item_542': 'hafta/ have to',
 'item_543': 'is',
 'item_544': 'lemme/ let me',
 'item_545': 'need/ need to',
 'item_546': ' try/ try to',
 'item_547': ' wanna/ want to',
 'item_548': 'was',
 'item_549': 'were',
 'item_550': 'will',
 'item_551': 'would',
 'item_552': 'children',
 'item_553': 'feet',
 'item_554': 'men',
 'item_555': 'mice',
 'item_556': 'teeth',
 'item_557': 'blockses',
 'item_558': 'childrens',
 'item_559': 'childs',
 'item_560': 'feets',
 'item_561': 'foots',
 'item_562': 'mans',
 'item_563': 'mens',
 'item_564': 'mices',
 'item_565': 'mouses',
 'item_566': 'shoeses',
 'item_567': 'sockses',
 'item_568': 'teeths',
 'item_569': 'toeses',
 'item_570': 'tooths'}

In [93]:
columns = []
for c in list(data.columns):
    if c in item_dict:
        columns.append(item_dict[c])
    else:
        columns.append(c)

In [94]:
data.columns = columns
columns = [c for c in columns if "item" not in c]
data = data[columns]
data

,child,age(years),baa baa,choo choo,cockadoodledoo,grr,meow,moo,ouch,quack quack,...,foots,mans,mens,mices,mouses,shoeses,sockses,teeths,toeses,tooths
0,R01ED400,4.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1,R01ED402,4.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1,0,0,0,0,0,0,1,0,1
2,R01ED403,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0,0,1,1,0,0,0,1,0,0
3,R01ED408,4.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,R01ED409,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,R2130Mo139,3.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1,0,0,1,0,0,0,0,0,0
372,R2130Mo141,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,1,0,0
373,R2130Mo143,3.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
374,R2130Mo144,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
375,R2130Mo145,3.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0

In [95]:
def map_years(x):
    if x:
        return x*12
    return ""

data["age"] = data["age(years)"].apply(lambda x:map_years(x))

In [96]:
data

,child,age(years),baa baa,choo choo,cockadoodledoo,grr,meow,moo,ouch,quack quack,...,mans,mens,mices,mouses,shoeses,sockses,teeths,toeses,tooths,age
0,R01ED400,4.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,48.0
1,R01ED402,4.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,1,0,1,48.0
2,R01ED403,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0,1,1,0,0,0,1,0,0,48.0
3,R01ED408,4.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,48.0
4,R01ED409,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,48.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,R2130Mo139,3.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,0,0,1,0,0,0,0,0,0,36.0
372,R2130Mo141,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,1,0,0,36.0
373,R2130Mo143,3.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,36.0
374,R2130Mo144,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,36.0
375,R2130Mo145,3.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,36.0

In [100]:
age = data.pop("age")
data.insert(1,"age",age)
data.pop("age(years)")
data

,child,age,baa baa,choo choo,cockadoodledoo,grr,meow,moo,ouch,quack quack,...,foots,mans,mens,mices,mouses,shoeses,sockses,teeths,toeses,tooths
0,R01ED400,48.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1,R01ED402,48.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1,0,0,0,0,0,0,1,0,1
2,R01ED403,48.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0,0,1,1,0,0,0,1,0,0
3,R01ED408,48.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,R01ED409,48.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,R2130Mo139,36.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1,0,0,1,0,0,0,0,0,0
372,R2130Mo141,36.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,1,0,0
373,R2130Mo143,36.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
374,R2130Mo144,36.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
375,R2130Mo145,36.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0

In [101]:
data.to_csv("individual_info_R01.csv",index=False)

In [102]:
## group the kids by eglish visit because we analyze only the english data
eg = data.groupby("age")
sessions = [eg.get_group(x) for x in eg.groups]

In [103]:
data=data.transpose()

In [104]:
d = {}
for session in sessions:
    childs = session["child"].to_list()
    column_name = "age_"+str(session["age"].unique()[0])
    df = session.transpose()[2:].replace("",np.nan)
    df["mean"] = df.mean(axis=1)
    df = df.astype(float).round(2)
#     if column_name=="age_34":
#         for i,j in df.iterrows():
#             if j["mean"]<0:
#                 print(i,j)

    d[column_name] = [childs,df["mean"]]

In [105]:
d

{'age_30.0': [['R01ED400',
   'R01ED402',
   'R01ED403',
   'R01ED408',
   'R01ED409',
   'R01ED411',
   'R01ED414',
   'R01ED416',
   'R01ED419',
   'R01ED420',
   'R01ED421',
   'R01ED422',
   'R01ED423',
   'R01ED424',
   'R01ED429',
   'R01ED432',
   'R01ED435',
   'R01ED436',
   'R01ED439',
   'R01ED440',
   'R01ED441',
   'R01ED443',
   'R01ED448',
   'R01ED449',
   'R01ED450',
   'R01ED453',
   'R01ED454',
   'R01ED459',
   'R2130Mo008',
   'R2130Mo013',
   'R2130Mo014',
   'R2130Mo015',
   'R2130Mo020',
   'R2130Mo021',
   'R2130Mo027',
   'R2130Mo032',
   'R2130Mo033',
   'R2130Mo035',
   'R2130Mo037',
   'R2130Mo038',
   'R2130Mo040',
   'R2130Mo041',
   'R2130Mo043',
   'R2130Mo044',
   'R2130Mo045',
   'R2130Mo046',
   'R2130Mo047',
   'R2130Mo050',
   'R2130Mo052',
   'R2130Mo054',
   'R2130Mo055',
   'R2130Mo056',
   'R2130Mo062',
   'R2130Mo067',
   'R2130Mo069',
   'R2130Mo074',
   'R2130Mo080',
   'R2130Mo086',
   'R2130Mo087',
   'R2130Mo088',
   'R2130Mo092',
   'R2130Mo093',
   'R2130Mo094',
   'R2130Mo095',
   'R2130Mo097',
   'R2130Mo101',
   'R2130Mo102',
   'R2130Mo103',
   'R2130Mo104',
   'R2130Mo105',
   'R2130Mo107',
   'R2130Mo108',
   'R2130Mo109',
   'R2130Mo111',
   'R2130Mo112',
   'R2130Mo114',
   'R2130Mo116',
   'R2130Mo117',
   'R2130Mo118',
   'R2130Mo122',
   'R2130Mo123',
   'R2130Mo128',
   'R2130Mo129',
   'R2130Mo132',
   'R2130Mo133',
   'R2130Mo135',
   'R2130Mo136',
   'R2130Mo137',
   'R2130Mo138',
   'R2130Mo139',
   'R2130Mo141',
   'R2130Mo143',
   'R2130Mo144',
   'R2130Mo145'],
  baa baa           0.69
  choo choo         0.82
  cockadoodledoo    0.52
  grr               0.76
  meow              0.87
                    ...
  shoeses           0.06
  sockses           0.05
  teeths            0.16
  toeses            0.02
  tooths            0.10
  Name: mean, Length: 570, dtype: float64],
 'age_36.0': [['R01ED400',
   'R01ED402',
   'R01ED403',
   'R01ED408',
   'R01ED409',
   'R01ED411',
   'R01ED414',
   'R01ED416',
   'R01ED419',
   'R01ED420',
   'R01ED421',
   'R01ED422',
   'R01ED423',
   'R01ED424',
   'R01ED429',
   'R01ED432',
   'R01ED435',
   'R01ED436',
   'R01ED439',
   'R01ED440',
   'R01ED441',
   'R01ED443',
   'R01ED448',
   'R01ED449',
   'R01ED450',
   'R01ED453',
   'R01ED454',
   'R01ED459',
   'R2130Mo008',
   'R2130Mo013',
   'R2130Mo014',
   'R2130Mo015',
   'R2130Mo020',
   'R2130Mo021',
   'R2130Mo027',
   'R2130Mo032',
   'R2130Mo033',
   'R2130Mo035',
   'R2130Mo037',
   'R2130Mo038',
   'R2130Mo040',
   'R2130Mo041',
   'R2130Mo043',
   'R2130Mo044',
   'R2130Mo045',
   'R2130Mo046',
   'R2130Mo047',
   'R2130Mo050',
   'R2130Mo052',
   'R2130Mo054',
   'R2130Mo055',
   'R2130Mo056',
   'R2130Mo062',
   'R2130Mo067',
   'R2130Mo069',
   'R2130Mo074',
   'R2130Mo080',
   'R2130Mo086',
   'R2130Mo087',
   'R2130Mo088',
   'R2130Mo092',
   'R2130Mo093',
   'R2130Mo094',
   'R2130Mo095',
   'R2130Mo097',
   'R2130Mo101',
   'R2130Mo102',
   'R2130Mo103',
   'R2130Mo104',
   'R2130Mo105',
   'R2130Mo107',
   'R2130Mo108',
   'R2130Mo109',
   'R2130Mo111',
   'R2130Mo112',
   'R2130Mo114',
   'R2130Mo116',
   'R2130Mo117',
   'R2130Mo118',
   'R2130Mo122',
   'R2130Mo123',
   'R2130Mo128',
   'R2130Mo129',
   'R2130Mo132',
   'R2130Mo133',
   'R2130Mo135',
   'R2130Mo136',
   'R2130Mo137',
   'R2130Mo138',
   'R2130Mo139',
   'R2130Mo141',
   'R2130Mo143',
   'R2130Mo144',
   'R2130Mo145'],
  baa baa           0.69
  choo choo         0.82
  cockadoodledoo    0.52
  grr               0.76
  meow              0.87
                    ...
  shoeses           0.06
  sockses           0.05
  teeths            0.16
  toeses            0.02
  tooths            0.10
  Name: mean, Length: 570, dtype: float64],
 'age_42.0': [['R01ED400',
   'R01ED402',
   'R01ED403',
   'R01ED408',
   'R01ED409',
   'R01ED411',
   'R01ED414',
   'R01ED416',
   'R01ED419',
   'R01ED420',
   'R01ED421',
   'R01ED422',
   'R01ED423',
   'R01ED424',
   'R01ED429',
   'R01ED432',
   'R01ED435',
   'R01ED436',
   'R01ED439',
   'R01ED440',
   'R01ED441',
   'R01ED443',
   'R01ED448',
   'R01ED449',
   'R01ED450',
   'R01ED453',
   'R01ED454',
   'R01ED459',
   'R2130Mo008',
   'R2130Mo013',
   'R2130Mo014',
   'R2130Mo015',
   'R2130Mo020',
   'R2130Mo021',
   'R2130Mo027',
   'R2130Mo032',
   'R2130Mo033',
   'R2130Mo035',
   'R2130Mo037',
   'R2130Mo038',
   'R2130Mo040',
   'R2130Mo041',
   'R2130Mo043',
   'R2130Mo044',
   'R2130Mo045',
   'R2130Mo046',
   'R2130Mo047',
   'R2130Mo050',
   'R2130Mo052',
   'R2130Mo054',
   'R2130Mo055',
   'R2130Mo056',
   'R2130Mo062',
   'R2130Mo067',
   'R2130Mo069',
   'R2130Mo074',
   'R2130Mo080',
   'R2130Mo086',
   'R2130Mo087',
   'R2130Mo088',
   'R2130Mo092',
   'R2130Mo093',
   'R2130Mo094',
   'R2130Mo095',
   'R2130Mo097',
   'R2130Mo101',
   'R2130Mo102',
   'R2130Mo103',
   'R2130Mo104',
   'R2130Mo105',
   'R2130Mo107',
   'R2130Mo108',
   'R2130Mo109',
   'R2130Mo111',
   'R2130Mo112',
   'R2130Mo114',
   'R2130Mo116',
   'R2130Mo117',
   'R2130Mo118',
   'R2130Mo122',
   'R2130Mo123',
   'R2130Mo128',
   'R2130Mo129',
   'R2130Mo132',
   'R2130Mo133',
   'R2130Mo135',
   'R2130Mo136',
   'R2130Mo137',
   'R2130Mo138',
   'R2130Mo139',
   'R2130Mo141',
   'R2130Mo143',
   'R2130Mo144',
   'R2130Mo145'],
  baa baa           0.69
  choo choo         0.82
  cockadoodledoo    0.52
  grr               0.76
  meow              0.87
                    ...
  shoeses           0.06
  sockses           0.05
  teeths            0.16
  toeses            0.02
  tooths            0.10
  Name: mean, Length: 570, dtype: float64],
 'age_48.0': [['R01ED400',
   'R01ED402',
   'R01ED403',
   'R01ED408',
   'R01ED409',
   'R01ED411',
   'R01ED414',
   'R01ED416',
   'R01ED419',
   'R01ED420',
   'R01ED421',
   'R01ED422',
   'R01ED423',
   'R01ED424',
   'R01ED429',
   'R01ED432',
   'R01ED435',
   'R01ED436',
   'R01ED439',
   'R01ED440',
   'R01ED441',
   'R01ED443',
   'R01ED448',
   'R01ED449',
   'R01ED450',
   'R01ED453',
   'R01ED454',
   'R01ED459',
   'R2130Mo008',
   'R2130Mo013',
   'R2130Mo014',
   'R2130Mo015',
   'R2130Mo020',
   'R2130Mo021',
   'R2130Mo027',
   'R2130Mo032',
   'R2130Mo033',
   'R2130Mo035',
   'R2130Mo037',
   'R2130Mo038',
   'R2130Mo040',
   'R2130Mo041',
   'R2130Mo043',
   'R2130Mo044',
   'R2130Mo045',
   'R2130Mo046',
   'R2130Mo047',
   'R2130Mo050',
   'R2130Mo052',
   'R2130Mo054',
   'R2130Mo055',
   'R2130Mo056',
   'R2130Mo062',
   'R2130Mo067',
   'R2130Mo069',
   'R2130Mo074',
   'R2130Mo080',
   'R2130Mo086',
   'R2130Mo087',
   'R2130Mo088',
   'R2130Mo092',
   'R2130Mo093',
   'R2130Mo094',
   'R2130Mo095',
   'R2130Mo097',
   'R2130Mo101',
   'R2130Mo102',
   'R2130Mo103',
   'R2130Mo104',
   'R2130Mo105',
   'R2130Mo107',
   'R2130Mo108',
   'R2130Mo109',
   'R2130Mo111',
   'R2130Mo112',
   'R2130Mo114',
   'R2130Mo116',
   'R2130Mo117',
   'R2130Mo118',
   'R2130Mo122',
   'R2130Mo123',
   'R2130Mo128',
   'R2130Mo129',
   'R2130Mo132',
   'R2130Mo133',
   'R2130Mo135',
   'R2130Mo136',
   'R2130Mo137',
   'R2130Mo138',
   'R2130Mo139',
   'R2130Mo141',
   'R2130Mo143',
   'R2130Mo144',
   'R2130Mo145'],
  baa baa           0.69
  choo choo         0.82
  cockadoodledoo    0.52
  grr               0.76
  meow              0.87
                    ...
  shoeses           0.06
  sockses           0.05
  teeths            0.16
  toeses            0.02
  tooths            0.10
  Name: mean, Length: 570, dtype: float64]}

In [106]:
for k,v in d.items():
    data[k] = [str(v[0])]+[np.nan]+list(v[1])

In [107]:
data

,0,1,2,3,4,5,6,7,8,9,...,370,371,372,373,374,375,age_30.0,age_36.0,age_42.0,age_48.0
child,R01ED400,R01ED402,R01ED403,R01ED408,R01ED409,R01ED411,R01ED414,R01ED416,R01ED419,R01ED420,...,R2130Mo138,R2130Mo139,R2130Mo141,R2130Mo143,R2130Mo144,R2130Mo145,"['R01ED400', 'R01ED402', 'R01ED403', 'R01ED408...","['R01ED400', 'R01ED402', 'R01ED403', 'R01ED408...","['R01ED400', 'R01ED402', 'R01ED403', 'R01ED408...","['R01ED400', 'R01ED402', 'R01ED403', 'R01ED408..."
age,48.0,48.0,48.0,48.0,48.0,48.0,48.0,48.0,48.0,48.0,...,36.0,36.0,36.0,36.0,36.0,36.0,NaN,NaN,NaN,NaN
baa baa,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,0.0,0.0,1.0,0.69,0.69,0.69,0.69
choo choo,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,0.0,0.0,1.0,0.82,0.82,0.82,0.82
cockadoodledoo,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.52,0.52,0.52,0.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
shoeses,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.06,0.06,0.06,0.06
sockses,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.05,0.05,0.05,0.05
teeths,0,1,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0.16,0.16,0.16,0.16
toeses,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.02,0.02,0.02,0.02
tooths,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.1,0.1,0.1,0.1

In [108]:
data = data.transpose()[-3:].drop(columns=["age"]).transpose()
data

,age_36.0,age_42.0,age_48.0
child,"['R01ED400', 'R01ED402', 'R01ED403', 'R01ED408...","['R01ED400', 'R01ED402', 'R01ED403', 'R01ED408...","['R01ED400', 'R01ED402', 'R01ED403', 'R01ED408..."
baa baa,0.69,0.69,0.69
choo choo,0.82,0.82,0.82
cockadoodledoo,0.52,0.52,0.52
grr,0.76,0.76,0.76
...,...,...,...
shoeses,0.06,0.06,0.06
sockses,0.05,0.05,0.05
teeths,0.16,0.16,0.16
toeses,0.02,0.02,0.02
tooths,0.1,0.1,0.1

In [110]:
data.to_csv("by_word_by_age(R01).csv")